tools/wsdlto/test/src/test/resources/wsdl2java_wsdl/hello_world_with_enum_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Licensed to the Apache Software Foundation (ASF) under one
	or more contributor license agreements. See the NOTICE file
	distributed with this work for additional information
	regarding copyright ownership. The ASF licenses this file
	to you under the Apache License, Version 2.0 (the
	"License"); you may not use this file except in compliance
	with the License. You may obtain a copy of the License at
	
	http://www.apache.org/licenses/LICENSE-2.0
	
	Unless required by applicable law or agreed to in writing,
	software distributed under the License is distributed on an
	"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
	KIND, either express or implied. See the License for the
	specific language governing permissions and limitations
	under the License.
-->
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://cxf.apache.org/w2j/hello_world_soap_http"
	xmlns:x1="http://cxf.apache.org/w2j/hello_world_soap_http/types"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://cxf.apache.org/w2j/hello_world_soap_http"
	name="HelloWorldWithEnum">
	<wsdl:types>
		<schema
			targetNamespace="http://cxf.apache.org/w2j/hello_world_soap_http/types"
			xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:x1="http://cxf.apache.org/w2j/hello_world_soap_http/types"
			elementFormDefault="qualified">

			<element name="greetMe">
				<complexType>
					<sequence>
						<element name="requestType" type="x1:actionList" />
					</sequence>
				</complexType>
			</element>
			<element name="greetMeResponse">
				<complexType>
					<sequence>
						<element name="responseType" type="x1:actionList" />
					</sequence>
				</complexType>
			</element>

			<xsd:simpleType name="actionList">
				<xsd:list itemType="x1:actionType" />
			</xsd:simpleType>
			<xsd:simpleType name="actionType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Update" />
					<xsd:enumeration value="Cancel" />
				</xsd:restriction>
			</xsd:simpleType>


		</schema>
	</wsdl:types>

	<wsdl:message name="greetMeRequest">
		<wsdl:part name="in" element="x1:greetMe" />
	</wsdl:message>
	<wsdl:message name="greetMeResponse">
		<wsdl:part name="out" element="x1:greetMeResponse" />
	</wsdl:message>

	<wsdl:portType name="Greeter">

		<wsdl:operation name="greetMe">
			<wsdl:input name="greetMeRequest"
				message="tns:greetMeRequest" />
			<wsdl:output name="greetMeResponse"
				message="tns:greetMeResponse" />
		</wsdl:operation>

	</wsdl:portType>
	<wsdl:binding name="Greeter_SOAPBinding" type="tns:Greeter">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="greetMe">
			<soap:operation style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="SOAPService_Test1">
		<wsdl:port name="SoapPort_Test1"
			binding="tns:Greeter_SOAPBinding">
			<soap:address location="http://localhost:9100" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

