tools/wsdlto/test/src/test/resources/wsdl2java_wsdl/pizza_messages.wsdl

<?xml version="1.0" ?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements. See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership. The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->

<wsdl:definitions
    name="PizzaService"
    targetNamespace="http://mypizzaco.com/pizza"
    xmlns:tns="http://mypizzaco.com/pizza"
    xmlns:types="http://mypizzaco.com/pizza/types"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://mypizzaco.com/pizza/types"
               xmlns:tns="http://mypizzaco.com/pizza/types"
                           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                           elementFormDefault="qualified"
                           version="1.0">
      <xsd:import schemaLocation="pizza_schema.xml" namespace="http://mypizzaco.com/pizza/types"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:portType name="PizzaPortType">
    <wsdl:operation name="OrderPizzaBroken">
      <wsdl:input message="tns:OrderPizzaBrokenRequest" />
      <wsdl:output message="tns:OrderPizzaBrokenResponse" />
    </wsdl:operation>
    <wsdl:operation name="OrderPizza">
      <wsdl:input message="tns:OrderPizzaRequest" />
      <wsdl:output message="tns:OrderPizzaResponse" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:message name="CallerIDHeader">
    <wsdl:part name="callerID" element="types:CallerIDHeader"/>
  </wsdl:message>
  <wsdl:message name="OrderPizzaBrokenRequest">
    <wsdl:part name="body" element="types:OrderPizza"/>
  </wsdl:message>
  <wsdl:message name="OrderPizzaBrokenResponse">
    <wsdl:part name="body" element="types:OrderPizzaResponse"/>
  </wsdl:message>
  <wsdl:message name="OrderPizzaRequest">
    <wsdl:part name="body" element="types:OrderPizza"/>
    <wsdl:part name="callerID" element="types:CallerIDHeader"/>
  </wsdl:message>
  <wsdl:message name="OrderPizzaResponse">
    <wsdl:part name="body" element="types:OrderPizzaResponse"/>
  </wsdl:message>
</wsdl:definitions>