tools/wsdlto/test/src/test/resources/wsdl2java_wsdl/w3c-epr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
-->
<definitions name="AddNumbers" targetNamespace="http://apache.org/w3c/epr"
	xmlns:tns="http://apache.org/w3c/epr"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://apache.org/w3c/epr">
			<import namespace="http://www.w3.org/2005/08/addressing"
				schemaLocation="http://www.w3.org/2005/08/addressing/ws-addr.xsd" />
			<element name="addNumbersResponse" type="xsd:string" />

			<complexType name="addNumbers">
				<sequence>
					<element name="number1" type="xsd:int" />
					<element name="number2" type="xsd:int" />
				</sequence>
			</complexType>
			<element name="addNumbers" type="wsa:EndpointReferenceType" />

			<element name="AddNumbersFault" type="tns:AddNumbersFault" />
			<complexType name="AddNumbersFault">
				<sequence>
					<element name="detail" type="xsd:string" />
					<element name="message" type="xsd:string" />
				</sequence>
			</complexType>
		</xsd:schema>
	</types>
	<message name="addNumbers">
		<part name="parameters" element="tns:addNumbers" />
	</message>
	<message name="addNumbersResponse">
		<part name="result" element="tns:AddNumbersFault" />
	</message>


	<message name="addNumbersFault">
		<part name="result" element="tns:addNumbersResponse" />
	</message>


	<portType name="AddNumbersPortType">
		<operation name="addNumbers">
			<input message="tns:addNumbers" />
			<output message="tns:addNumbersResponse" />
			<fault name="addNumbersFault" message="tns:addNumbersFault" />
		</operation>
	</portType>
	<binding name="AddNumbersBinding" type="tns:AddNumbersPortType">
		<wsaw:UsingAddressing wsdl:required="false" />
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="addNumbers">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="addNumbersFault">
				<soap:fault name="addNumbersFault" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="AddNumbersService">
		<port name="AddNumbersPort" binding="tns:AddNumbersBinding">
			<soap:address
				location="http://localhost:9000/SoapContext/SoapPort" />

		</port>
	</service>
</definitions>