tools/validator/src/test/resources/validator_wsdl/cxf996.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements. See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership. The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License. You may obtain a copy of the License at
 
  http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://apache.org/hello_world_doc_lit_bare" xmlns:x1="http://apache.org/hello_world_doc_lit_bare/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://apache.org/hello_world_doc_lit_bare" name="DocLitBare">
    <wsdl:types>
        <schema targetNamespace="http://apache.org/hello_world_doc_lit_bare/types" xmlns:tns="http://apache.org/hello_world_doc_lit_bare/types" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <element name="intRequest" type="xsd:int"/>
            <element name="intInOutRequest" type="xsd:int"/>
            <element name="outStringResponse" type="xsd:string" nillable="true" />
            <element name="outIntResponse" type="xsd:int" />
        </schema>

    </wsdl:types>
    
    <message name="pingMeRequest">
        <part name="intRequest" element="x1:intRequest"/>
        <part name="intInOutRequest" element="x1:intInOutRequest" />
    </message>
    
    <message name="pingMeResponse">
        <part name="outStringResponse" element="x1:outStringResponse"/>
        <part name="outIntResponse" element="x1:outIntResponse" />
        <part name="intInOutRequest" element="x1:intInOutRequest" />

    </message>

    <portType name="pingMePortType">
        <operation name="pingMe">
            <input message="tns:pingMeRequest"/>
            <output message="tns:pingMeResponse"/>
        </operation>        
    </portType>
    
    <binding name="pingMeSoapBinding" type="tns:pingMePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="pingMe">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>       
    </binding>

    
    <wsdl:service name="SOAPService">
        <wsdl:port name="SoapPort" binding="tns:pingMeSoapBinding">
            <soap:address location="http://localhost:9107/soapContext"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
