tools/corba/src/test/resources/idlgen/array.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<definitions name="anon.idl" targetNamespace="http://schemas.apache.org/idl/anon.idl" xmlns:tns="http://schemas.apache.org/idl/anon.idl" xmlns:corbatm="http://schemas.apache.org/bindings/corba/typemap" xmlns:corba="http://cxf.apache.org/bindings/corba" xmlns:ns1="http://schemas.apache.org/idl/anon.idl/corba/typemap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://schemas.apache.org/idltypes/anon.idl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <corba:typeMapping targetNamespace="http://schemas.apache.org/idl/anon.idl/corba/typemap/">
    <corba:sequence xmlns:xsd1="http://schemas.apache.org/idltypes/anon.idl" elemtype="corba:string" bound="1" repositoryID="IDL:p2Array:1.0" type="xsd1:p2" name="p2Array" />
    <corba:array xmlns:xsd1="http://schemas.apache.org/idltypes/anon.idl" elemtype="corba:string" bound="5" repositoryID="IDL:p3Array:1.0" type="xsd1:p3" name="p3Array" />
    <corba:sequence xmlns:xsd1="http://schemas.apache.org/idltypes/anon.idl" elemtype="corba:string" bound="0" repositoryID="IDL:p4Array:1.0" type="xsd1:p4" name="p4Array" />
    <corba:sequence xmlns:xsd1="http://schemas.apache.org/idltypes/anon.idl" elemtype="corba:string" bound="15" repositoryID="IDL:p5Array:1.0" type="xsd1:p5" name="p5Array" />
    <corba:sequence xmlns:xsd1="http://schemas.apache.org/idltypes/anon.idl" elemtype="corba:string" bound="0" repositoryID="IDL:p6Array:1.0" type="xsd1:p6" name="p6Array" />
    <corba:sequence xmlns:xsd1="http://schemas.apache.org/idltypes/anon.idl" elemtype="corba:string" bound="10" repositoryID="IDL:p7Array:1.0" type="xsd1:p7" name="p7Array" />
    <corba:struct xmlns:xsd1="http://schemas.apache.org/idltypes/anon.idl" repositoryID="IDL:ArrayType:1.0" type="xsd1:ArrayType" name="ArrayType">
      <corba:member name="p1" idltype="corba:string" />
      <corba:member xmlns:ns1="http://schemas.apache.org/idl/anon.idl/corba/typemap/" name="p2" idltype="ns1:p2Array" />
      <corba:member xmlns:ns1="http://schemas.apache.org/idl/anon.idl/corba/typemap/" name="p3" idltype="ns1:p3Array" />
      <corba:member xmlns:ns1="http://schemas.apache.org/idl/anon.idl/corba/typemap/" name="p4" idltype="ns1:p4Array" />
      <corba:member xmlns:ns1="http://schemas.apache.org/idl/anon.idl/corba/typemap/" name="p5" idltype="ns1:p5Array" />
      <corba:member xmlns:ns1="http://schemas.apache.org/idl/anon.idl/corba/typemap/" name="p6" idltype="ns1:p6Array" />
      <corba:member xmlns:ns1="http://schemas.apache.org/idl/anon.idl/corba/typemap/" name="p7" idltype="ns1:p7Array" />
    </corba:struct>
    </corba:typeMapping>
  <types>
    <schema targetNamespace="http://schemas.apache.org/idltypes/anon.idl" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexType name="ArrayType">
                <sequence>
                    <element name="p1" type="xsd:string"/>  <!-- This is a single part -->
                    <element minOccurs="0" name="p2" type="xsd:string"/> <!-- This is mapped to a bound
ed sequence with bound 1 -->
                    <element maxOccurs="5" minOccurs="5" name="p3" type="xsd:string"/> <!-- This should
 be mapped to a corba array -->
                    <element maxOccurs="unbounded" minOccurs="0" name="p4" type="xsd:string"/> <!-- Thi
s should be mapped to a corba sequence -->
                    <element maxOccurs="15" minOccurs="0" name="p5" type="xsd:string"/> <!-- This is cu
rrently mapped to a corba sequence -->
                    <element maxOccurs="unbounded" minOccurs="2" name="p6" type="xsd:string"/>  <!-- Th
is is currently mapped to a corba sequence -->
                    <element maxOccurs="10" minOccurs="3" name="p7" type="xsd:string"/> <!-- This is cu
rrently mapped to a corba sequence -->
                </sequence>
            </complexType>

        </schema>
  </types>
  <message name="X.op_aResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="X.op_a">
    <part name="part1" type="xsd1:ArrayType"/>
  </message>
  <portType name="X">
    <operation name="op_a">
      <input name="op_a" message="tns:X.op_a"/>
      <output name="op_aResponse" message="tns:X.op_aResponse"/>
    </operation>
  </portType>
  <binding name="XCORBABinding" type="tns:X">
    <corba:binding repositoryID="IDL:X:1.0" />
    <operation name="op_a">
      <corba:operation name="op_a">
        <corba:param xmlns:ns1="http://schemas.apache.org/idl/anon.idl/corba/typemap/" mode="in" name="part1" idltype="ns1:ArrayType" />
        <corba:return name="return" idltype="corba:string" />
      </corba:operation>
      <input name="op_a">
      </input>
      <output name="op_aResponse">
      </output>
    </operation>
  </binding>
</definitions>
