tools/corba/src/test/resources/idlgen/databaseService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<wsdl:definitions name="DatabaseService" targetNamespace="http://schemas.apache.org/dbservice" xmlns:corba="http://cxf.apache.org/bindings/corba" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.apache.org/dbservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http:/schemas.apache.org/dbservice/typemap" xmlns:ns2="http://schemas.xmlsoap.org/wsdl/http" xmlns:soap="http://schemas.xmlsoap.org/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <corba:typeMapping targetNamespace="http:/schemas.apache.org/dbservice/typemap">
    <corba:struct xmlns:ns1="http://schemas.apache.org/dbservice" repositoryID="IDL:getNameResponseResultList1Type:1.0" type="ns1:getNameResponseResultList1Type" name="getNameResponseResultList1Type">
      <corba:member name="NAME" idltype="corba:string" />
    </corba:struct>
    <corba:struct xmlns:ns1="http://schemas.apache.org/dbservice" repositoryID="IDL:getName:1.0" type="ns1:getName" name="getName">
      <corba:member name="Parameter1" idltype="corba:long" />
    </corba:struct>
    <corba:anonsequence xmlns:ns1="http://schemas.apache.org/dbservice" xmlns:ns3="http:/schemas.apache.org/dbservice/typemap" elemtype="ns3:getNameResponseResultList1Type" bound="0" type="ns1:getNameResponse" name="getNameResponseType" />
    <corba:exception xmlns:ns1="http://schemas.apache.org/dbservice" repositoryID="IDL:getNameFault:1.0" type="ns1:getNameFault" name="getNameFault">
      <corba:member name="message" idltype="corba:string" />
      <corba:member name="category" idltype="corba:string" />
    </corba:exception>
  </corba:typeMapping>
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.apache.org/dbservice" xmlns="http://schemas.apache.org/dbservice">
<xsd:element name="getName">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Parameter1" nillable="false" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getNameResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ResultList1" type="getNameResponseResultList1Type"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="getNameResponseResultList1Type">
<xsd:sequence>
<xsd:element name="NAME" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getNameFault">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="message" type="xsd:string"/>
<xsd:element name="category" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getNameFault">
    <wsdl:part name="getNameFault" element="ns1:getNameFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getName">
    <wsdl:part name="getName" element="ns1:getName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNameResponse">
    <wsdl:part name="getNameResponse" element="ns1:getNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Database">
    <wsdl:operation name="getName">
      <wsdl:input name="getName" message="ns1:getName">
    </wsdl:input>
      <wsdl:output name="getNameResponse" message="ns1:getNameResponse">
    </wsdl:output>
      <wsdl:fault name="getNameFault" message="ns1:getNameFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DBServiceSoapBinding" type="ns1:Database">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getName">
    <wsdlsoap:operation style="document"/>
      <wsdl:input name="getName">
    <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNameResponse">
    <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getNameFault">
    <wsdlsoap:fault name="soapFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatabaseCORBABinding" type="ns1:Database">
    <corba:binding repositoryID="IDL:Database:1.0" />
    <wsdl:operation name="getName">
      <corba:operation name="getName">
        <corba:param mode="in" name="Parameter1" idltype="corba:long" />
        <corba:return xmlns:ns3="http:/schemas.apache.org/dbservice/typemap" name="ResultList1" idltype="ns3:getNameResponseResultList1Type" />
        <corba:raises xmlns:ns3="http:/schemas.apache.org/dbservice/typemap" exception="ns3:getNameFault" />
      </corba:operation>
      <wsdl:input name="getName">
      </wsdl:input>
      <wsdl:output name="getNameResponse">
      </wsdl:output>
      <wsdl:fault name="getNameFault">
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseService">
    <wsdl:port name="DatabaseSoapPort" binding="ns1:DBServiceSoapBinding">
    <wsdlsoap:address location="http://localhost:9000/dbservice"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="DatabaseCORBAService">
    <wsdl:port name="DatabaseCORBAPort" binding="ns1:DatabaseCORBABinding">
      <corba:address location="file:./Database.ref" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
