tools/corba/src/test/resources/idlgen/fixed.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<definitions name="fixed.idl" targetNamespace="http://schemas.apache.org/idl/fixed.idl" xmlns:tns="http://schemas.apache.org/idl/fixed.idl" xmlns:corbatm="http://cxf.apache.org/bindings/corba/typemap" xmlns:corba="http://cxf.apache.org/bindings/corba" xmlns:ns1="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://schemas.apache.org/idltypes/fixed.idl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <corba:typeMapping targetNamespace="http://schemas.apache.org/idl/fixed.idl/corba/typemap/">
    <corba:fixed xmlns:xs="http://www.w3.org/2001/XMLSchema" scale="6" digits="8" type="xs:decimal" name="Z.H" />
    <corba:fixed xmlns:xs="http://www.w3.org/2001/XMLSchema" scale="2" digits="10" type="xs:decimal" name="X.H" />
    <corba:fixed xmlns:xs="http://www.w3.org/2001/XMLSchema" scale="6" digits="31" type="xs:decimal" name="fixed_1" />
    <corba:fixed xmlns:xs="http://www.w3.org/2001/XMLSchema" scale="2" digits="8" type="xs:decimal" name="EXTENDED.X.PARAM.H" />
    <corba:sequence xmlns:xsd1="http://schemas.apache.org/idltypes/fixed.idl" xmlns:ns1="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" elemtype="ns1:fixed_1" bound="0" repositoryID="IDL:Y/H:1.0" type="xsd1:Y.H" name="Y.H" />
    <corba:fixed xmlns:xs="http://www.w3.org/2001/XMLSchema" scale="2" digits="31" type="xs:decimal" name="X.PARAM.H" />
  </corba:typeMapping>
  <types>
    <schema targetNamespace="http://schemas.apache.org/idltypes/fixed.idl" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Y.H">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="X.H">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="10"/>
          <xsd:fractionDigits value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="X.PARAM.H">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Z.H">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="8"/>
          <xsd:fractionDigits value="7"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Z.PARAM.H">
        <xsd:restriction base="xsd:decimal"/>
      </xsd:simpleType>
      <xsd:simpleType xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EXTENDED.X.PARAM.H">
        <xsd:restriction base="xsd1:X.PARAM.H">
          <xsd:totalDigits value="8"/>
        </xsd:restriction>
      </xsd:simpleType>      
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Y.op_k.p1" type="xsd:decimal"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Y.op_k.p2" type="xsd:decimal"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Y.op_k.p3" type="xsd:decimal"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Y.op_k.return" type="xsd:decimal"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Y.op_h.p1" type="xsd1:Y.H"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Y.op_h.p2" type="xsd1:Y.H"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Y.op_h.p3" type="xsd1:Y.H"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Y.op_h.return" type="xsd1:Y.H"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="X.op_m.p1" type="xsd1:X.PARAM.H"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="X.op_m.p2" type="xsd1:X.PARAM.H"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="X.op_m.p3" type="xsd1:X.PARAM.H"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="X.op_m.return" type="xsd1:X.H"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Z.op_n.p1" type="xsd1:Z.PARAM.H"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Z.op_n.p2" type="xsd1:Z.PARAM.H"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Z.op_n.p3" type="xsd1:Z.PARAM.H"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Z.op_n.return" type="xsd1:Z.H"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EXTENDED.X.op_m.p1" type="xsd1:EXTENDED.X.PARAM.H"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EXTENDED.X.op_m.p2" type="xsd1:EXTENDED.X.PARAM.H"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EXTENDED.X.op_m.p3" type="xsd1:EXTENDED.X.PARAM.H"/>
      <xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EXTENDED.X.op_m.return" type="xsd1:EXTENDED.X.PARAM.H"/>
    </schema>
  </types>
  <message name="EXTENDED.X.op_m">
    <part name="p1" element="xsd1:EXTENDED.X.op_m.p1"/>
    <part name="p2" element="xsd1:EXTENDED.X.op_m.p2"/>
  </message>
  <message name="Y.op_k">
    <part name="p1" element="xsd1:Y.op_k.p1"/>
    <part name="p2" element="xsd1:Y.op_k.p2"/>
  </message>
  <message name="Y.op_h">
    <part name="p1" element="xsd1:Y.op_h.p1"/>
    <part name="p2" element="xsd1:Y.op_h.p2"/>
  </message>
  <message name="Z.op_n">
    <part name="p1" element="xsd1:Z.op_n.p1"/>
    <part name="p2" element="xsd1:Z.op_n.p2"/>
  </message>
  <message name="Y.op_hResponse">
    <part name="return" element="xsd1:Y.op_h.return"/>
    <part name="p2" element="xsd1:Y.op_h.p2"/>
    <part name="p3" element="xsd1:Y.op_h.p3"/>
  </message>
  <message name="Y.op_kResponse">
    <part name="return" element="xsd1:Y.op_k.return"/>
    <part name="p2" element="xsd1:Y.op_k.p2"/>
    <part name="p3" element="xsd1:Y.op_k.p3"/>
  </message>
  <message name="EXTENDED.X.op_mResponse">
    <part name="return" element="xsd1:EXTENDED.X.op_m.return"/>
    <part name="p2" element="xsd1:EXTENDED.X.op_m.p2"/>
    <part name="p3" element="xsd1:EXTENDED.X.op_m.p3"/>
  </message>
  <message name="X.op_mResponse">
    <part name="return" element="xsd1:X.op_m.return"/>
    <part name="p2" element="xsd1:X.op_m.p2"/>
    <part name="p3" element="xsd1:X.op_m.p3"/>
  </message>
  <message name="Z.op_nResponse">
    <part name="return" element="xsd1:Z.op_n.return"/>
    <part name="p2" element="xsd1:Z.op_n.p2"/>
    <part name="p3" element="xsd1:Z.op_n.p3"/>
  </message>
  <message name="X.op_m">
    <part name="p1" element="xsd1:X.op_m.p1"/>
    <part name="p2" element="xsd1:X.op_m.p2"/>
  </message>
  <portType name="Y">
    <operation name="op_k">
      <input name="op_k" message="tns:Y.op_k"/>
      <output name="op_kResponse" message="tns:Y.op_kResponse"/>
    </operation>
    <operation name="op_h">
      <input name="op_h" message="tns:Y.op_h"/>
      <output name="op_hResponse" message="tns:Y.op_hResponse"/>
    </operation>
    <operation name="op_m">
      <input name="op_m" message="tns:X.op_m"/>
      <output name="op_mResponse" message="tns:X.op_mResponse"/>
    </operation>
    <operation name="op_n">
      <input name="op_n" message="tns:Z.op_n"/>
      <output name="op_nResponse" message="tns:Z.op_nResponse"/>
    </operation>
    <operation name="extended_op_m">
      <input name="extended_op_m" message="tns:EXTENDED.X.op_m"/>
      <output name="extended_op_mResponse" message="tns:EXTENDED.X.op_mResponse"/>
    </operation>
  </portType>
  <binding name="YCORBABinding" type="tns:Y">
    <corba:binding repositoryID="IDL:Y:1.0" />
    <operation name="op_k">
      <corba:operation name="op_k">
        <corba:param xmlns:ns3="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" mode="in" name="p1" idltype="ns3:fixed_1" />
        <corba:param xmlns:ns3="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" mode="out" name="p3" idltype="ns3:fixed_1" />
        <corba:param xmlns:ns3="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" mode="inout" name="p2" idltype="ns3:fixed_1" />
        <corba:return xmlns:ns3="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" name="return" idltype="ns3:fixed_1" />
      </corba:operation>
      <input name="op_k">
      </input>
      <output name="op_kResponse">
      </output>
    </operation>
    <operation name="op_h">
      <corba:operation name="op_h">
        <corba:param xmlns:ns1="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" mode="in" name="p1" idltype="ns1:Y.H" />
        <corba:param xmlns:ns1="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" mode="out" name="p3" idltype="ns1:Y.H" />
        <corba:param xmlns:ns1="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" mode="inout" name="p2" idltype="ns1:Y.H" />
        <corba:return xmlns:ns1="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" name="return" idltype="ns1:Y.H" />
      </corba:operation>
      <input name="op_h">
      </input>
      <output name="op_hResponse">
      </output>
    </operation>
    <operation name="op_m">
      <corba:operation name="op_m">
        <corba:param xmlns:ns1="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" mode="in" name="p1" idltype="ns1:X.PARAM.H" />
        <corba:param xmlns:ns1="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" mode="out" name="p3" idltype="ns1:X.PARAM.H" />
        <corba:param xmlns:ns1="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" mode="inout" name="p2" idltype="ns1:X.PARAM.H" />
        <corba:return xmlns:ns1="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" name="return" idltype="ns1:X.H" />
      </corba:operation>
      <input name="op_m">
      </input>
      <output name="op_mResponse">
      </output>
    </operation>
    <operation name="op_n">
      <corba:operation name="op_n">
        <corba:param xmlns:ns3="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" mode="in" name="p1" idltype="ns3:fixed_1" />
        <corba:param xmlns:ns3="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" mode="out" name="p3" idltype="ns3:fixed_1" />
        <corba:param xmlns:ns3="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" mode="inout" name="p2" idltype="ns3:fixed_1" />
        <corba:return xmlns:ns1="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" name="return" idltype="ns1:Z.H" />
      </corba:operation>
      <input name="op_n">
      </input>
      <output name="op_nResponse">
      </output>
    </operation>
    <operation name="extended_op_m">
      <corba:operation name="extended_op_m">
        <corba:param xmlns:ns1="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" mode="in" name="p1" idltype="ns1:EXTENDED.X.PARAM.H" />
        <corba:param xmlns:ns1="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" mode="out" name="p3" idltype="ns1:EXTENDED.X.PARAM.H" />
        <corba:param xmlns:ns1="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" mode="inout" name="p2" idltype="ns1:EXTENDED.X.PARAM.H" />
        <corba:return xmlns:ns1="http://schemas.apache.org/idl/fixed.idl/corba/typemap/" name="return" idltype="ns1:EXTENDED.X.PARAM.H" />
      </corba:operation>
      <input name="extended_op_m">
      </input>
      <output name="extended_op_mResponse">
      </output>
    </operation>
  </binding>
</definitions>
