maven-plugins/codegen-plugin/src/it/wsdl-classpath-resolution/Cxf5052Service-1.0.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
==============================================================================
=====  Describe all service specific name spaces.                        =====               
==============================================================================
--><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:org:apache:cxf:Cxf5052Service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:Cxf5052msg="urn:org:apache:cxf:message:Cxf5052Message" targetNamespace="urn:org:apache:cxf:Cxf5052Service"><!--Content from Maven Artifact: "org.apache.cxf.Cxf5052:Cxf5052Service:wsdl:1.0.0" generated 2017-06-28T13:11:08CEST:-->
<!--
==============================================================================
=====  Describe all data types transmitted between the client and server.=====              
==============================================================================
-->
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:org:apache:cxf:Cxf5052:Domain-1" targetNamespace="urn:org:apache:cxf:Cxf5052:Domain-1" elementFormDefault="qualified"><!--Content from Maven Artifact: "org.apache.cxf.Cxf5052:Domain-1:xsd:1.0.0":-->
    <xsd:complexType name="Cxf5052DomainType">
        <xsd:sequence>
            <xsd:element name="Id" type="xsd:string" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:org:apache:cxf:message:Cxf5052Message" xmlns:domain="urn:org:apache:cxf:Cxf5052:Domain-1" targetNamespace="urn:org:apache:cxf:message:Cxf5052Message" elementFormDefault="qualified"><!--Content from Maven Artifact: "org.apache.cxf.Cxf5052:Cxf5052Message:xsd:1.1.0":-->
    <xsd:import namespace="urn:org:apache:cxf:Cxf5052:Domain-1" />
    <xsd:element name="Cxf5052Request" type="tns:Cxf5052RequestType" />
    <xsd:element name="Cxf5052Response" type="tns:Cxf5052ResponseType" />
    <xsd:complexType name="Cxf5052RequestType">
        <xsd:sequence>
            <xsd:element name="domain" type="domain:Cxf5052DomainType" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Cxf5052ResponseType">
        <xsd:sequence>
            <xsd:element name="domain" type="domain:Cxf5052DomainType" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema></wsdl:types>
<!--
==============================================================================
=====   Describe all messages transmitted between the client and server. =====               
==============================================================================
-->	
    <wsdl:message name="Cxf5052Request">
        <wsdl:part name="Cxf5052req" element="Cxf5052msg:Cxf5052Request" />
    </wsdl:message>
    <wsdl:message name="Cxf5052Response">
        <wsdl:part name="Cxf5052resp" element="Cxf5052msg:Cxf5052Response" />
    </wsdl:message>
<!--
==============================================================================
=====   Describe interface and all operations.                           =====  
==============================================================================
-->	
    <wsdl:portType name="Cxf5052Port">
        <wsdl:operation name="Cxf5052operation">
            <wsdl:input message="tns:Cxf5052Request" />
            <wsdl:output message="tns:Cxf5052Response" />
        </wsdl:operation>
    </wsdl:portType>
<!--
==============================================================================
=====   Describe how the service will be implemented on the wire.        =====               
==============================================================================
-->	
    <wsdl:binding name="Cxf5052PortBinding" type="tns:Cxf5052Port">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Cxf5052operation">
            <soap:operation soapAction="Cxf5052operation" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
<!--
==============================================================================
=====   Describe where the service can be invoked.	                     =====               
==============================================================================
-->	
    <wsdl:service name="Cxf5052Service">
        <wsdl:port name="Cxf5052Port_pt" binding="tns:Cxf5052PortBinding">
            <soap:address location="http://cxf.apache.cxf/ws/Cxf5052Service" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
