systests/transport-jms/src/test/java/org/apache/cxf/systest/jms/continuations/jms_test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements. See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership. The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License. You may obtain a copy of the License at
 
  http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<definitions name="HelloWorldService" 
    targetNamespace="http://cxf.apache.org/hello_world_jms" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:jms="http://cxf.apache.org/transports/jms" 
    xmlns:x1="http://cxf.apache.org/hello_world_jms/types"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://cxf.apache.org/hello_world_jms" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <schema targetNamespace="http://cxf.apache.org/hello_world_jms/types"      xmlns="http://www.w3.org/2001/XMLSchema" xmlns:x1="http://cxf.apache.org/hello_world_jms/types" elementFormDefault="qualified">
	    <complexType name="ErrorCode">
		<sequence>
		    <element name="minor" type="short"/>
		    <element name="major" type="short"/>
		</sequence>
	    </complexType>
	    <complexType name="testRpcLitFault">
		<sequence>
		    <element name="faultType" type="string"/>
		</sequence>
	    </complexType>
	    <complexType name="testRpcLitFaultResponse">
		<sequence/>
	    </complexType>
	    
	    <element name="NoSuchCodeLit" type="x1:NoSuchCodeLit"/>
	    <complexType name="NoSuchCodeLit">
		<sequence>
		    <element name="code" type="x1:ErrorCode"/>
		</sequence>
	    </complexType>

	    <element name="BadRecordLit" type="x1:BadRecordLit"/>
	    <complexType name="BadRecordLit">
		<sequence>
		    <element name="reason" type="string"/>
		    <element name="code" type="short"/>
		</sequence>
	    </complexType>
	</schema>
    </types>

    <message name="greetMe">
        <part name="stringParam0" type="xsd:string"/>
    </message>
    <message name="greetMeResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="sayHi"/>
    <message name="sayHiResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="greetMeOneWay">
        <part name="stringParam0" type="xsd:string"/>
    </message>
    
    <message name="testRpcLitFaultRequest">
        <part name="in" type="xsd:string"/>
    </message>
    <message name="testRpcLitFaultResponse">
        <part name="out" type="x1:testRpcLitFaultResponse"/>
    </message>
    <message name="NoSuchCodeLitFault">
        <part name="NoSuchCodeLit" element="x1:NoSuchCodeLit"/>
    </message>
    <message name="BadRecordLitFault">
        <part name="BadRecordLit" element="x1:BadRecordLit"/>
    </message>
    
    <portType name="HelloWorldPortType">
        <operation name="greetMe">
            <input message="tns:greetMe" name="greetMe"/>
            <output message="tns:greetMeResponse" name="greetMeResponse"/>
        </operation>
        <operation name="sayHi">
            <input message="tns:sayHi" name="sayHi"/>
            <output message="tns:sayHiResponse" name="sayHiResponse"/>
        </operation>
        <operation name="greetMeOneWay">
            <input message="tns:greetMeOneWay" name="greetMeOneWay"/>
        </operation>
        <operation name="testRpcLitFault">
            <input name="testRpcLitFaultRequest" message="tns:testRpcLitFaultRequest"/>
            <output name="testRpcLitFaultResponse" message="tns:testRpcLitFaultResponse"/>
            <fault name="NoSuchCodeLitFault" message="tns:NoSuchCodeLitFault"/>
            <fault name="BadRecordLitFault" message="tns:BadRecordLitFault"/>
        </operation>
    </portType>
    
    
    <binding name="HelloWorldPortBinding" type="tns:HelloWorldPortType">
        <soap:binding style="rpc" transport="http://cxf.apache.org/transports/jms"/>
        <operation name="greetMe">
            <soap:operation soapAction="" style="rpc"/>
            <input name="greetMe">
                <soap:body 
                    namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
            <output name="greetMeResponse">
                <soap:body  
                    namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="sayHi">
            <soap:operation soapAction="" style="rpc"/>
            <input name="sayHi">
                <soap:body 
                    namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
            <output name="sayHiResponse">
                <soap:body 
                    namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="greetMeOneWay">
            <soap:operation style="rpc"/>
            <input name="greetMeOneWay">
                <soap:body 
                    namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
        </operation>

         <operation name="testRpcLitFault">
            <soap:operation style="rpc"/>
            <input>
                <soap:body namespace="http://cxf.apache.org/hello_world_jms"  use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://cxf.apache.org/hello_world_jms"  use="literal"/>
            </output>
            <fault name="NoSuchCodeLitFault">
                <soap:fault name="NoSuchCodeLitFault" use="literal"/>
            </fault>
            <fault name="BadRecordLitFault">
                <soap:fault name="BadRecordLitFault" use="literal"/>
            </fault>
        </operation>
    </binding>

            
    <service name="HelloWorldService">
           <port binding="tns:HelloWorldPortBinding" name="HelloWorldPort">
               <jms:clientConfig clientReceiveTimeout="500000" messageTimeToLive="500000"/>
               <jms:address
                   jndiConnectionFactoryName="ConnectionFactory" 
                   jndiDestinationName="dynamicQueues/test.jmstransport.text">
                   <jms:JMSNamingProperty name="java.naming.factory.initial" value="org.apache.activemq.jndi.ActiveMQInitialContextFactory"/>
                   <jms:JMSNamingProperty name="java.naming.provider.url" value="tcp://localhost:61500"/>
               </jms:address>
            
               <jms:server durableSubscriberName="CXF_subscriber"/>
           </port>
    </service>
    
        
</definitions>


