rt/core/src/test/resources/org/apache/cxf/wsdl11/hello_world_schema_import_test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor 
	license agreements. See the NOTICE file distributed with this work for additional 
	information regarding copyright ownership. The ASF licenses this file to 
	you under the Apache License, Version 2.0 (the "License"); you may not use 
	this file except in compliance with the License. You may obtain a copy of 
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required 
	by applicable law or agreed to in writing, software distributed under the 
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. See the License for the specific 
	language governing permissions and limitations under the License. -->
<wsdl:definitions name="HelloWorld"
	targetNamespace="http://apache.org/hello_world_soap_http" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://apache.org/hello_world_soap_http"
	xmlns:x1="http://apache.org/hello_world_soap_http/servicetypes"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>

		<xsd:schema targetNamespace="http://apache.org/hello_world_soap_http/types2"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://apache.org/hello_world_soap_http/types2"
			elementFormDefault="qualified">

			<xsd:simpleType name="MyStringType">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="30" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>

		<xsd:schema targetNamespace="http://apache.org/hello_world_soap_http/types"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:tns="http://apache.org/hello_world_soap_http/types"
			xmlns:t2="http://apache.org/hello_world_soap_http/types2"
			elementFormDefault="qualified">

			<xsd:import namespace="http://apache.org/hello_world_soap_http/types2" />

			<xsd:complexType name="ResponseType">
				<xsd:sequence>
					<xsd:element name="responseType" type="t2:MyStringType" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="File">
				<xsd:sequence>
					<xsd:element xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
						name="content" xmime:expectedContentTypes="application/octet-stream"
						type="xsd:base64Binary" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>

		<xsd:schema targetNamespace="http://apache.org/hello_world_soap_http/servicetypes"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:tns="http://apache.org/hello_world_soap_http/servicetypes"
			xmlns:s2="http://apache.org/hello_world_soap_http/types"
			elementFormDefault="qualified">

			<xsd:import namespace="http://apache.org/hello_world_soap_http/types" />

			<xsd:element name="sayHi">
				<xsd:complexType />
			</xsd:element>
			<xsd:element name="sayHiResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="responseType" type="s2:ResponseType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="greetMe">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="requestType" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="greetMeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="responseType" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="greetMeOneWay">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="requestType" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="pingMe">
				<xsd:complexType />
			</xsd:element>
			<xsd:element name="pingMeResponse">
				<xsd:complexType />
			</xsd:element>
			<xsd:element name="faultDetail">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="minor" type="xsd:short" />
						<xsd:element name="major" type="xsd:short" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="sayHiRequest">
		<wsdl:part element="x1:sayHi" name="in" />
	</wsdl:message>
	<wsdl:message name="sayHiResponse">
		<wsdl:part element="x1:sayHiResponse" name="out" />
	</wsdl:message>
	<wsdl:message name="greetMeRequest">
		<wsdl:part element="x1:greetMe" name="in" />
	</wsdl:message>
	<wsdl:message name="greetMeResponse">
		<wsdl:part element="x1:greetMeResponse" name="out" />
	</wsdl:message>
	<wsdl:message name="greetMeOneWayRequest">
		<wsdl:part element="x1:greetMeOneWay" name="in" />
	</wsdl:message>
	<wsdl:message name="pingMeRequest">
		<wsdl:part name="in" element="x1:pingMe" />
	</wsdl:message>
	<wsdl:message name="pingMeResponse">
		<wsdl:part name="out" element="x1:pingMeResponse" />
	</wsdl:message>
	<wsdl:message name="pingMeFault">
		<wsdl:part name="faultDetail" element="x1:faultDetail" />
	</wsdl:message>

	<wsdl:portType name="Greeter">
		<wsdl:operation name="sayHi">
			<wsdl:input message="tns:sayHiRequest" name="sayHiRequest" />
			<wsdl:output message="tns:sayHiResponse" name="sayHiResponse" />
		</wsdl:operation>

		<wsdl:operation name="greetMe">
			<wsdl:input message="tns:greetMeRequest" name="greetMeRequest" />
			<wsdl:output message="tns:greetMeResponse" name="greetMeResponse" />
		</wsdl:operation>

		<wsdl:operation name="greetMeOneWay">
			<wsdl:input message="tns:greetMeOneWayRequest" name="greetMeOneWayRequest" />
		</wsdl:operation>

		<wsdl:operation name="pingMe">
			<wsdl:input name="pingMeRequest" message="tns:pingMeRequest" />
			<wsdl:output name="pingMeResponse" message="tns:pingMeResponse" />
			<wsdl:fault name="pingMeFault" message="tns:pingMeFault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Greeter_SOAPBinding" type="tns:Greeter">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="sayHi">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="sayHiRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sayHiResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="greetMe">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="greetMeRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="greetMeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="greetMeOneWay">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="greetMeOneWayRequest">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>

		<wsdl:operation name="pingMe">
			<soap:operation style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="pingMeFault">
				<soap:fault name="pingMeFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>
	<wsdl:service name="SOAPService">
		<wsdl:port binding="tns:Greeter_SOAPBinding" name="SoapPort">
			<soap:address location="http://localhost:9000/SoapContext/SoapPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

