tools/javato/ws/src/test/java/org/apache/cxf/tools/java2wsdl/processor/internal/jaxws/expected/expected_doc_lit_wrapped_localName.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="StockService" targetNamespace="http://doc.withannotation.fortest.tools.cxf.apache.org/" xmlns:tns="http://doc.withannotation.fortest.tools.cxf.apache.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://doc.withannotation.fortest.tools.cxf.apache.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://doc.withannotation.fortest.tools.cxf.apache.org/">
    <xs:element name="getPrice" type="getPrice"/>
    <xs:element name="getPriceResponse" type="getPriceResponse"/>
    <xs:complexType name="getPriceResponse">
        <xs:sequence>
            <xs:element name="responseType" type="xs:float"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getPrice">
        <xs:sequence>
            <xs:element name="responseType" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="xXx" nillable="true" type="getPrice"/>
    <xs:element name="zZz" nillable="true" type="getPriceResponse"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPriceResponse">
    <wsdl:part name="parameters" element="tns:zZz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrice">
    <wsdl:part name="parameters" element="tns:xXx">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Stock">
    <wsdl:operation name="getPrice">
      <wsdl:input name="getPrice" message="tns:getPrice">
    </wsdl:input>
      <wsdl:output name="getPriceResponse" message="tns:getPriceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockServiceSoapBinding" type="tns:Stock">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPrice">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPrice">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPriceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockService">
    <wsdl:port name="StockPort" binding="tns:StockServiceSoapBinding">
      <soap:address location="http://localhost:9090"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
