systests/transports/src/test/java/org/apache/cxf/systest/jms/continuations/test.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="HelloContinuationService" 
   targetNamespace="http://cxf.apache.org/systest/jaxws" 
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:tns="http://cxf.apache.org/systest/jaxws" 
   xmlns="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:jms="http://cxf.apache.org/transports/jms">
  
  <message name="isRequestSuspended">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="sayHiResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="sayHi">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="resumeRequestResponse"/>

  <message name="isRequestSuspendedResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  
  <message name="resumeRequest">
    <part name="arg0" type="xsd:string"/>
  </message>
  <portType name="HelloContinuation">
    <operation name="isRequestSuspended">
      <input message="tns:isRequestSuspended" name="isRequestSuspended"/>
      <output message="tns:isRequestSuspendedResponse" name="isRequestSuspendedResponse"/>
    </operation>
    <operation name="resumeRequest">
      <input message="tns:resumeRequest" name="resumeRequest"/>
      <output message="tns:resumeRequestResponse" name="resumeRequestResponse"/>
    </operation>
    <operation name="sayHi">
      <input message="tns:sayHi" name="sayHi"/>
      <output message="tns:sayHiResponse" name="sayHiResponse"/>
    </operation>
  </portType>
  <binding name="HelloContinuationServiceSoapBinding" type="tns:HelloContinuation">
    <soap:binding style="rpc" transport="http://cxf.apache.org/transports/jms" />
    <operation name="isRequestSuspended">
      <soap:operation soapAction="" style="rpc" />
      <input name="isRequestSuspended">
        <soap:body namespace="http://cxf.apache.org/systest/jaxws" use="literal" />
      </input>
      <output name="isRequestSuspendedResponse">
        <soap:body namespace="http://cxf.apache.org/systest/jaxws" use="literal" />
      </output>
    </operation>
    <operation name="resumeRequest">
      <soap:operation soapAction="" style="rpc" />
      <input name="resumeRequest">
        <soap:body namespace="http://cxf.apache.org/systest/jaxws" use="literal" />
      </input>
      <output name="resumeRequestResponse">
        <soap:body namespace="http://cxf.apache.org/systest/jaxws" use="literal" />
      </output>
    </operation>
    <operation name="sayHi">
      <soap:operation soapAction="" style="rpc" />
      <input name="sayHi">
        <soap:body namespace="http://cxf.apache.org/systest/jaxws" use="literal" />
      </input>
      <output name="sayHiResponse">
        <soap:body namespace="http://cxf.apache.org/systest/jaxws" use="literal" />
      </output>
    </operation>
  </binding>
  <service name="HelloContinuationService">
    <port binding="tns:HelloContinuationServiceSoapBinding" name="HelloContinuationPort">
      <jms:clientConfig clientReceiveTimeout="500000" messageTimeToLive="500000"/>
      <jms:serverConfig messageTimeToLive="500000"/>
               <jms:address
                   jndiConnectionFactoryName="ConnectionFactory" 
                   jndiDestinationName="dynamicQueues/test.jmstransport.text">
                   <jms:JMSNamingProperty name="java.naming.factory.initial" value="org.apache.activemq.jndi.ActiveMQInitialContextFactory"/>
                   <jms:JMSNamingProperty name="java.naming.provider.url" value="tcp://localhost:61500"/>
               </jms:address>
            
               <jms:server durableSubscriberName="CXF_subscriber"/>
    </port>
  </service>
</definitions>