rt/databinding/xmlbeans/src/test/xsd/included.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://sample.com/procure" targetNamespace="http://sample.com/procure" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:complexType name="customer">
       <xs:sequence>
           <xs:element name="name" type="xs:string"/>
           <xs:element name="address" type="xs:string"/>
       </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shipper">
       <xs:sequence>
           <xs:element name="name" type="xs:string"/>
           <xs:element name="per-ounce-rate" type="xs:decimal"/>
       </xs:sequence>
   </xs:complexType>
</xs:schema>
