maven-plugins/codegen-plugin/src/it/wsdl-artifact-resolution/Cxf7067Service-1.0.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
==============================================================================
=====  Describe all service specific name spaces.                        =====               
==============================================================================
--><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:org:apache:cxf:Cxf7067Service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:cxf7067msg="urn:org:apache:cxf:message:Cxf7067Message" targetNamespace="urn:org:apache:cxf:Cxf7067Service"><!--Content from Maven Artifact: "org.apache.cxf.cxf7067:Cxf7067Service:wsdl:1.0.0" generated 2017-06-28T13:11:08CEST:-->
<!--
==============================================================================
=====  Describe all data types transmitted between the client and server.=====              
==============================================================================
-->
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:org:apache:cxf:cxf7067:Domain-1" targetNamespace="urn:org:apache:cxf:cxf7067:Domain-1" elementFormDefault="qualified"><!--Content from Maven Artifact: "org.apache.cxf.cxf7067:Domain-1:xsd:1.0.0":-->
    <xsd:complexType name="Cxf7067DomainType">
        <xsd:sequence>
            <xsd:element name="Id" type="xsd:string" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:org:apache:cxf:message:Cxf7067Message" xmlns:domain="urn:org:apache:cxf:cxf7067:Domain-1" targetNamespace="urn:org:apache:cxf:message:Cxf7067Message" elementFormDefault="qualified"><!--Content from Maven Artifact: "org.apache.cxf.cxf7067:Cxf7067Message:xsd:1.1.0":-->
    <xsd:import namespace="urn:org:apache:cxf:cxf7067:Domain-1" />
    <xsd:element name="Cxf7067Request" type="tns:Cxf7067RequestType" />
    <xsd:element name="Cxf7067Response" type="tns:Cxf7067ResponseType" />
    <xsd:complexType name="Cxf7067RequestType">
        <xsd:sequence>
            <xsd:element name="domain" type="domain:Cxf7067DomainType" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Cxf7067ResponseType">
        <xsd:sequence>
            <xsd:element name="domain" type="domain:Cxf7067DomainType" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema></wsdl:types>
<!--
==============================================================================
=====   Describe all messages transmitted between the client and server. =====               
==============================================================================
-->	
    <wsdl:message name="cxf7067Request">
        <wsdl:part name="cxf7067req" element="cxf7067msg:Cxf7067Request" />
    </wsdl:message>
    <wsdl:message name="cxf7067Response">
        <wsdl:part name="cxf7067resp" element="cxf7067msg:Cxf7067Response" />
    </wsdl:message>
<!--
==============================================================================
=====   Describe interface and all operations.                           =====  
==============================================================================
-->	
    <wsdl:portType name="Cxf7067Port">
        <wsdl:operation name="cxf7067operation">
            <wsdl:input message="tns:cxf7067Request" />
            <wsdl:output message="tns:cxf7067Response" />
        </wsdl:operation>
    </wsdl:portType>
<!--
==============================================================================
=====   Describe how the service will be implemented on the wire.        =====               
==============================================================================
-->	
    <wsdl:binding name="Cxf7067PortBinding" type="tns:Cxf7067Port">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="cxf7067operation">
            <soap:operation soapAction="cxf7067operation" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
<!--
==============================================================================
=====   Describe where the service can be invoked.	                     =====               
==============================================================================
-->	
    <wsdl:service name="Cxf7067Service">
        <wsdl:port name="Cxf7067Port_pt" binding="tns:Cxf7067PortBinding">
            <soap:address location="http://cxf.apache.cxf/ws/Cxf7067Service" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
