tools/javato/ws/src/test/resources/org/apache/cxf/tools/java2wsdl/processor/internal/jaxws/expected/doc_wrapped_bare.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GreeterService" targetNamespace="http://apache.org/hello_world_doc_wrapped_bare" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://apache.org/hello_world_doc_wrapped_bare" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://apache.org/hello_world_doc_wrapped_bare/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://apache.org/hello_world_doc_wrapped_bare/types" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://apache.org/hello_world_doc_wrapped_bare/types" version="1.0">

  <xs:element name="BadRecordLit" type="xs:string"/>

  <xs:element name="BareDocument" type="xs:string"/>

  <xs:element name="BareDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="company" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:int"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="NoSuchCodeLit">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="tns:ErrorCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="addNumbers" type="tns:addNumbers"/>

  <xs:element name="addNumbersResponse" type="tns:addNumbersResponse"/>

  <xs:element name="greetMe">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestType" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="greetMeOneWay">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestType" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="greetMeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responseType" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="greetMeSometime">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestType" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="greetMeSometimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responseType" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="sayHi">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>

  <xs:element name="sayHiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responseType" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="testDocLitFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="faultType" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="testDocLitFaultResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ErrorCode">
    <xs:sequence>
      <xs:element name="minor" type="xs:short"/>
      <xs:element name="major" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addNumbers">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addNumbersResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BadRecord">
    <xs:sequence>
      <xs:element name="reason" type="xs:string"/>
      <xs:element name="code" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="BadRecordLitFault">
    <wsdl:part name="BadRecordLitFault" element="ns1:BadRecordLit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testDocLitBareResponse">
    <wsdl:part name="out" element="ns1:BareDocumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="greetMeSometimeResponse">
    <wsdl:part name="parameters" element="ns1:greetMeSometimeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="greetMeResponse">
    <wsdl:part name="parameters" element="ns1:greetMeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHiResponse">
    <wsdl:part name="parameters" element="ns1:sayHiResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="greetMeSometime">
    <wsdl:part name="parameters" element="ns1:greetMeSometime">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NoSuchCodeLitFault">
    <wsdl:part name="NoSuchCodeLitFault" element="ns1:NoSuchCodeLit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="greetMe">
    <wsdl:part name="parameters" element="ns1:greetMe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testDocLitBare">
    <wsdl:part name="in" element="ns1:BareDocument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testDocLitFault">
    <wsdl:part name="parameters" element="ns1:testDocLitFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testDocLitFaultResponse">
    <wsdl:part name="parameters" element="ns1:testDocLitFaultResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHi">
    <wsdl:part name="parameters" element="ns1:sayHi">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="greetMeOneWay">
    <wsdl:part name="parameters" element="ns1:greetMeOneWay">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Greeter">
    <wsdl:operation name="greetMeSometime">
      <wsdl:input name="greetMeSometime" message="tns:greetMeSometime">
    </wsdl:input>
      <wsdl:output name="greetMeSometimeResponse" message="tns:greetMeSometimeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="greetMe">
      <wsdl:input name="greetMe" message="tns:greetMe">
    </wsdl:input>
      <wsdl:output name="greetMeResponse" message="tns:greetMeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testDocLitBare">
      <wsdl:input name="testDocLitBare" message="tns:testDocLitBare">
    </wsdl:input>
      <wsdl:output name="testDocLitBareResponse" message="tns:testDocLitBareResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testDocLitFault">
      <wsdl:input name="testDocLitFault" message="tns:testDocLitFault">
    </wsdl:input>
      <wsdl:output name="testDocLitFaultResponse" message="tns:testDocLitFaultResponse">
    </wsdl:output>
      <wsdl:fault name="BadRecordLitFault" message="tns:BadRecordLitFault">
    </wsdl:fault>
      <wsdl:fault name="NoSuchCodeLitFault" message="tns:NoSuchCodeLitFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sayHi">
      <wsdl:input name="sayHi" message="tns:sayHi">
    </wsdl:input>
      <wsdl:output name="sayHiResponse" message="tns:sayHiResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="greetMeOneWay">
      <wsdl:input name="greetMeOneWay" message="tns:greetMeOneWay">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GreeterServiceSoapBinding" type="tns:Greeter">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="greetMeSometime">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="greetMeSometime">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="greetMeSometimeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="greetMe">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="greetMe">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="greetMeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testDocLitBare">
      <soap:operation soapAction="http://apache.org/hello_world_doc_wrapped_bare/testDocLitBare" style="document"/>
      <wsdl:input name="testDocLitBare">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="testDocLitBareResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testDocLitFault">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="testDocLitFault">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="testDocLitFaultResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BadRecordLitFault">
        <soap:fault name="BadRecordLitFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NoSuchCodeLitFault">
        <soap:fault name="NoSuchCodeLitFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sayHi">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHi">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="greetMeOneWay">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="greetMeOneWay">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GreeterService">
    <wsdl:port name="GreeterPort" binding="tns:GreeterServiceSoapBinding">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
