tools/corba/src/test/resources/idl/expected_ForwardInterfaceArray.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<wsdl:definitions targetNamespace="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray" xmlns:tns="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:corba="http://cxf.apache.org/bindings/corba" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <corba:typeMapping targetNamespace="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap">
    <corba:array xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap" xmlns="" elemtype="ns4:org.cc.IpCall" elemname="item" bound="10" repositoryID="IDL:org/cc/IpCallArray:1.0" type="ns5:org.cc.IpCallArray" name="org.cc.IpCallArray" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap" xmlns="" elemtype="ns4:org.cc.IpCall" elemname="item" bound="2" type="ns5:org.cc.anonStruct._Anon1_structLongArray" name="org.cc.anonStruct._Anon1_structLongArray" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap" xmlns="" elemtype="ns4:org.cc.IpCall" elemname="item" bound="4" type="ns5:org.cc.anonStruct._Anon1_structLongArrayArray" name="org.cc.anonStruct._Anon1_structLongArrayArray" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap" xmlns="" elemtype="ns4:org.cc.anonStruct._Anon1_structLongArrayArray" elemname="item" bound="2" type="ns5:org.cc.anonStruct._Anon2_structLongArrayArray" name="org.cc.anonStruct._Anon2_structLongArrayArray" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap" xmlns="" elemtype="ns4:org.cc.IpCall" elemname="item" bound="8" type="ns5:org.cc.anonStruct._Anon1_structLongArrayArrayArray" name="org.cc.anonStruct._Anon1_structLongArrayArrayArray" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap" xmlns="" elemtype="ns4:org.cc.anonStruct._Anon1_structLongArrayArrayArray" elemname="item" bound="4" type="ns5:org.cc.anonStruct._Anon2_structLongArrayArrayArray" name="org.cc.anonStruct._Anon2_structLongArrayArrayArray" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap" xmlns="" elemtype="ns4:org.cc.anonStruct._Anon2_structLongArrayArrayArray" elemname="item" bound="2" type="ns5:org.cc.anonStruct._Anon3_structLongArrayArrayArray" name="org.cc.anonStruct._Anon3_structLongArrayArrayArray" />
    <corba:struct xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray" repositoryID="IDL:org/cc/anonStruct:1.0" type="org.cc.anonStruct" name="org.cc.anonStruct">
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap" name="structLongArray" idltype="ns4:org.cc.anonStruct._Anon1_structLongArray" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap" name="structLongArrayArray" idltype="ns4:org.cc.anonStruct._Anon2_structLongArrayArray" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap" name="structLongArrayArrayArray" idltype="ns4:org.cc.anonStruct._Anon3_structLongArrayArrayArray" />
    </corba:struct>
    <corba:object xmlns:ns4="http://www.w3.org/2005/08/addressing" xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray" binding="org.cc.IpCallCORBABinding" repositoryID="IDL:org/cc/IpCall:1.0" type="ns4:EndpointReferenceType" name="org.cc.IpCall" />
  </corba:typeMapping>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray" xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="http://www.w3.org/2005/08/addressing/ws-addr.xsd">
      </xs:import>
      <xs:complexType name="org.cc.IpCallArray">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="10" name="item" nillable="true" type="wsa:EndpointReferenceType">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="org.cc.anonStruct._Anon1_structLongArray">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" nillable="true" type="wsa:EndpointReferenceType">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="org.cc.anonStruct._Anon1_structLongArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="4" minOccurs="4" name="item" nillable="true" type="wsa:EndpointReferenceType">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="org.cc.anonStruct._Anon2_structLongArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="org.cc.anonStruct._Anon1_structLongArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="org.cc.anonStruct._Anon1_structLongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="8" minOccurs="8" name="item" nillable="true" type="wsa:EndpointReferenceType">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="org.cc.anonStruct._Anon2_structLongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="4" minOccurs="4" name="item" type="org.cc.anonStruct._Anon1_structLongArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="org.cc.anonStruct._Anon3_structLongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="org.cc.anonStruct._Anon2_structLongArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="org.cc.anonStruct">
        <xs:sequence>
          <xs:element name="structLongArray" type="org.cc.anonStruct._Anon1_structLongArray">
          </xs:element>
          <xs:element name="structLongArrayArray" type="org.cc.anonStruct._Anon2_structLongArrayArray">
          </xs:element>
          <xs:element name="structLongArrayArrayArray" type="org.cc.anonStruct._Anon3_structLongArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="routeCallArray">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="inTp" type="org.cc.IpCallArray">
            </xs:element>
            <xs:element name="inoutTp" type="org.cc.IpCallArray">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="routeCallArrayResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="outTp" type="org.cc.IpCallArray">
            </xs:element>
            <xs:element name="inoutTp" type="org.cc.IpCallArray">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="routeCallAnonArray">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="inTp" type="org.cc.anonStruct">
            </xs:element>
            <xs:element name="inoutTp" type="org.cc.anonStruct">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="routeCallAnonArrayResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="outTp" type="org.cc.anonStruct">
            </xs:element>
            <xs:element name="inoutTp" type="org.cc.anonStruct">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="routeReq">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="inDouble" type="xs:double">
            </xs:element>
            <xs:element name="inoutLong" type="xs:int">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="routeReqResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="outShort" type="xs:short">
            </xs:element>
            <xs:element name="inoutLong" type="xs:int">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="org.cc.IpCallRef" type="wsa:EndpointReferenceType">
        <xs:annotation>
          <xs:appinfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="routeCallAnonArrayResponse">
    <wsdl:part name="outparameter" element="tns:routeCallAnonArrayResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="routeCallArray">
    <wsdl:part name="inparameter" element="tns:routeCallArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="routeCallAnonArray">
    <wsdl:part name="inparameter" element="tns:routeCallAnonArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="routeReqResponse">
    <wsdl:part name="outparameter" element="tns:routeReqResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="routeCallArrayResponse">
    <wsdl:part name="outparameter" element="tns:routeCallArrayResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="routeReq">
    <wsdl:part name="inparameter" element="tns:routeReq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="org.cc.IpCall">
    <wsdl:operation name="routeReq">
      <wsdl:input name="routeReqRequest" message="tns:routeReq">
    </wsdl:input>
      <wsdl:output name="routeReqResponse" message="tns:routeReqResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="org.cc.IpAppCall">
    <wsdl:operation name="routeCallArray">
      <wsdl:input name="routeCallArrayRequest" message="tns:routeCallArray">
    </wsdl:input>
      <wsdl:output name="routeCallArrayResponse" message="tns:routeCallArrayResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="routeCallAnonArray">
      <wsdl:input name="routeCallAnonArrayRequest" message="tns:routeCallAnonArray">
    </wsdl:input>
      <wsdl:output name="routeCallAnonArrayResponse" message="tns:routeCallAnonArrayResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="org.cc.IpCallCORBABinding" type="tns:org.cc.IpCall">
    <corba:binding repositoryID="IDL:org/cc/IpCall:1.0" />
    <wsdl:operation name="routeReq">
      <corba:operation name="routeReq">
        <corba:param mode="in" name="inDouble" idltype="corba:double" />
        <corba:param mode="out" name="outShort" idltype="corba:short" />
        <corba:param mode="inout" name="inoutLong" idltype="corba:long" />
      </corba:operation>
      <wsdl:input name="routeReqRequest">
      </wsdl:input>
      <wsdl:output name="routeReqResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="org.cc.IpAppCallCORBABinding" type="tns:org.cc.IpAppCall">
    <corba:binding repositoryID="IDL:org/cc/IpAppCall:1.0" />
    <wsdl:operation name="routeCallArray">
      <corba:operation name="routeCallArray">
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap" mode="in" name="inTp" idltype="org.cc.IpCallArray" />
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap" mode="out" name="outTp" idltype="org.cc.IpCallArray" />
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap" mode="inout" name="inoutTp" idltype="org.cc.IpCallArray" />
      </corba:operation>
      <wsdl:input name="routeCallArrayRequest">
      </wsdl:input>
      <wsdl:output name="routeCallArrayResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="routeCallAnonArray">
      <corba:operation name="routeCallAnonArray">
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap" mode="in" name="inTp" idltype="org.cc.anonStruct" />
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap" mode="out" name="outTp" idltype="org.cc.anonStruct" />
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardInterfaceArray/typemap" mode="inout" name="inoutTp" idltype="org.cc.anonStruct" />
      </corba:operation>
      <wsdl:input name="routeCallAnonArrayRequest">
      </wsdl:input>
      <wsdl:output name="routeCallAnonArrayResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="org.cc.IpCallCORBAService">
    <wsdl:port name="org.cc.IpCallCORBAPort" binding="tns:org.cc.IpCallCORBABinding">
      <corba:address location="IOR:" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="org.cc.IpAppCallCORBAService">
    <wsdl:port name="org.cc.IpAppCallCORBAPort" binding="tns:org.cc.IpAppCallCORBABinding">
      <corba:address location="IOR:" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
