tools/corba/src/test/resources/idl/expected_scopedStruct.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<wsdl:definitions targetNamespace="http://cxf.apache.org/bindings/corba/idl/scopedStruct" xmlns:tns="http://cxf.apache.org/bindings/corba/idl/scopedStruct" xmlns:corba="http://cxf.apache.org/bindings/corba" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <corba:typeMapping targetNamespace="http://cxf.apache.org/bindings/corba/idl/scopedStruct/typemap">
    <corba:struct xmlns="http://cxf.apache.org/bindings/corba/idl/Exception/types" repositoryID="IDL:globalStruct:1.0" type="globalStruct" name="globalStruct">
      <corba:member name="time" idltype="corba:long" />
    </corba:struct>
    <corba:alias basetype="corba:short" repositoryID="IDL:var:1.0" name="var" />
    <corba:struct xmlns="http://cxf.apache.org/bindings/corba/idl/Exception/types" repositoryID="IDL:firstModule/var:1.0" type="firstModule.var" name="firstModule.var">
      <corba:member name="number" idltype="corba:long" />
    </corba:struct>
    <corba:struct xmlns="http://cxf.apache.org/bindings/corba/idl/Exception/types" repositoryID="IDL:firstModule/firstInterface/firstStruct:1.0" type="firstModule.firstInterface.firstStruct" name="firstModule.firstInterface.firstStruct">
      <corba:member name="number" idltype="corba:long" />
      <corba:member name="word" idltype="corba:string" />
    </corba:struct>
    <corba:struct xmlns="http://cxf.apache.org/bindings/corba/idl/Exception/types" repositoryID="IDL:secondModule/secondInterface/secondStruct:1.0" type="secondModule.secondInterface.secondStruct" name="secondModule.secondInterface.secondStruct">
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/scopedStruct/typemap" name="hour" idltype="ns4:globalStruct" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/scopedStruct/typemap" name="minute" idltype="ns4:firstModule.firstInterface.firstStruct" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/scopedStruct/typemap" name="second" idltype="ns4:firstModule.firstInterface.firstStruct" />
      <corba:member name="currency" idltype="corba:string" />
      <corba:member name="praise" idltype="corba:string" />
    </corba:struct>
  </corba:typeMapping>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://cxf.apache.org/bindings/corba/idl/scopedStruct" xmlns="http://cxf.apache.org/bindings/corba/idl/scopedStruct" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="globalStruct">
        <xs:sequence>
          <xs:element name="time" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="firstModule.var">
        <xs:sequence>
          <xs:element name="number" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="firstModule.firstInterface.firstStruct">
        <xs:sequence>
          <xs:element name="number" type="xs:int">
          </xs:element>
          <xs:element name="word" type="xs:string">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="testScopeVar">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="inVar" type="firstModule.var">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testScopeVarResponse">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="secondModule.secondInterface.secondStruct">
        <xs:sequence>
          <xs:element name="hour" type="globalStruct">
          </xs:element>
          <xs:element name="minute" type="firstModule.firstInterface.firstStruct">
          </xs:element>
          <xs:element name="second" type="firstModule.firstInterface.firstStruct">
          </xs:element>
          <xs:element name="currency" type="xs:string">
          </xs:element>
          <xs:element name="praise" type="xs:string">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="congratulate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="str" type="globalStruct">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="congratulateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="reward" type="secondModule.secondInterface.secondStruct">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="secondOp">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="fst" type="firstModule.firstInterface.firstStruct">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="secondOpResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="dest" type="firstModule.firstInterface.firstStruct">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="testScopeVar">
    <wsdl:part name="inparameter" element="tns:testScopeVar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="congratulateResponse">
    <wsdl:part name="outparameter" element="tns:congratulateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testScopeVarResponse">
    <wsdl:part name="outparameter" element="tns:testScopeVarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="congratulate">
    <wsdl:part name="inparameter" element="tns:congratulate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="secondOpResponse">
    <wsdl:part name="outparameter" element="tns:secondOpResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="secondOp">
    <wsdl:part name="inparameter" element="tns:secondOp">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="secondModule.secondInterface">
    <wsdl:operation name="congratulate">
      <wsdl:input name="congratulateRequest" message="tns:congratulate">
    </wsdl:input>
      <wsdl:output name="congratulateResponse" message="tns:congratulateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="secondOp">
      <wsdl:input name="secondOpRequest" message="tns:secondOp">
    </wsdl:input>
      <wsdl:output name="secondOpResponse" message="tns:secondOpResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="firstModule.firstInterface">
    <wsdl:operation name="testScopeVar">
      <wsdl:input name="testScopeVarRequest" message="tns:testScopeVar">
    </wsdl:input>
      <wsdl:output name="testScopeVarResponse" message="tns:testScopeVarResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="secondModule.secondInterfaceCORBABinding" type="tns:secondModule.secondInterface">
    <corba:binding repositoryID="IDL:secondModule/secondInterface:1.0" />
    <wsdl:operation name="congratulate">
      <corba:operation name="congratulate">
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/scopedStruct/typemap" mode="in" name="str" idltype="globalStruct" />
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/scopedStruct/typemap" mode="out" name="reward" idltype="secondModule.secondInterface.secondStruct" />
      </corba:operation>
      <wsdl:input name="congratulateRequest">
      </wsdl:input>
      <wsdl:output name="congratulateResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="secondOp">
      <corba:operation name="secondOp">
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/scopedStruct/typemap" mode="in" name="fst" idltype="firstModule.firstInterface.firstStruct" />
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/scopedStruct/typemap" mode="out" name="dest" idltype="firstModule.firstInterface.firstStruct" />
      </corba:operation>
      <wsdl:input name="secondOpRequest">
      </wsdl:input>
      <wsdl:output name="secondOpResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="firstModule.firstInterfaceCORBABinding" type="tns:firstModule.firstInterface">
    <corba:binding repositoryID="IDL:firstModule/firstInterface:1.0" />
    <wsdl:operation name="testScopeVar">
      <corba:operation name="testScopeVar">
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/scopedStruct/typemap" mode="in" name="inVar" idltype="firstModule.var" />
      </corba:operation>
      <wsdl:input name="testScopeVarRequest">
      </wsdl:input>
      <wsdl:output name="testScopeVarResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="firstModule.firstInterfaceCORBAService">
    <wsdl:port name="firstModule.firstInterfaceCORBAPort" binding="tns:firstModule.firstInterfaceCORBABinding">
      <corba:address location="IOR:" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="secondModule.secondInterfaceCORBAService">
    <wsdl:port name="secondModule.secondInterfaceCORBAPort" binding="tns:secondModule.secondInterfaceCORBABinding">
      <corba:address location="IOR:" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
