tools/corba/src/test/resources/idl/expected_LogicalLP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<wsdl:definitions targetNamespace="http://cxf.apache.org/bindings/corba/idl/OptionsLP" xmlns:tns="http://cxf.apache.org/bindings/corba/idl/OptionsLP" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://cxf.apache.org/bindings/corba/idl/OptionsLP" xmlns="http://cxf.apache.org/bindings/corba/idl/OptionsLP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="foo.bar.Employee">
        <xs:sequence>
          <xs:element name="name" type="xs:string">
          </xs:element>
          <xs:element name="number" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getEmployee">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="inEmp" type="foo.bar.Employee">
            </xs:element>
            <xs:element name="inoutEmp" type="foo.bar.Employee">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getEmployeeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="foo.bar.Employee">
            </xs:element>
            <xs:element name="outEmp" type="foo.bar.Employee">
            </xs:element>
            <xs:element name="inoutEmp" type="foo.bar.Employee">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getEmployeeResponse">
    <wsdl:part name="outparameter" element="tns:getEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmployee">
    <wsdl:part name="inparameter" element="tns:getEmployee">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="foo.bar">
    <wsdl:operation name="getEmployee">
      <wsdl:input name="getEmployeeRequest" message="tns:getEmployee">
    </wsdl:input>
      <wsdl:output name="getEmployeeResponse" message="tns:getEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
