tools/corba/src/test/resources/idl/expected_Anonarray.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<wsdl:definitions targetNamespace="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:tns="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:corba="http://cxf.apache.org/bindings/corba" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <corba:typeMapping targetNamespace="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap">
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns="" elemtype="corba:long" elemname="item" bound="2" type="ns4:anonStruct._Anon1_structLongArray" name="anonStruct._Anon1_structLongArray" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns="" elemtype="corba:long" elemname="item" bound="4" type="ns4:anonStruct._Anon1_structLongArrayArray" name="anonStruct._Anon1_structLongArrayArray" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" xmlns="" elemtype="ns4:anonStruct._Anon1_structLongArrayArray" elemname="item" bound="2" type="ns5:anonStruct._Anon2_structLongArrayArray" name="anonStruct._Anon2_structLongArrayArray" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns="" elemtype="corba:long" elemname="item" bound="8" type="ns4:anonStruct._Anon1_structLongArrayArrayArray" name="anonStruct._Anon1_structLongArrayArrayArray" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" xmlns="" elemtype="ns4:anonStruct._Anon1_structLongArrayArrayArray" elemname="item" bound="4" type="ns5:anonStruct._Anon2_structLongArrayArrayArray" name="anonStruct._Anon2_structLongArrayArrayArray" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" xmlns="" elemtype="ns4:anonStruct._Anon2_structLongArrayArrayArray" elemname="item" bound="2" type="ns5:anonStruct._Anon3_structLongArrayArrayArray" name="anonStruct._Anon3_structLongArrayArrayArray" />
    <corba:struct xmlns="http://cxf.apache.org/bindings/corba/idl/Anonarray" repositoryID="IDL:anonStruct:1.0" type="anonStruct" name="anonStruct">
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" name="structLongArray" idltype="ns4:anonStruct._Anon1_structLongArray" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" name="structLongArrayArray" idltype="ns4:anonStruct._Anon2_structLongArrayArray" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" name="structLongArrayArrayArray" idltype="ns4:anonStruct._Anon3_structLongArrayArrayArray" />
    </corba:struct>
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns="" elemtype="corba:long" elemname="item" bound="2" type="ns4:anonTypedefStruct._Anon1_typedefStructLongArray" name="anonTypedefStruct._Anon1_typedefStructLongArray" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns="" elemtype="corba:long" elemname="item" bound="4" type="ns4:anonTypedefStruct._Anon1_typedefStructLongArrayArray" name="anonTypedefStruct._Anon1_typedefStructLongArrayArray" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" xmlns="" elemtype="ns4:anonTypedefStruct._Anon1_typedefStructLongArrayArray" elemname="item" bound="2" type="ns5:anonTypedefStruct._Anon2_typedefStructLongArrayArray" name="anonTypedefStruct._Anon2_typedefStructLongArrayArray" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns="" elemtype="corba:long" elemname="item" bound="8" type="ns4:anonTypedefStruct._Anon1_typedefStructLongArrayArrayArray" name="anonTypedefStruct._Anon1_typedefStructLongArrayArrayArray" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" xmlns="" elemtype="ns4:anonTypedefStruct._Anon1_typedefStructLongArrayArrayArray" elemname="item" bound="4" type="ns5:anonTypedefStruct._Anon2_typedefStructLongArrayArrayArray" name="anonTypedefStruct._Anon2_typedefStructLongArrayArrayArray" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" xmlns="" elemtype="ns4:anonTypedefStruct._Anon2_typedefStructLongArrayArrayArray" elemname="item" bound="2" type="ns5:anonTypedefStruct._Anon3_typedefStructLongArrayArrayArray" name="anonTypedefStruct._Anon3_typedefStructLongArrayArrayArray" />
    <corba:struct xmlns="http://cxf.apache.org/bindings/corba/idl/Anonarray" repositoryID="IDL:anonTypedefStruct:1.0" type="anonTypedefStruct" name="anonTypedefStruct">
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" name="typedefStructLongArray" idltype="ns4:anonTypedefStruct._Anon1_typedefStructLongArray" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" name="typedefStructLongArrayArray" idltype="ns4:anonTypedefStruct._Anon2_typedefStructLongArrayArray" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" name="typedefStructLongArrayArrayArray" idltype="ns4:anonTypedefStruct._Anon3_typedefStructLongArrayArrayArray" />
    </corba:struct>
    <corba:alias xmlns="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" basetype="anonTypedefStruct" repositoryID="IDL:myAnonTypedefStruct:1.0" name="myAnonTypedefStruct" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns="" elemtype="corba:long" elemname="item" bound="2" type="ns4:anonUnion._Anon1_anonUnion" name="anonUnion._Anon1_anonUnion" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns="" elemtype="corba:long" elemname="item" bound="4" type="ns4:anonUnion._Anon2_anonUnion" name="anonUnion._Anon2_anonUnion" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" xmlns="" elemtype="ns4:anonUnion._Anon2_anonUnion" elemname="item" bound="2" type="ns5:anonUnion._Anon3_anonUnion" name="anonUnion._Anon3_anonUnion" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns="" elemtype="corba:long" elemname="item" bound="8" type="ns4:anonUnion._Anon4_anonUnion" name="anonUnion._Anon4_anonUnion" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" xmlns="" elemtype="ns4:anonUnion._Anon4_anonUnion" elemname="item" bound="4" type="ns5:anonUnion._Anon5_anonUnion" name="anonUnion._Anon5_anonUnion" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" xmlns="" elemtype="ns4:anonUnion._Anon5_anonUnion" elemname="item" bound="2" type="ns5:anonUnion._Anon6_anonUnion" name="anonUnion._Anon6_anonUnion" />
    <corba:union xmlns="http://cxf.apache.org/bindings/corba/idl/Anonarray" discriminator="corba:long" repositoryID="IDL:anonUnion:1.0" type="anonUnion" name="anonUnion">
      <corba:unionbranch xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" name="unionLongArray" idltype="ns4:anonUnion._Anon1_anonUnion">
        <corba:case label="1" />
      </corba:unionbranch>
      <corba:unionbranch xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" name="unionLongArrayArray" idltype="ns4:anonUnion._Anon3_anonUnion">
        <corba:case label="2" />
      </corba:unionbranch>
      <corba:unionbranch xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" name="unionLongArrayArrayArray" idltype="ns4:anonUnion._Anon6_anonUnion" default="true" />
    </corba:union>
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns="" elemtype="corba:long" elemname="item" bound="2" type="ns4:anonTypedefUnion._Anon1_anonTypedefUnion" name="anonTypedefUnion._Anon1_anonTypedefUnion" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns="" elemtype="corba:long" elemname="item" bound="4" type="ns4:anonTypedefUnion._Anon2_anonTypedefUnion" name="anonTypedefUnion._Anon2_anonTypedefUnion" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" xmlns="" elemtype="ns4:anonTypedefUnion._Anon2_anonTypedefUnion" elemname="item" bound="2" type="ns5:anonTypedefUnion._Anon3_anonTypedefUnion" name="anonTypedefUnion._Anon3_anonTypedefUnion" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns="" elemtype="corba:long" elemname="item" bound="8" type="ns4:anonTypedefUnion._Anon4_anonTypedefUnion" name="anonTypedefUnion._Anon4_anonTypedefUnion" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" xmlns="" elemtype="ns4:anonTypedefUnion._Anon4_anonTypedefUnion" elemname="item" bound="4" type="ns5:anonTypedefUnion._Anon5_anonTypedefUnion" name="anonTypedefUnion._Anon5_anonTypedefUnion" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" xmlns="" elemtype="ns4:anonTypedefUnion._Anon5_anonTypedefUnion" elemname="item" bound="2" type="ns5:anonTypedefUnion._Anon6_anonTypedefUnion" name="anonTypedefUnion._Anon6_anonTypedefUnion" />
    <corba:union xmlns="http://cxf.apache.org/bindings/corba/idl/Anonarray" discriminator="corba:long" repositoryID="IDL:anonTypedefUnion:1.0" type="anonTypedefUnion" name="anonTypedefUnion">
      <corba:unionbranch xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" name="unionLongArray" idltype="ns4:anonTypedefUnion._Anon1_anonTypedefUnion">
        <corba:case label="1" />
      </corba:unionbranch>
      <corba:unionbranch xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" name="unionLongArrayArray" idltype="ns4:anonTypedefUnion._Anon3_anonTypedefUnion">
        <corba:case label="2" />
      </corba:unionbranch>
      <corba:unionbranch xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" name="unionLongArrayArrayArray" idltype="ns4:anonTypedefUnion._Anon6_anonTypedefUnion" default="true" />
    </corba:union>
    <corba:alias xmlns="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" basetype="anonTypedefUnion" repositoryID="IDL:myAnonUnion:1.0" name="myAnonUnion" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns="" elemtype="corba:long" elemname="item" bound="2" type="ns4:anonException._Anon1_exceptionLongArray" name="anonException._Anon1_exceptionLongArray" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns="" elemtype="corba:long" elemname="item" bound="4" type="ns4:anonException._Anon1_exceptionLongArrayArray" name="anonException._Anon1_exceptionLongArrayArray" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" xmlns="" elemtype="ns4:anonException._Anon1_exceptionLongArrayArray" elemname="item" bound="2" type="ns5:anonException._Anon2_exceptionLongArrayArray" name="anonException._Anon2_exceptionLongArrayArray" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns="" elemtype="corba:long" elemname="item" bound="8" type="ns4:anonException._Anon1_exceptionLongArrayArrayArray" name="anonException._Anon1_exceptionLongArrayArrayArray" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" xmlns="" elemtype="ns4:anonException._Anon1_exceptionLongArrayArrayArray" elemname="item" bound="4" type="ns5:anonException._Anon2_exceptionLongArrayArrayArray" name="anonException._Anon2_exceptionLongArrayArrayArray" />
    <corba:anonarray xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" xmlns="" elemtype="ns4:anonException._Anon2_exceptionLongArrayArrayArray" elemname="item" bound="2" type="ns5:anonException._Anon3_exceptionLongArrayArrayArray" name="anonException._Anon3_exceptionLongArrayArrayArray" />
    <corba:exception xmlns="http://cxf.apache.org/bindings/corba/idl/Anonarray" repositoryID="IDL:anonException:1.0" type="anonExceptionType" name="anonException">
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" name="exceptionLongArray" idltype="ns4:anonException._Anon1_exceptionLongArray" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" name="exceptionLongArrayArray" idltype="ns4:anonException._Anon2_exceptionLongArrayArray" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Anonarray/typemap" name="exceptionLongArrayArrayArray" idltype="ns4:anonException._Anon3_exceptionLongArrayArrayArray" />
    </corba:exception>
  </corba:typeMapping>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns="http://cxf.apache.org/bindings/corba/idl/Anonarray" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="anonStruct._Anon1_structLongArray">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonStruct._Anon1_structLongArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="4" minOccurs="4" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonStruct._Anon2_structLongArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="anonStruct._Anon1_structLongArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonStruct._Anon1_structLongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="8" minOccurs="8" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonStruct._Anon2_structLongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="4" minOccurs="4" name="item" type="anonStruct._Anon1_structLongArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonStruct._Anon3_structLongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="anonStruct._Anon2_structLongArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonStruct">
        <xs:sequence>
          <xs:element name="structLongArray" type="anonStruct._Anon1_structLongArray">
          </xs:element>
          <xs:element name="structLongArrayArray" type="anonStruct._Anon2_structLongArrayArray">
          </xs:element>
          <xs:element name="structLongArrayArrayArray" type="anonStruct._Anon3_structLongArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefStruct._Anon1_typedefStructLongArray">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefStruct._Anon1_typedefStructLongArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="4" minOccurs="4" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefStruct._Anon2_typedefStructLongArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="anonTypedefStruct._Anon1_typedefStructLongArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefStruct._Anon1_typedefStructLongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="8" minOccurs="8" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefStruct._Anon2_typedefStructLongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="4" minOccurs="4" name="item" type="anonTypedefStruct._Anon1_typedefStructLongArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefStruct._Anon3_typedefStructLongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="anonTypedefStruct._Anon2_typedefStructLongArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefStruct">
        <xs:sequence>
          <xs:element name="typedefStructLongArray" type="anonTypedefStruct._Anon1_typedefStructLongArray">
          </xs:element>
          <xs:element name="typedefStructLongArrayArray" type="anonTypedefStruct._Anon2_typedefStructLongArrayArray">
          </xs:element>
          <xs:element name="typedefStructLongArrayArrayArray" type="anonTypedefStruct._Anon3_typedefStructLongArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonUnion._Anon1_anonUnion">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonUnion._Anon2_anonUnion">
        <xs:sequence>
          <xs:element maxOccurs="4" minOccurs="4" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonUnion._Anon3_anonUnion">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="anonUnion._Anon2_anonUnion">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonUnion._Anon4_anonUnion">
        <xs:sequence>
          <xs:element maxOccurs="8" minOccurs="8" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonUnion._Anon5_anonUnion">
        <xs:sequence>
          <xs:element maxOccurs="4" minOccurs="4" name="item" type="anonUnion._Anon4_anonUnion">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonUnion._Anon6_anonUnion">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="anonUnion._Anon5_anonUnion">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonUnion">
        <xs:choice>
          <xs:element name="unionLongArray" type="anonUnion._Anon1_anonUnion">
          </xs:element>
          <xs:element name="unionLongArrayArray" type="anonUnion._Anon3_anonUnion">
          </xs:element>
          <xs:element name="unionLongArrayArrayArray" type="anonUnion._Anon6_anonUnion">
          </xs:element>
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="anonTypedefUnion._Anon1_anonTypedefUnion">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefUnion._Anon2_anonTypedefUnion">
        <xs:sequence>
          <xs:element maxOccurs="4" minOccurs="4" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefUnion._Anon3_anonTypedefUnion">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="anonTypedefUnion._Anon2_anonTypedefUnion">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefUnion._Anon4_anonTypedefUnion">
        <xs:sequence>
          <xs:element maxOccurs="8" minOccurs="8" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefUnion._Anon5_anonTypedefUnion">
        <xs:sequence>
          <xs:element maxOccurs="4" minOccurs="4" name="item" type="anonTypedefUnion._Anon4_anonTypedefUnion">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefUnion._Anon6_anonTypedefUnion">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="anonTypedefUnion._Anon5_anonTypedefUnion">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefUnion">
        <xs:choice>
          <xs:element name="unionLongArray" type="anonTypedefUnion._Anon1_anonTypedefUnion">
          </xs:element>
          <xs:element name="unionLongArrayArray" type="anonTypedefUnion._Anon3_anonTypedefUnion">
          </xs:element>
          <xs:element name="unionLongArrayArrayArray" type="anonTypedefUnion._Anon6_anonTypedefUnion">
          </xs:element>
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="anonException._Anon1_exceptionLongArray">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonException._Anon1_exceptionLongArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="4" minOccurs="4" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonException._Anon2_exceptionLongArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="anonException._Anon1_exceptionLongArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonException._Anon1_exceptionLongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="8" minOccurs="8" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonException._Anon2_exceptionLongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="4" minOccurs="4" name="item" type="anonException._Anon1_exceptionLongArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonException._Anon3_exceptionLongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="anonException._Anon2_exceptionLongArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="anonException" type="anonExceptionType">
      </xs:element>
      <xs:complexType name="anonExceptionType">
        <xs:sequence>
          <xs:element name="exceptionLongArray" type="anonException._Anon1_exceptionLongArray">
          </xs:element>
          <xs:element name="exceptionLongArrayArray" type="anonException._Anon2_exceptionLongArrayArray">
          </xs:element>
          <xs:element name="exceptionLongArrayArrayArray" type="anonException._Anon3_exceptionLongArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="anonException">
    <wsdl:part name="exception" element="tns:anonException">
    </wsdl:part>
  </wsdl:message>
</wsdl:definitions>
