tools/corba/src/test/resources/idl/expected_Included.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<wsdl:definitions targetNamespace="http://cxf.apache.org/bindings/corba/idl/included" xmlns:tns="http://cxf.apache.org/bindings/corba/idl/included" xmlns:corba="http://cxf.apache.org/bindings/corba" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <corba:typeMapping targetNamespace="http://cxf.apache.org/bindings/corba/idl/included/typemap">
    <corba:struct xmlns="http://cxf.apache.org/bindings/corba/idl/included" repositoryID="IDL:yoko/Employee:1.0" type="yoko.Employee" name="yoko.Employee">
      <corba:member name="name" idltype="corba:string" />
      <corba:member name="dept" idltype="corba:string" />
    </corba:struct>
  </corba:typeMapping>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://cxf.apache.org/bindings/corba/idl/included" xmlns="http://cxf.apache.org/bindings/corba/idl/included" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="yoko.Employee">
        <xs:sequence>
          <xs:element name="name" type="xs:string">
          </xs:element>
          <xs:element name="dept" type="xs:string">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="add">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="emp" type="yoko.Employee">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="addResponse">
    <wsdl:part name="outparameter" element="tns:addResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="add">
    <wsdl:part name="inparameter" element="tns:add">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="yoko.org.EmployeeTest">
    <wsdl:operation name="add">
      <wsdl:input name="addRequest" message="tns:add">
    </wsdl:input>
      <wsdl:output name="addResponse" message="tns:addResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="yoko.org.EmployeeTestCORBABinding" type="tns:yoko.org.EmployeeTest">
    <corba:binding repositoryID="IDL:yoko/org/EmployeeTest:1.0" />
    <wsdl:operation name="add">
      <corba:operation name="add">
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/included/typemap" mode="in" name="emp" idltype="yoko.Employee" />
        <corba:return name="return" idltype="corba:boolean" />
      </corba:operation>
      <wsdl:input name="addRequest">
      </wsdl:input>
      <wsdl:output name="addResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="yoko.org.EmployeeTestCORBAService">
    <wsdl:port name="yoko.org.EmployeeTestCORBAPort" binding="tns:yoko.org.EmployeeTestCORBABinding">
      <corba:address location="IOR:" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
