tools/corba/src/test/resources/idl/expected_Attributes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<wsdl:definitions targetNamespace="http://cxf.apache.org/bindings/corba/idl/Attributes" xmlns:tns="http://cxf.apache.org/bindings/corba/idl/Attributes" xmlns:corba="http://cxf.apache.org/bindings/corba" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <corba:typeMapping targetNamespace="http://cxf.apache.org/bindings/corba/idl/Attributes/typemap">
    <corba:struct xmlns="http://cxf.apache.org/bindings/corba/idl/Attributes" repositoryID="IDL:myStruct:1.0" type="myStruct" name="myStruct">
      <corba:member name="id" idltype="corba:long" />
      <corba:member name="name" idltype="corba:string" />
    </corba:struct>
    <corba:anonstring xmlns="http://cxf.apache.org/bindings/corba/idl/Attributes" bound="20" type="If.myString" name="If._Anon1_myString" />
    <corba:alias xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Attributes" xmlns="http://cxf.apache.org/bindings/corba/idl/Attributes/typemap" basetype="If._Anon1_myString" repositoryID="IDL:If/myString:1.0" type="ns4:If.myString" name="If.myString" />
  </corba:typeMapping>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://cxf.apache.org/bindings/corba/idl/Attributes" xmlns="http://cxf.apache.org/bindings/corba/idl/Attributes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="myStruct">
        <xs:sequence>
          <xs:element name="id" type="xs:int">
          </xs:element>
          <xs:element name="name" type="xs:string">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="_get_ReadOnlyShort">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_get_ReadOnlyShortResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:short">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_get_ReadWriteLong">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_get_ReadWriteLongResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_set_ReadWriteLong">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="_arg" type="xs:int">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_set_ReadWriteLongResult">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_get_readonlyMyStruct">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_get_readonlyMyStructResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="myStruct">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_get_readwriteMyStruct">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_get_readwriteMyStructResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="myStruct">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_set_readwriteMyStruct">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="_arg" type="myStruct">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_set_readwriteMyStructResult">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:simpleType name="If.myString">
        <xs:restriction base="xs:string">
          <xs:maxLength value="20">
          </xs:maxLength>
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="_get_readonlyMyString">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_get_readonlyMyStringResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="If.myString">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_get_readwriteMyString">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_get_readwriteMyStringResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="If.myString">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_set_readwriteMyString">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="_arg" type="If.myString">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_set_readwriteMyStringResult">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="_set_readwriteMyString">
    <wsdl:part name="parameters" element="tns:_set_readwriteMyString">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_get_ReadOnlyShortResponse">
    <wsdl:part name="parameters" element="tns:_get_ReadOnlyShortResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_get_readwriteMyStructResponse">
    <wsdl:part name="parameters" element="tns:_get_readwriteMyStructResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_set_readwriteMyStringResponse">
    <wsdl:part name="parameters" element="tns:_set_readwriteMyStringResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_get_readonlyMyStruct">
    <wsdl:part name="parameters" element="tns:_get_readonlyMyStruct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_get_readwriteMyStruct">
    <wsdl:part name="parameters" element="tns:_get_readwriteMyStruct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_get_readonlyMyStringResponse">
    <wsdl:part name="parameters" element="tns:_get_readonlyMyStringResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_set_ReadWriteLongResponse">
    <wsdl:part name="parameters" element="tns:_set_ReadWriteLongResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_get_readwriteMyStringResponse">
    <wsdl:part name="parameters" element="tns:_get_readwriteMyStringResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_set_readwriteMyStruct">
    <wsdl:part name="parameters" element="tns:_set_readwriteMyStruct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_set_readwriteMyStructResponse">
    <wsdl:part name="parameters" element="tns:_set_readwriteMyStructResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_get_ReadWriteLong">
    <wsdl:part name="parameters" element="tns:_get_ReadWriteLong">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_get_readonlyMyStructResponse">
    <wsdl:part name="parameters" element="tns:_get_readonlyMyStructResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_get_readwriteMyString">
    <wsdl:part name="parameters" element="tns:_get_readwriteMyString">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_get_ReadOnlyShort">
    <wsdl:part name="parameters" element="tns:_get_ReadOnlyShort">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_get_readonlyMyString">
    <wsdl:part name="parameters" element="tns:_get_readonlyMyString">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_set_ReadWriteLong">
    <wsdl:part name="parameters" element="tns:_set_ReadWriteLong">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_get_ReadWriteLongResponse">
    <wsdl:part name="parameters" element="tns:_get_ReadWriteLongResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="If">
    <wsdl:operation name="_get_ReadOnlyShort">
      <wsdl:input name="_get_ReadOnlyShort" message="tns:_get_ReadOnlyShort">
    </wsdl:input>
      <wsdl:output name="_get_ReadOnlyShortResponse" message="tns:_get_ReadOnlyShortResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_get_ReadWriteLong">
      <wsdl:input name="_get_ReadWriteLong" message="tns:_get_ReadWriteLong">
    </wsdl:input>
      <wsdl:output name="_get_ReadWriteLongResponse" message="tns:_get_ReadWriteLongResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_set_ReadWriteLong">
      <wsdl:input name="_set_ReadWriteLong" message="tns:_set_ReadWriteLong">
    </wsdl:input>
      <wsdl:output name="_set_ReadWriteLongResponse" message="tns:_set_ReadWriteLongResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_get_readonlyMyStruct">
      <wsdl:input name="_get_readonlyMyStruct" message="tns:_get_readonlyMyStruct">
    </wsdl:input>
      <wsdl:output name="_get_readonlyMyStructResponse" message="tns:_get_readonlyMyStructResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_get_readwriteMyStruct">
      <wsdl:input name="_get_readwriteMyStruct" message="tns:_get_readwriteMyStruct">
    </wsdl:input>
      <wsdl:output name="_get_readwriteMyStructResponse" message="tns:_get_readwriteMyStructResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_set_readwriteMyStruct">
      <wsdl:input name="_set_readwriteMyStruct" message="tns:_set_readwriteMyStruct">
    </wsdl:input>
      <wsdl:output name="_set_readwriteMyStructResponse" message="tns:_set_readwriteMyStructResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_get_readonlyMyString">
      <wsdl:input name="_get_readonlyMyString" message="tns:_get_readonlyMyString">
    </wsdl:input>
      <wsdl:output name="_get_readonlyMyStringResponse" message="tns:_get_readonlyMyStringResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_get_readwriteMyString">
      <wsdl:input name="_get_readwriteMyString" message="tns:_get_readwriteMyString">
    </wsdl:input>
      <wsdl:output name="_get_readwriteMyStringResponse" message="tns:_get_readwriteMyStringResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_set_readwriteMyString">
      <wsdl:input name="_set_readwriteMyString" message="tns:_set_readwriteMyString">
    </wsdl:input>
      <wsdl:output name="_set_readwriteMyStringResponse" message="tns:_set_readwriteMyStringResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IfCORBABinding" type="tns:If">
    <corba:binding repositoryID="IDL:If:1.0" />
    <wsdl:operation name="_get_ReadOnlyShort">
      <corba:operation name="_get_ReadOnlyShort">
        <corba:return idltype="corba:short" name="return" />
      </corba:operation>
      <wsdl:input name="_get_ReadOnlyShort">
      </wsdl:input>
      <wsdl:output name="_get_ReadOnlyShortResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_get_ReadWriteLong">
      <corba:operation name="_get_ReadWriteLong">
        <corba:return idltype="corba:long" name="return" />
      </corba:operation>
      <wsdl:input name="_get_ReadWriteLong">
      </wsdl:input>
      <wsdl:output name="_get_ReadWriteLongResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_set_ReadWriteLong">
      <corba:operation name="_set_ReadWriteLong">
        <corba:param mode="in" idltype="corba:long" name="_arg" />
      </corba:operation>
      <wsdl:input name="_set_ReadWriteLong">
      </wsdl:input>
      <wsdl:output name="_set_ReadWriteLongResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_get_readonlyMyStruct">
      <corba:operation name="_get_readonlyMyStruct">
        <corba:return xmlns="http://cxf.apache.org/bindings/corba/idl/Attributes/typemap" idltype="myStruct" name="return" />
      </corba:operation>
      <wsdl:input name="_get_readonlyMyStruct">
      </wsdl:input>
      <wsdl:output name="_get_readonlyMyStructResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_get_readwriteMyStruct">
      <corba:operation name="_get_readwriteMyStruct">
        <corba:return xmlns="http://cxf.apache.org/bindings/corba/idl/Attributes/typemap" idltype="myStruct" name="return" />
      </corba:operation>
      <wsdl:input name="_get_readwriteMyStruct">
      </wsdl:input>
      <wsdl:output name="_get_readwriteMyStructResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_set_readwriteMyStruct">
      <corba:operation name="_set_readwriteMyStruct">
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/Attributes/typemap" mode="in" idltype="myStruct" name="_arg" />
      </corba:operation>
      <wsdl:input name="_set_readwriteMyStruct">
      </wsdl:input>
      <wsdl:output name="_set_readwriteMyStructResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_get_readonlyMyString">
      <corba:operation name="_get_readonlyMyString">
        <corba:return xmlns="http://cxf.apache.org/bindings/corba/idl/Attributes/typemap" idltype="If.myString" name="return" />
      </corba:operation>
      <wsdl:input name="_get_readonlyMyString">
      </wsdl:input>
      <wsdl:output name="_get_readonlyMyStringResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_get_readwriteMyString">
      <corba:operation name="_get_readwriteMyString">
        <corba:return xmlns="http://cxf.apache.org/bindings/corba/idl/Attributes/typemap" idltype="If.myString" name="return" />
      </corba:operation>
      <wsdl:input name="_get_readwriteMyString">
      </wsdl:input>
      <wsdl:output name="_get_readwriteMyStringResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_set_readwriteMyString">
      <corba:operation name="_set_readwriteMyString">
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/Attributes/typemap" mode="in" idltype="If.myString" name="_arg" />
      </corba:operation>
      <wsdl:input name="_set_readwriteMyString">
      </wsdl:input>
      <wsdl:output name="_set_readwriteMyStringResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IfCORBAService">
    <wsdl:port name="IfCORBAPort" binding="tns:IfCORBABinding">
      <corba:address location="IOR:" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
