tools/corba/src/test/resources/idl/expected_Struct_multiple_dcl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<wsdl:definitions targetNamespace="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" xmlns:tns="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" xmlns:corba="http://cxf.apache.org/bindings/corba" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <corba:typeMapping targetNamespace="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl/typemap">
    <corba:struct xmlns="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" repositoryID="IDL:s1:1.0" type="s1" name="s1">
      <corba:member idltype="corba:long" name="s1_l1" />
    </corba:struct>
    <corba:struct xmlns="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" repositoryID="IDL:s2:1.0" type="s2" name="s2">
      <corba:member idltype="corba:long" name="s2_l1" />
      <corba:member idltype="corba:long" name="s2_l2" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl/typemap" idltype="ns4:s1" name="s2_s1" />
    </corba:struct>
    <corba:struct xmlns="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" repositoryID="IDL:s3:1.0" type="s3" name="s3">
      <corba:member idltype="corba:long" name="s3_l1" />
      <corba:member idltype="corba:short" name="s3_s1" />
      <corba:member idltype="corba:short" name="s3_s2" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl/typemap" idltype="ns4:s1" name="s3_s1" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl/typemap" idltype="ns4:s1" name="s3_s2" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl/typemap" idltype="ns4:s1" name="s3_s3" />
    </corba:struct>
    <corba:struct xmlns="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" repositoryID="IDL:s4:1.0" type="s4" name="s4">
      <corba:member idltype="corba:long" name="s4_l1" />
      <corba:member idltype="corba:short" name="s4_s1" />
      <corba:member idltype="corba:short" name="s4_s2" />
      <corba:member idltype="corba:short" name="s4_s3" />
      <corba:member idltype="corba:string" name="s4_str1" />
    </corba:struct>
    <corba:struct xmlns="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" repositoryID="IDL:s5:1.0" type="s5" name="s5">
      <corba:member idltype="corba:string" name="s5_s1" />
      <corba:member idltype="corba:string" name="s5_s2" />
      <corba:member idltype="corba:string" name="s5_s3" />
    </corba:struct>
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" xmlns="" elemname="item" bound="10" elemtype="corba:long" type="ns4:s6._Anon1_s6_l1" name="s6._Anon1_s6_l1" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" xmlns="" elemname="item" bound="7" elemtype="corba:short" type="ns4:s6._Anon1_s6_s1" name="s6._Anon1_s6_s1" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" xmlns="" elemname="item" bound="100" elemtype="corba:float" type="ns4:s6._Anon1_s6_f1" name="s6._Anon1_s6_f1" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" xmlns="" elemname="item" bound="1000" elemtype="corba:float" type="ns4:s6._Anon2_s6_f1" name="s6._Anon2_s6_f1" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" xmlns="" elemname="item" bound="5" elemtype="corba:double" type="ns4:s6._Anon1_s6_d1" name="s6._Anon1_s6_d1" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" xmlns="" elemname="item" bound="50" elemtype="corba:double" type="ns4:s6._Anon2_s6_d1" name="s6._Anon2_s6_d1" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" xmlns="" elemname="item" bound="500" elemtype="corba:double" type="ns4:s6._Anon3_s6_d1" name="s6._Anon3_s6_d1" />
    <corba:anonarray xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" xmlns="" elemname="item" bound="3" elemtype="corba:longlong" type="ns4:s6._Anon1_s6_ll1" name="s6._Anon1_s6_ll1" />
    <corba:struct xmlns="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" repositoryID="IDL:s6:1.0" type="s6" name="s6">
      <corba:member idltype="corba:long" name="s6_l1" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl/typemap" idltype="ns4:s6._Anon1_s6_l1" name="s6_l2" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl/typemap" idltype="ns4:s6._Anon1_s6_s1" name="s6_s1" />
      <corba:member idltype="corba:short" name="s6_s2" />
      <corba:member idltype="corba:short" name="s6_s3" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl/typemap" idltype="ns4:s6._Anon1_s6_f1" name="s6_f1" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl/typemap" idltype="ns4:s6._Anon2_s6_f1" name="s6_f2" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl/typemap" idltype="ns4:s6._Anon1_s6_d1" name="s6_d1" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl/typemap" idltype="ns4:s6._Anon2_s6_d1" name="s6_d2" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl/typemap" idltype="ns4:s6._Anon3_s6_d1" name="s6_d3" />
      <corba:member idltype="corba:longlong" name="s6_ll1" />
      <corba:member xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl/typemap" idltype="ns4:s6._Anon1_s6_ll1" name="s6_ll2" />
      <corba:member idltype="corba:longlong" name="s6_ll3" />
    </corba:struct>
  </corba:typeMapping>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" xmlns="http://cxf.apache.org/bindings/corba/idl/Struct_multiple_dcl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="s1">
        <xs:sequence>
          <xs:element name="s1_l1" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="s2">
        <xs:sequence>
          <xs:element name="s2_l1" type="xs:int">
          </xs:element>
          <xs:element name="s2_l2" type="xs:int">
          </xs:element>
          <xs:element name="s2_s1" type="s1">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="s3">
        <xs:sequence>
          <xs:element name="s3_l1" type="xs:int">
          </xs:element>
          <xs:element name="s3_s1" type="xs:short">
          </xs:element>
          <xs:element name="s3_s2" type="xs:short">
          </xs:element>
          <xs:element name="s3_s1" type="s1">
          </xs:element>
          <xs:element name="s3_s2" type="s1">
          </xs:element>
          <xs:element name="s3_s3" type="s1">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="s4">
        <xs:sequence>
          <xs:element name="s4_l1" type="xs:int">
          </xs:element>
          <xs:element name="s4_s1" type="xs:short">
          </xs:element>
          <xs:element name="s4_s2" type="xs:short">
          </xs:element>
          <xs:element name="s4_s3" type="xs:short">
          </xs:element>
          <xs:element name="s4_str1" type="xs:string">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="s5">
        <xs:sequence>
          <xs:element name="s5_s1" type="xs:string">
          </xs:element>
          <xs:element name="s5_s2" type="xs:string">
          </xs:element>
          <xs:element name="s5_s3" type="xs:string">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="s6._Anon1_s6_l1">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="10" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="s6._Anon1_s6_s1">
        <xs:sequence>
          <xs:element maxOccurs="7" minOccurs="7" name="item" type="xs:short">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="s6._Anon1_s6_f1">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="100" name="item" type="xs:float">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="s6._Anon2_s6_f1">
        <xs:sequence>
          <xs:element maxOccurs="1000" minOccurs="1000" name="item" type="xs:float">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="s6._Anon1_s6_d1">
        <xs:sequence>
          <xs:element maxOccurs="5" minOccurs="5" name="item" type="xs:double">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="s6._Anon2_s6_d1">
        <xs:sequence>
          <xs:element maxOccurs="50" minOccurs="50" name="item" type="xs:double">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="s6._Anon3_s6_d1">
        <xs:sequence>
          <xs:element maxOccurs="500" minOccurs="500" name="item" type="xs:double">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="s6._Anon1_s6_ll1">
        <xs:sequence>
          <xs:element maxOccurs="3" minOccurs="3" name="item" type="xs:long">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="s6">
        <xs:sequence>
          <xs:element name="s6_l1" type="xs:int">
          </xs:element>
          <xs:element name="s6_l2" type="s6._Anon1_s6_l1">
          </xs:element>
          <xs:element name="s6_s1" type="s6._Anon1_s6_s1">
          </xs:element>
          <xs:element name="s6_s2" type="xs:short">
          </xs:element>
          <xs:element name="s6_s3" type="xs:short">
          </xs:element>
          <xs:element name="s6_f1" type="s6._Anon1_s6_f1">
          </xs:element>
          <xs:element name="s6_f2" type="s6._Anon2_s6_f1">
          </xs:element>
          <xs:element name="s6_d1" type="s6._Anon1_s6_d1">
          </xs:element>
          <xs:element name="s6_d2" type="s6._Anon2_s6_d1">
          </xs:element>
          <xs:element name="s6_d3" type="s6._Anon3_s6_d1">
          </xs:element>
          <xs:element name="s6_ll1" type="xs:long">
          </xs:element>
          <xs:element name="s6_ll2" type="s6._Anon1_s6_ll1">
          </xs:element>
          <xs:element name="s6_ll3" type="xs:long">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
</wsdl:definitions>
