tools/corba/src/test/resources/idl/expected_ForwardUnion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<wsdl:definitions targetNamespace="http://cxf.apache.org/bindings/corba/idl/ForwardUnion" xmlns:tns="http://cxf.apache.org/bindings/corba/idl/ForwardUnion" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:corba="http://cxf.apache.org/bindings/corba" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <corba:typeMapping targetNamespace="http://cxf.apache.org/bindings/corba/idl/ForwardUnion/typemap">
    <corba:sequence xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/ForwardUnion" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/ForwardUnion/typemap" xmlns="" elemtype="ns4:UnionTest.Foo" elemname="item" bound="0" repositoryID="IDL:UnionTest/FooSeq:1.0" type="ns5:UnionTest.Foo" name="UnionTest.FooSeq" />
    <corba:sequence xmlns:ns5="http://cxf.apache.org/bindings/corba/idl/ForwardUnion" xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/ForwardUnion/typemap" xmlns="" elemtype="ns4:UnionTest.FooSeq" elemname="item" bound="0" repositoryID="IDL:UnionTest/FooTree:1.0" type="ns5:UnionTest.FooTree" name="UnionTest.FooTree" />
    <corba:union xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardUnion" discriminator="corba:long" repositoryID="IDL:UnionTest/Foo:1.0" type="UnionTest.Foo" name="UnionTest.Foo">
      <corba:unionbranch xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/ForwardUnion/typemap" name="u1_1" idltype="ns4:UnionTest.FooSeq">
        <corba:case label="1" />
      </corba:unionbranch>
      <corba:unionbranch xmlns:ns4="http://cxf.apache.org/bindings/corba/idl/ForwardUnion/typemap" name="u1_2" idltype="ns4:UnionTest.FooTree">
        <corba:case label="2" />
      </corba:unionbranch>
      <corba:unionbranch name="u1_3" idltype="corba:long" default="true" />
    </corba:union>
  </corba:typeMapping>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://cxf.apache.org/bindings/corba/idl/ForwardUnion" xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardUnion" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="UnionTest.FooSeq">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="UnionTest.Foo">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UnionTest.FooTree">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="UnionTest.FooSeq">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UnionTest.Foo">
        <xs:choice>
          <xs:element name="u1_1" type="UnionTest.FooSeq">
          </xs:element>
          <xs:element name="u1_2" type="UnionTest.FooTree">
          </xs:element>
          <xs:element name="u1_3" type="xs:int">
          </xs:element>
        </xs:choice>
      </xs:complexType>
      <xs:element name="getUnionTree">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="inU" type="UnionTest.FooTree">
            </xs:element>
            <xs:element name="inoutU" type="UnionTest.FooTree">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUnionTreeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="UnionTest.FooTree">
            </xs:element>
            <xs:element name="outU" type="UnionTest.FooTree">
            </xs:element>
            <xs:element name="inoutU" type="UnionTest.FooTree">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUnion">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="inU" type="UnionTest.Foo">
            </xs:element>
            <xs:element name="inoutU" type="UnionTest.Foo">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUnionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="UnionTest.Foo">
            </xs:element>
            <xs:element name="outU" type="UnionTest.Foo">
            </xs:element>
            <xs:element name="inoutU" type="UnionTest.Foo">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getUnionResponse">
    <wsdl:part name="outparameter" element="tns:getUnionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUnionTreeResponse">
    <wsdl:part name="outparameter" element="tns:getUnionTreeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUnion">
    <wsdl:part name="inparameter" element="tns:getUnion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUnionTree">
    <wsdl:part name="inparameter" element="tns:getUnionTree">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UnionTest">
    <wsdl:operation name="getUnionTree">
      <wsdl:input name="getUnionTreeRequest" message="tns:getUnionTree">
    </wsdl:input>
      <wsdl:output name="getUnionTreeResponse" message="tns:getUnionTreeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnion">
      <wsdl:input name="getUnionRequest" message="tns:getUnion">
    </wsdl:input>
      <wsdl:output name="getUnionResponse" message="tns:getUnionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UnionTestCORBABinding" type="tns:UnionTest">
    <corba:binding repositoryID="IDL:UnionTest:1.0" />
    <wsdl:operation name="getUnionTree">
      <corba:operation name="getUnionTree">
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardUnion/typemap" mode="in" name="inU" idltype="UnionTest.FooTree" />
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardUnion/typemap" mode="out" name="outU" idltype="UnionTest.FooTree" />
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardUnion/typemap" mode="inout" name="inoutU" idltype="UnionTest.FooTree" />
        <corba:return xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardUnion/typemap" name="return" idltype="UnionTest.FooTree" />
      </corba:operation>
      <wsdl:input name="getUnionTreeRequest">
      </wsdl:input>
      <wsdl:output name="getUnionTreeResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnion">
      <corba:operation name="getUnion">
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardUnion/typemap" mode="in" name="inU" idltype="UnionTest.Foo" />
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardUnion/typemap" mode="out" name="outU" idltype="UnionTest.Foo" />
        <corba:param xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardUnion/typemap" mode="inout" name="inoutU" idltype="UnionTest.Foo" />
        <corba:return xmlns="http://cxf.apache.org/bindings/corba/idl/ForwardUnion/typemap" name="return" idltype="UnionTest.Foo" />
      </corba:operation>
      <wsdl:input name="getUnionRequest">
      </wsdl:input>
      <wsdl:output name="getUnionResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UnionTestCORBAService">
    <wsdl:port name="UnionTestCORBAPort" binding="tns:UnionTestCORBABinding">
      <corba:address location="IOR:" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
