systests/uncategorized/src/test/resources/DoubleItLogical.wsdl

<?xml version="1.0"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at
 
 http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:di="http://www.example.org/schema/DoubleIt" xmlns:tns="http://www.example.org/contract/DoubleIt" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" name="DoubleIt" targetNamespace="http://www.example.org/contract/DoubleIt">
    <!-- Replaced for wsp: http://schemas.xmlsoap.org/ws/2004/09/policy -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/schema/DoubleIt">
            <xsd:element name="DoubleIt">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="numberToDouble" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DoubleIt2">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="numberToDouble" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DoubleIt3">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="numberToDouble" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DoubleIt4">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="numberToDouble" type="xsd:int"/>
                        <xsd:element name="ImageData" type="xsd:base64Binary"
                            xmime:expectedContentTypes="application/octet-stream"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DoubleItResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="doubledNumber" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DoubleItResponse2">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="doubledResult" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DoubleItHeader" type="xsd:int"/>
            <xsd:element name="DoubleItFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="minor" type="xsd:short"/>
                        <xsd:element name="major" type="xsd:short"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="DoubleItRequest">
        <wsdl:part element="di:DoubleIt" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DoubleIt2Request">
        <wsdl:part element="di:DoubleIt2" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DoubleIt3Request">
        <wsdl:part element="di:DoubleIt3" name="parameters"/>
        <wsdl:part name="attachment" type="xsd:base64Binary"/>
    </wsdl:message>
    <wsdl:message name="DoubleIt4Request">
        <wsdl:part element="di:DoubleIt4" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DoubleItRequestHeader">
        <wsdl:part element="di:DoubleIt" name="parameters"/>
        <wsdl:part element="di:DoubleItHeader" name="header"/>
    </wsdl:message>
    <wsdl:message name="DoubleItResponse">
        <wsdl:part element="di:DoubleItResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DoubleIt2Response">
        <wsdl:part element="di:DoubleItResponse2" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DoubleIt3Response">
        <wsdl:part element="di:DoubleItResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DoubleIt4Response">
        <wsdl:part element="di:DoubleItResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DoubleItFault">
        <wsdl:part element="di:DoubleItFault" name="DoubleItFault"/>
    </wsdl:message>
    <wsdl:portType name="DoubleItPortType">
        <wsdl:operation name="DoubleIt">
            <wsdl:input message="tns:DoubleItRequest"/>
            <wsdl:output message="tns:DoubleItResponse"/>
            <wsdl:fault message="tns:DoubleItFault" name="DoubleItFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="DoubleItPortTypeHeader">
        <wsdl:operation name="DoubleIt">
            <wsdl:input message="tns:DoubleItRequestHeader"/>
            <wsdl:output message="tns:DoubleItResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="DoubleItPortType2">
        <wsdl:operation name="DoubleIt">
            <wsdl:input message="tns:DoubleItRequest"/>
            <wsdl:output message="tns:DoubleItResponse"/>
            <wsdl:fault message="tns:DoubleItFault" name="DoubleItFault"/>
        </wsdl:operation>
        <wsdl:operation name="DoubleIt2">
            <wsdl:input message="tns:DoubleIt2Request"/>
            <wsdl:output message="tns:DoubleIt2Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="DoubleItSwaPortType">
        <wsdl:operation name="DoubleIt3">
            <wsdl:input message="tns:DoubleIt3Request"/>
            <wsdl:output message="tns:DoubleIt3Response"/>
            <wsdl:fault message="tns:DoubleItFault" name="DoubleItFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="DoubleItMtomPortType">
        <wsdl:operation name="DoubleIt4">
            <wsdl:input message="tns:DoubleIt4Request"/>
            <wsdl:output message="tns:DoubleIt4Response"/>
            <wsdl:fault message="tns:DoubleItFault" name="DoubleItFault"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
