systests/ws-security/src/test/resources/wsdl_systest_wssec/spnego/DoubleItSpnego.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at
 
 http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<wsdl:definitions name="DoubleIt"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSSec/spnego"
    targetNamespace="http://WSSec/spnego" 
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsaws="http://www.w3.org/2005/08/addressing" 
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
    xmlns:sp13="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200802">
    <wsdl:types>
        <xsd:schema targetNamespace="http://WSSec/spnego">
            <xsd:element name="DoubleIt">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="numberToDouble">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:integer">
                                    <xsd:minInclusive value="0"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DoubleItResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="doubledNumber" type="xsd:integer" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DoubleItFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="reason" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="DoubleItRequest">
        <wsdl:part element="tns:DoubleIt" name="parameters" />
    </wsdl:message>
    <wsdl:message name="DoubleItResponse">
        <wsdl:part element="tns:DoubleItResponse" name="parameters" />
    </wsdl:message>
    <wsdl:message name="DoubleItFault">
        <wsdl:part element="tns:DoubleItFault" name="fault" />
    </wsdl:message>
    <wsdl:portType name="DoubleItPortType">
        <wsdl:operation name="DoubleIt">
            <wsdl:input message="tns:DoubleItRequest" />
            <wsdl:output message="tns:DoubleItResponse" />
            <wsdl:fault name="DoubleItFault" message="tns:DoubleItFault" />
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="DoubleItSpnegoSymmetricProtectionBinding" type="tns:DoubleItPortType">
        <wsp:PolicyReference URI="#DoubleItSpnegoSymmetricProtectionPolicy" />
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="DoubleIt">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
                <wsp:PolicyReference URI="#DoubleItBinding_DoubleIt_Input_Policy"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <wsp:PolicyReference URI="#DoubleItBinding_DoubleIt_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="DoubleItFault">
                <soap:body use="literal" name="DoubleItFault" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:binding name="DoubleItSpnegoSymmetricProtectionDerivedBinding" type="tns:DoubleItPortType">
        <wsp:PolicyReference URI="#DoubleItSpnegoSymmetricProtectionDerivedPolicy" />
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="DoubleIt">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
                <wsp:PolicyReference URI="#DoubleItBinding_DoubleIt_Input_Policy"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <wsp:PolicyReference URI="#DoubleItBinding_DoubleIt_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="DoubleItFault">
                <soap:body use="literal" name="DoubleItFault" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="DoubleItService">
        <wsdl:port name="DoubleItSpnegoSymmetricPort" 
                   binding="tns:DoubleItSpnegoSymmetricProtectionBinding">
            <soap:address location="http://localhost:9001/DoubleItSpnegoSymmetric" />
        </wsdl:port>
        <wsdl:port name="DoubleItSpnegoSymmetricDerivedPort" 
                   binding="tns:DoubleItSpnegoSymmetricProtectionDerivedBinding">
            <soap:address location="http://localhost:9001/DoubleItSpnegoSymmetricDerived" />
        </wsdl:port>
    </wsdl:service>

    <wsp:Policy wsu:Id="DoubleItSpnegoSymmetricProtectionPolicy">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:SymmetricBinding>
               <wsp:Policy>
                  <sp:ProtectionToken>
                     <wsp:Policy>
                         <sp:SpnegoContextToken
                            sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Once">
                            <wsp:Policy>
                            </wsp:Policy>
                         </sp:SpnegoContextToken>
                     </wsp:Policy>
                  </sp:ProtectionToken>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Lax/>
                     </wsp:Policy>
                  </sp:Layout>
                  <sp:IncludeTimestamp/>
                  <sp:OnlySignEntireHeadersAndBody/>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic128/>
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
               </wsp:Policy>
            </sp:SymmetricBinding>
            <sp:Wss11>
               <wsp:Policy>
                  <sp:MustSupportRefIssuerSerial/>
                  <sp:MustSupportRefThumbprint/>
                  <sp:MustSupportRefEncryptedKey/>
               </wsp:Policy>
            </sp:Wss11>
         </wsp:All>
      </wsp:ExactlyOne>
    </wsp:Policy>
    
    <wsp:Policy wsu:Id="DoubleItSpnegoSymmetricProtectionDerivedPolicy">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:SymmetricBinding>
               <wsp:Policy>
                  <sp:ProtectionToken>
                     <wsp:Policy>
                         <sp:SpnegoContextToken
                            sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Once">
                            <wsp:Policy>
                                <sp:RequireDerivedKeys />
                            </wsp:Policy>
                         </sp:SpnegoContextToken>
                     </wsp:Policy>
                  </sp:ProtectionToken>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Lax/>
                     </wsp:Policy>
                  </sp:Layout>
                  <sp:IncludeTimestamp/>
                  <sp:OnlySignEntireHeadersAndBody/>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic128/>
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
               </wsp:Policy>
            </sp:SymmetricBinding>
            <sp:Wss11>
               <wsp:Policy>
                  <sp:MustSupportRefIssuerSerial/>
                  <sp:MustSupportRefThumbprint/>
                  <sp:MustSupportRefEncryptedKey/>
               </wsp:Policy>
            </sp:Wss11>
         </wsp:All>
      </wsp:ExactlyOne>
    </wsp:Policy>
    
    <wsp:Policy wsu:Id="DoubleItBinding_DoubleIt_Input_Policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:EncryptedParts>
               <sp:Body/>
            </sp:EncryptedParts>
            <sp:SignedParts>
               <sp:Body/>
            </sp:SignedParts>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   <wsp:Policy wsu:Id="DoubleItBinding_DoubleIt_Output_Policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:EncryptedParts>
               <sp:Body/>
            </sp:EncryptedParts>
            <sp:SignedParts>
               <sp:Body/>
            </sp:SignedParts>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
    
</wsdl:definitions>
