systests/uncategorized/src/test/resources/wsdl_systest/import/TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
-->
<definitions name='TestEndpointService' targetNamespace='http://cxf.apache.org/schemaimport' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://cxf.apache.org/schemaimport' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://cxf.apache.org/schemaimport' version='1.0' xmlns:tns='http://cxf.apache.org/schemaimport' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  
   <xs:import namespace="http://cxf.apache.org/schemaimport/schema1" schemaLocation="./schema1.xsd"/>
   <xs:import namespace="http://cxf.apache.org/schemaimport/schema4" schemaLocation="./schema4.xsd"/>
  
   <xs:element name='echo' type='tns:echo'/>
   <xs:element name='echoResponse' type='tns:echoResponse'/>
   <xs:complexType name='echo'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='echoResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='TestEndpoint_echoResponse'>
  <part element='tns:echoResponse' name='echoResponse'></part>
 </message>
 <message name='TestEndpoint_echo'>
  <part element='tns:echo' name='echo'></part>
 </message>
 <portType name='TestEndpoint'>
  <operation name='echo' parameterOrder='echo'>
   <input message='tns:TestEndpoint_echo'></input>
   <output message='tns:TestEndpoint_echoResponse'></output>
  </operation>
 </portType>
 <binding name='TestEndpointBinding' type='tns:TestEndpoint'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='echo'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='TestEndpointService'>
  <port binding='tns:TestEndpointBinding' name='TestEndpointPort'>
   <soap:address location='http://127.0.0.1:8080/schemaimport'/>
  </port>
 </service>
</definitions>