rt/wsdl/src/test/resources/org/apache/cxf/wsdl11/header2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements. See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership. The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License. You may obtain a copy of the License at
                                                                                                                                                             
  http://www.apache.org/licenses/LICENSE-2.0
                                                                                                                                                             
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<definitions name="header2" targetNamespace="http://apache.org/header2" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://apache.org/header2" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <schema targetNamespace="http://apache.org/header2" 
            xmlns="http://www.w3.org/2001/XMLSchema" 
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

            <complexType name="HeaderData">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="count" type="int"/>
                </sequence>
            </complexType>
            <element name="HeaderInfo" type="tns:HeaderData"/>

            <element name="Header">
               <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="HeaderResponse">
               <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>

    <message name="headerRequest">
        <part element="tns:HeaderInfo" name="header_info"/>
        <part element="tns:Header" name="the_request"/>
    </message>
    <message name="headerResponse">
        <part element="tns:HeaderInfo" name="header_info"/>
        <part element="tns:HeaderResponse" name="the_response"/>
    </message>

    <portType name="header2Test">
        <operation name="headerMethod">
            <input message="tns:headerRequest" name="headerRequest"/>
            <output message="tns:headerResponse" name="headerResponse"/>
        </operation>
    </portType>

    <binding name="header2Binding" type="tns:header2Test">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="headerMethod">
            <soap:operation soapAction="" style="document"/>
            <input name="headerRequest">
                <soap:header message="tns:headerRequest" part="header_info" 
                    use="literal"/>
                <soap:body parts="the_request" use="literal"/>
            </input>
            <output name="headerResponse">
                <soap:header message="tns:headerResponse" part="header_info" 
                    use="literal"/>
                <soap:body parts="the_response" use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="Header2Service">
        <port binding="tns:header2Binding" name="SoapPort">
            <soap:address location="http://localhost:9000/header2"/>
        </port>
    </service>
</definitions>
