rt/wsdl/src/test/resources/org/apache/cxf/wsdl11/hello_world_multiporttype.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements. See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership. The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License. You may obtain a copy of the License at
 
  http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<definitions name="HelloWorldService" 
    targetNamespace="http://cxf.apache.org/test/hello_world_multi" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://cxf.apache.org/test/hello_world_multi" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <message name="greetMe">
        <part name="stringParam0" type="xsd:string"/>
    </message>
    <message name="greetMeResponse">
        <part name="return" type="xsd:string"/>
    </message>
    
    <message name="greetMe2">
        <part name="stringParam0" type="xsd:string"/>
    </message>
    <message name="greetMe2Response">
        <part name="return" type="xsd:string"/>
    </message>    
    
    <portType name="HelloWorldPortType">
        <operation name="greetMe">
            <input message="tns:greetMe" name="greetMe"/>
            <output message="tns:greetMeResponse" name="greetMeResponse"/>
        </operation>
    </portType>
    <portType name="HelloWorldPortType2">
        <operation name="greetMe2">
            <input message="tns:greetMe2" name="greetMe2"/>
            <output message="tns:greetMe2Response" name="greetMe2Response"/>
        </operation>
    </portType>

       
    <binding name="HelloWorldBinding" type="tns:HelloWorldPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="greetMe">
            <soap:operation soapAction="" style="rpc"/>
            <input name="greetMe">
                <soap:body 
                    namespace="http://cxf.apache.org/test/hello_world_multi" use="literal"/>
            </input>
            <output name="greetMeResponse">
                <soap:body  
                    namespace="http://cxf.apache.org/test/hello_world_multi" use="literal"/>
            </output>
        </operation>
    </binding>    
    <binding name="HelloWorldBinding2" type="tns:HelloWorldPortType2">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="greetMe2">
            <soap:operation soapAction="" style="rpc"/>
            <input name="greetMe2">
                <soap:body 
                    namespace="http://cxf.apache.org/test/hello_world_multi" use="literal"/>
            </input>
            <output name="greetMe2Response">
                <soap:body  
                    namespace="http://cxf.apache.org/test/hello_world_multi" use="literal"/>
            </output>
        </operation>
    </binding>    
        
    <service name="HelloWorldService">
        <port binding="tns:HelloWorldBinding" name="HelloWorldPort">
		    <soap:address location="http://localhost:9000/SoapContext/SoapPort"/>            
        </port>
        <port binding="tns:HelloWorldBinding2" name="HelloWorldPort2">
		    <soap:address location="http://localhost:9000/SoapContext/SoapPort"/>            
        </port>
    </service>
       
</definitions>


