rt/wsdl/src/test/resources/org/apache/cxf/wsdl11/wsdl_xxe_import_main.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements. See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership. The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License. You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<!-- Test case for CWE-611: XXE via WSDL imports
     This WSDL imports a malicious XSD that contains an XXE payload.
     The top-level WSDL is benign, but the imported document carries the XXE.
     This tests whether WSDL4J properly hardens the parser for imported documents.
-->
<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://apache.org/hello_world_xxe"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://apache.org/hello_world_xxe"
    name="HelloWorldXXE">

    <!-- Import a schema that contains XXE payload -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://apache.org/hello_world_xxe">
            <xsd:import namespace="http://apache.org/xxe_schemas" schemaLocation="wsdl_xxe_import_malicious.xsd"/>
            <xsd:element name="requestElement" type="xsd:string"/>
            <xsd:element name="responseElement" type="xsd:string"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="sayHiRequest">
        <wsdl:part name="body" element="tns:requestElement"/>
    </wsdl:message>

    <wsdl:message name="sayHiResponse">
        <wsdl:part name="body" element="tns:responseElement"/>
    </wsdl:message>

    <wsdl:portType name="Greeter">
        <wsdl:operation name="sayHi">
            <wsdl:input message="tns:sayHiRequest" name="sayHiRequest"/>
            <wsdl:output message="tns:sayHiResponse" name="sayHiResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="GreeterBinding" type="tns:Greeter">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHi">
            <soap:operation soapAction="sayHi"/>
            <wsdl:input name="sayHiRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sayHiResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SOAPService">
        <wsdl:port name="SoapPort" binding="tns:GreeterBinding">
            <soap:address location="http://localhost:9000/SoapContext/SoapPort"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
