rt/wsdl/src/test/resources/org/apache/cxf/wsdl11/wsdl_xxe_import_malicious.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xsd:schema [
  <!ENTITY xxe_test_file SYSTEM "file:///etc/hostname">
]>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements. See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership. The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License. You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<!-- Malicious XSD with XXE payload (CWE-611)
     This document defines an external entity that attempts to read /etc/hostname.
     If the parser is not hardened, the entity reference will be resolved,
     and the file content will be inlined into the parsed document.
     This is the document that gets loaded by WSDL4J when processing the import.
-->
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://apache.org/xxe_schemas"
    elementFormDefault="qualified">

    <xsd:element name="payloadElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="data" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="content">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="&xxe_test_file;"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
