rt/frontend/jaxrs/src/test/java/org/apache/cxf/jaxrs/resources/sdo/structure.xsd

<schema targetNamespace="http://apache.org/structure/types" xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://apache.org/structure/types" elementFormDefault="qualified">
            <complexType name="Structure">
            	<sequence>
            		<element name="text" type="string"/>
            		<element name="int" type="int"/>
            		<element name="dbl" type="double"/>
            		<element name="texts" type="string" maxOccurs="unbounded"/>
            	</sequence>
            </complexType>
</schema>