maven-plugins/codegen-plugin/src/it/jdk6-cxf-with-toolchain/src/main/wsdl/HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
##    licensed to the Apache Software Foundation (ASF) under one
##    or more contributor license agreements. See the NOTICE file
##    distributed with this work for additional information
##    regarding copyright ownership. The ASF licenses this file
##    to you under the Apache License, Version 2.0 (the
##    "License"); you may not use this file except in compliance
##    with the License. You may obtain a copy of the License at
##    
##    http://www.apache.org/licenses/LICENSE-2.0
##    
##    Unless required by applicable law or agreed to in writing,
##    software distributed under the License is distributed on an
##    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
##    KIND, either express or implied. See the License for the
##    specific language governing permissions and limitations
##    under the License.
-->
<wsdl:definitions name="HelloWorld" targetNamespace="http://www.apache.org/contract/HelloWorld"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://www.apache.org/contract/HelloWorld"
    xmlns:x1="http://www.apache.org/schema/HelloWorld"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema targetNamespace="http://www.apache.org/schema/HelloWorld"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://www.apache.org/schema/HelloWorld"
            elementFormDefault="qualified">
            <element name="sayHi">
                <complexType>
                    <sequence>
                        <element name="requestType" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="sayHiResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="sayHiRequest">
        <wsdl:part element="x1:sayHi" name="in"/>
    </wsdl:message>
    <wsdl:message name="sayHiResponse">
        <wsdl:part element="x1:sayHiResponse" name="out"/>
    </wsdl:message>
    <wsdl:portType name="HelloWorldPortType">
        <wsdl:operation name="sayHi">
            <wsdl:input message="tns:sayHiRequest" name="sayHiRequest"/>
            <wsdl:output message="tns:sayHiResponse" name="sayHiResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloWorldBinding" type="tns:HelloWorldPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHi">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sayHiRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sayHiResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloWorldService">
        <wsdl:port name="HelloWorldPort" binding="tns:HelloWorldBinding">
            <!-- Actual soap:address value is dynamically generated after deployment -->
            <soap:address location="http://dummy.value"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>

