core/src/test/resources/schemas/logSchema.xsd

<xsd:schema attributeFormDefault="qualified"
            elementFormDefault="qualified" targetNamespace="http://www.log.org"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="log">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1"
                             name="message" nillable="true" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="logResponse">
        <xsd:complexType />
    </xsd:element>
</xsd:schema>
