tools/wadlto/jaxrs/src/test/resources/wadl/bookstore.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements. See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership. The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License. You may obtain a copy of the License at
 
  http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:prefix1="http://superbooks">

 <grammars>
  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
        xmlns:tns="http://superbooks" attributeFormDefault="unqualified" elementFormDefault="unqualified" 
        targetNamespace="http://superbooks">
    <xs:element name="thebook" type="tns:book"/>
    <xs:element name="theBook2" type="tns:theBook2"/>
    <xs:element name="thechapter" type="tns:chapter"/>
    <xs:complexType name="book">
        <xs:sequence>
            <xs:element minOccurs="0" ref="tns:thechapter"/>
            <xs:element name="id" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="chapter">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="theBook2">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
  </xs:schema>
 </grammars>
 <resources base="http://localhost:8080/baz">
   <resource path="/bookstore/{id}" id="org.apache.cxf.jaxrs.model.wadl.BookStore">
     <doc xml:lang="en-us" title="book store resource">super resource</doc>
     <param name="id" style="template" type="xs:long"/>

     <method name="GET" id="getName">
      <request>
        <param name="a" style="query" type="xs:int"/>
        <param name="c.a" style="query" type="xs:int"/>
        <param name="c.b" style="query" type="xs:int"/>
        <param name="c.d.a" style="query" type="xs:int"/>
      </request>
      <response>
       <representation mediaType="text/plain">
        <param name="result" style="plain" type="xs:string"/>
       </representation>
      </response>
    </method>

    <method name="PUT" id="setName">
     <request>
      <representation mediaType="text/plain">
       <param name="request" style="plain" type="xs:string"/>
      </representation>
     </request>
     <response status="204"></response>
    </method>
    
    <resource path="/book2">
     <method name="GET" id="getBook2">
      <response>
       <representation mediaType="application/xml" element="prefix1:theBook2"/>
       <representation mediaType="application/json"/>
      </response>
     </method>
    </resource>

    <resource path="/books/{bookid}">
     <doc>Resource books/{bookid}</doc>
     <param name="id" style="template" type="xs:int">
      <doc>book id</doc>
     </param>
     <param name="bookid" style="template" type="xs:int"/>
     <param name="mid" style="matrix" type="xs:int"/>

     <method name="POST" id="addBook">
      <doc>Update the books collection</doc>
      <request>
       <doc>Request</doc>
       <param name="hid" style="header" type="xs:int">
        <doc>header param</doc>
       </param>
       <param name="provider.bar" style="query" type="xs:int"/>
       <param name="a" style="query" repeating="true" type="xs:string"/>

       <representation mediaType="application/xml" element="prefix1:theBook2">
        <doc>InputBook</doc>
       </representation>
       <representation mediaType="application/json">
        <doc>InputBook</doc>
       </representation>
      </request>
      <response>
       <doc>Response</doc>
       <representation mediaType="application/xml" element="prefix1:thebook">
        <doc>Requested Book</doc>
       </representation>
       <representation mediaType="application/json">
        <doc>Requested Book</doc>
       </representation>
      </response>
     </method>

     <method name="PUT" id="addBook">
      <doc>Update the book</doc>
      <request>
        <representation mediaType="application/xml" element="prefix1:thebook"/>
        <representation mediaType="application/json"/>
      </request>
     <response status="204"></response>
    </method>
   </resource>
   
   <resource path="/chapter">
    <method name="GET" id="getChapter">
     <response>
      <representation mediaType="application/xml" element="prefix1:thechapter"/>
      <representation mediaType="application/json"/>
     </response>
    </method>
   </resource>

   <resource path="/chapter2">
    <method name="GET" id="getChapter2">
    <response>
     <representation mediaType="application/xml" element="prefix1:thechapter"/>
     <representation mediaType="application/json"/></response></method>
   </resource>

   <!-- Dynamic subresource -->
   <resource path="/books/{bookid}" id="java.lang.Object">
    <param name="id" style="template" type="xs:int"/>
    <param name="bookid" style="template" type="xs:int"/>
    <param name="mid" style="matrix" type="xs:int"/>
   </resource>

   
  <resource path="/booksubresource" id="{http://superbooks}thebook">
	    <doc>Book subresource</doc>
	    <param name="id" style="template" type="xs:int"/>
	    <param name="mid" style="matrix" type="xs:int"/>
	    
	    <resource path="/book">
	     <method name="GET" id="getIt">
	      <doc>Get the book</doc>
	      <response>
	       <representation mediaType="application/xml" element="prefix1:thebook"></representation>
	       <representation mediaType="application/json"></representation>
	      </response>
	     </method>
	    </resource>
	   
	    <resource path="/form1">
	     <method name="POST" id="form1">
	     <request>
	      <representation mediaType="application/x-www-form-urlencoded"/>
	     </request>
	     <response status="204"></response>
	    </method>
	   </resource>
	   
	   <resource path="/form2">
	    <method name="POST" id="form2">
	     <request>
	      <representation mediaType="application/x-www-form-urlencoded">
	       <param name="field1" style="query" type="xs:string"/>
	       <param name="field2" style="query" type="xs:string"/>
	      </representation>
	     </request>
	     <response>
	      <representation mediaType="text/plain">
	       <param name="result" style="plain" type="xs:string"/>
	      </representation>
	     </response>
	    </method>
	   </resource>
	
	   <resource path="/chapter/{cid}" id="{http://superbooks}thechapter">
	    <doc>Chapter subresource</doc>
	    <param name="cid" style="template" type="xs:int"/>
	    
	    <resource path="/id">
	     <method name="GET" id="getIt">
	      <doc>Get the chapter</doc>
	      <response>
	       <representation mediaType="application/xml" element="prefix1:thechapter"></representation>
	       <representation mediaType="application/json"></representation>
	      </response>
	     </method>
	    </resource>
	   </resource>
 </resource>
 <resource path="/a">
   <resource path="/b">
    <method name="GET" id="getChapter3">
      <response>
         <representation mediaType="application/xml" element="prefix1:thechapter"/>
      </response>
    </method>
   
  <resource path="/form" id="org.apache.cxf.jaxrs.model.wadl.FormInterface">
    <resource path="/recursive" id="org.apache.cxf.jaxrs.model.wadl.FormInterface"/>
    <resource path="/c">
      <resource path="/formSub" id="org.apache.cxf.jaxrs.model.wadl.FormInterface2">
        <resource path="/recursive" id="org.apache.cxf.jaxrs.model.wadl.FormInterface"/>
        <resource path="/subform1">
	      <method name="POST" id="form1">
	        <request>
	           <representation mediaType="application/x-www-form-urlencoded"/>
	        </request>
	        <response status="204"></response>
	      </method>
	    </resource>
	  </resource> 
   </resource>
  <resource path="/form1">
   <method name="POST" id="form1">
    <request>
     <representation mediaType="application/x-www-form-urlencoded"/>
    </request>
    <response status="204"></response>
  </method>
 </resource>

 <resource path="/form2">
  <method name="POST" id="form2">
    <request>
      <representation mediaType="application/x-www-form-urlencoded">
        <param name="field1" style="query" type="xs:string"/>
        <param name="field2" style="query" type="xs:string"/>
      </representation>
    </request>
    <response>
      <representation mediaType="text/plain">
       <param name="result" style="plain" type="xs:string"/>
      </representation>
    </response>
   </method>
  </resource>
  
 </resource>
 </resource>
 </resource>

 <!-- Recursive subresource -->
 <resource path="/itself" id="org.apache.cxf.jaxrs.model.wadl.BookStore">
 </resource>
 
 </resource>
</resources>

</application>
