tools/wadlto/jaxrs/src/test/resources/wadl/resourceSchemaNoTargetNamespace.xml

<?xml version="1.0"?>
<wadl:application xmlns:wadl="http://wadl.dev.java.net/2009/02" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wadl:doc title="My Application"/>
    <wadl:grammars>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
        	<xs:element name="test" type="testCompositeObject"/>
            <xs:complexType name="testCompositeObject">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wadl:grammars>
    <wadl:resources base="http://localhost:8080/baz">
        <wadl:resource path="/">
            <wadl:resource path="rest">
                <wadl:method name="PUT">
                    <wadl:request>
                        <wadl:representation mediaType="application/xml" element="test"/>
                    </wadl:request>
                    <wadl:response>
                        <wadl:representation mediaType="application/xml" element="test"/>
                    </wadl:response>
                </wadl:method>
            </wadl:resource>
        </wadl:resource>
    </wadl:resources>
</wadl:application>
