tools/wadlto/jaxrs/src/test/resources/wadl/resourceSchemaNoTargetNamespace.xml

<?xml version="1.0"?>
<application xmlns="http://wadl.dev.java.net/2009/02" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <doc title="My Application"/>
    <grammars>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
        	<xs:element name="test" type="testCompositeObject"/>
            <xs:complexType name="testCompositeObject">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </grammars>
    <resources base="http://localhost:8080/baz">
        <resource path="/">
            <resource path="rest">
                <method name="PUT">
                    <request>
                        <representation mediaType="application/xml" element="test"/>
                    </request>
                    <response>
                        <representation mediaType="application/xml" element="test"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
