tools/wadlto/jaxrs/src/test/resources/wadl/testComplexPath.xml

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
	<grammars />
	<resources>
	 <resource path="/">
       <resource path="/get-add-method">
        <param name="id" style="template"/>
        <method name="GET">
          <response/>
        </method>
        <method name="GET">
          <response/>
        </method>
      </resource>
     </resource>
	</resources>
</application>
