tools/wadlto/jaxrs/src/test/resources/wadl/test.xml

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <grammars />
    <resources>
        <resource id="Test" path="/repository">
            <doc>
                Repository Resource
            </doc>
            <param name="top" style="template" type="xs:string">
                <doc>
                    Repository Index
                </doc>
            </param>
            <method name="GET" id="listRepositories">
                <doc>
                    List Repositories
                </doc>
                <response>
                    <doc>
                        JSON Repository Representation
                    </doc>
                    <representation mediaType="application/json" />
                </response>
                <response status="500" />
            </method>

            <resource path="{the-name}">
                <param name="the-name" style="template" type="xs:string" />

                <method name="PUT" id="createRepository">
                    <request>
                    </request>
                    <response>
                    </response>
                    <response status="500">
                        <representation mediaType="text/plain">
                            <param name="error" style="plain"
                                type="java.io.IOException">
                                <doc>
                                    if something going wrong
                                </doc>
                            </param>
                        </representation>
                    </response>
                </method>
                <method name="DELETE" id="deleteRepository">
                    <response status="404">
                        <representation mediaType="text/plain">
                            <param name="error" style="plain"
                                type="jakarta.ws.rs.NotFoundException" />
                        </representation>
                    </response>
                    <response status="500">
                        <representation mediaType="text/plain">
                            <param name="error" style="plain"
                                type="java.io.IOException" />
                        </representation>
                    </response>
                </method>

                <method name="POST">
                    <request>
                        <representation mediaType="text/plain">
                            <doc>
                                Text Plain representation
                            </doc>
                            <param name="id" style="plain"
                                type="xsd:anyType" />
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="text/plain">
                            <param name="result" style="plain"
                                type="xs:string" />
                        </representation>
                    </response>
                    <response status="500 501">
                        <representation mediaType="text/plain">
                            <param name="error" style="plain"
                                type="java.io.IOException" />
                        </representation>
                        <representation mediaType="text/plain">
                            <param name="error" style="plain"
                                type="java.lang.NoSuchMethodException" />
                        </representation>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>