tools/wadlto/jaxrs/src/test/resources/wadl/test.xml

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
	<grammars />
	<resources>
		<resource id="Test" path="/repository">
		    <doc>
		        Repository Resource
		    </doc>
            <param name="top" style="template" type="xs:string">
                <doc>
			     Repository Index
			    </doc>
            </param>
			<method name="GET" id="listRepositories">
			    <doc>
			      List Repositories
			    </doc>   
				<response>
				    <doc>
			          JSON Repository Representation
			        </doc>
					<representation mediaType="application/json" />
				</response>
			</method>

			<resource path="{the-name}">
				<param name="the-name" style="template" type="xs:string"/>
				
				<method name="PUT" id="createRepository" >
					<request>
					</request>
					<response>
					</response>
				</method>
				<method name="DELETE" id="deleteRepository">
				</method>
					
                <method name="POST">
	                <request>
	                    <representation mediaType="text/plain">
	                        <doc>
	                          Text Plain representation
	                        </doc>
	                        <param name="id" style="plain" type="xsd:anyType"/>
	                    </representation>
	                </request>
	                <response>
	                    <representation mediaType="text/plain">
	                        <param name="result" style="plain" type="xs:string"/>
	                    </representation>
	                </response>
	            </method>
			</resource>
		</resource>
	</resources>
</application>