tools/wadlto/jaxrs/src/test/resources/wadl/test.xml

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
	<grammars />
	<resources>
		<resource id="Test" path="/repository">

			<method name="GET" id="listRepositories">
				<response>
					<representation mediaType="application/json" />
				</response>
			</method>

			<resource path="{name}">
				<param name="name" style="template" type="xs:string"/>
				<method name="PUT" id="createRepository" >
					<request>
					</request>
					<response>
					</response>
				</method>
				<method name="DELETE" id="deleteRepository">
				</method>
                <method name="GET" id="getName">
	                <request>
	                    <param name="a" style="query" type="xs:int"/>
	                    <param name="c.a" style="query" type="xs:int"/>
	                    <param name="c.b" style="query" type="xs:int"/>
	                    <param name="c.d.a" style="query" type="xs:dateTime"/>
	                    <param name="option" default="A" style="query" required="true">
	                        <option value="A"/>
	                        <option value="B"/>
	                    </param>
	                    <param name="If-Modified-Since" style="header" type="xsd:date"/>
	                </request>
	                <response>
	                    <representation mediaType="text/plain">
	                        <param name="result" style="plain" type="xs:string"/>
	                    </representation>
	                </response>
	            </method>
			</resource>
		</resource>
	</resources>
</application>