distribution/src/main/release/samples/mtosi_1.1/wsdl/binding/soap_http/ProtectionMgrSOAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- TMF854 Version 1.0 - Copyright TeleManagement Forum 2005, 2006 -->
<wsdl:definitions xmlns:tmf854WS="tmf854.v1.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="tmf854.v1.ws" name="TMF854-ProtectionMgr-SOAP-HTTP">
	<wsdl:import namespace="tmf854.v1.ws" location="../../common/ProtectionMgr.wsdl" />
	<wsdl:binding name="ProtectionMgrSoapHTTPBinding" type="tmf854WS:ProtectionMgr">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="getAllEProtectionGroups">
			<wsdl:input>
				<soap:header message="tmf854WS:getAllEProtectionGroups" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllEProtectionGroupsResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
			    <soap:header message="tmf854WS:ProcessingFailureException" part="mtosiHeader" use="literal"/>
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllNUTTPNames">
			<wsdl:input>
				<soap:header message="tmf854WS:getAllNUTTPNames" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllNUTTPNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
			    <soap:header message="tmf854WS:ProcessingFailureException" part="mtosiHeader" use="literal"/>
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllPreemptibleTPNames">
			<wsdl:input>
				<soap:header message="tmf854WS:getAllPreemptibleTPNames" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllPreemptibleTPNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
			    <soap:header message="tmf854WS:ProcessingFailureException" part="mtosiHeader" use="literal"/>
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllProtectedTPNames">
			<wsdl:input>
				<soap:header message="tmf854WS:getAllProtectedTPNames" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllProtectedTPNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
			    <soap:header message="tmf854WS:ProcessingFailureException" part="mtosiHeader" use="literal"/>
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllProtectionGroups">
			<wsdl:input>
				<soap:header message="tmf854WS:getAllProtectionGroups" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getAllProtectionGroupsResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
			    <soap:header message="tmf854WS:ProcessingFailureException" part="mtosiHeader" use="literal"/>
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getContainingPGNames">
			<wsdl:input>
				<soap:header message="tmf854WS:getContainingPGNames" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getContainingPGNamesResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
			    <soap:header message="tmf854WS:ProcessingFailureException" part="mtosiHeader" use="literal"/>
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getEProtectionGroup">
			<wsdl:input>
				<soap:header message="tmf854WS:getEProtectionGroup" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getEProtectionGroupResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
			    <soap:header message="tmf854WS:ProcessingFailureException" part="mtosiHeader" use="literal"/>
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getProtectionGroup">
			<wsdl:input>
				<soap:header message="tmf854WS:getProtectionGroup" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:getProtectionGroupResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
			    <soap:header message="tmf854WS:ProcessingFailureException" part="mtosiHeader" use="literal"/>
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="retrieveESwitchData">
			<wsdl:input>
				<soap:header message="tmf854WS:retrieveESwitchData" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:retrieveESwitchDataResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
			    <soap:header message="tmf854WS:ProcessingFailureException" part="mtosiHeader" use="literal"/>
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="retrieveSwitchData">
			<wsdl:input>
				<soap:header message="tmf854WS:retrieveSwitchData" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tmf854WS:retrieveSwitchDataResponse" part="mtosiHeader" use="literal" />
				<soap:body parts="mtosiBody" use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProcessingFailureException">
			    <soap:header message="tmf854WS:ProcessingFailureException" part="mtosiHeader" use="literal"/>
				<soap:fault name="ProcessingFailureException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>

</wsdl:definitions>


