systests/ws-security/src/test/resources/wsdl_systest_wssec/saml/DoubleItSaml.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<!--
		* Licensed to the Apache Software Foundation (ASF) under one * or more
		contributor license agreements. See the NOTICE file * distributed with
		this work for additional information * regarding copyright ownership.
		The ASF licenses this file * to you under the Apache License, Version
		2.0 (the * "License"); you may not use this file except in compliance
		* with the License. You may obtain a copy of the License at * *
		http://www.apache.org/licenses/LICENSE-2.0 * * Unless required by
		applicable law or agreed to in writing, * software distributed under
		the License is distributed on an * "AS IS" BASIS, WITHOUT WARRANTIES
		OR CONDITIONS OF ANY * KIND, either express or implied. See the
		License for the * specific language governing permissions and
		limitations * under the License.
	-->
<wsdl:definitions name="DoubleIt"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSSec/saml"
	targetNamespace="http://WSSec/saml" xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsaws="http://www.w3.org/2005/08/addressing" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
	xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
	<wsdl:types>
		<xsd:schema targetNamespace="http://WSSec/saml">
			<xsd:element name="DoubleIt">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="numberToDouble">
                            <xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:minInclusive value="0"/>
								</xsd:restriction>
							</xsd:simpleType>
                        </xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DoubleItResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="doubledNumber" type="xsd:integer" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
            <xsd:element name="DoubleItFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="reason" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="DoubleItRequest">
		<wsdl:part element="tns:DoubleIt" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DoubleItResponse">
		<wsdl:part element="tns:DoubleItResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DoubleItFault">
        <wsdl:part element="tns:DoubleItFault" name="fault" />
    </wsdl:message>
    <wsdl:portType name="DoubleItPortType">
		<wsdl:operation name="DoubleIt">
			<wsdl:input message="tns:DoubleItRequest" />
			<wsdl:output message="tns:DoubleItResponse" />
            <wsdl:fault name="DoubleItFault" message="tns:DoubleItFault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DoubleItSaml1TransportBinding" type="tns:DoubleItPortType">
		<wsp:PolicyReference URI="#DoubleItSaml1TransportPolicy" />
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="DoubleIt">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
            <wsdl:fault name="DoubleItFault">
                <soap:body use="literal" name="DoubleItFault" />
            </wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="DoubleItService">
		<wsdl:port name="DoubleItSaml1TransportPort" binding="tns:DoubleItSaml1TransportBinding">
			<soap:address location="https://localhost:9009/DoubleItSaml1Transport" />
		</wsdl:port>
	</wsdl:service>

	<wsp:Policy wsu:Id="DoubleItSaml1TransportPolicy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding>
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false" />
							</wsp:Policy>
						</sp:TransportToken>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax />
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp />
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic128 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
					</wsp:Policy>
				</sp:TransportBinding>
				<sp:SupportingTokens>
					<wsp:Policy>
						<sp:SamlToken
						    sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
				            <wsp:Policy>
				                <sp:WssSamlV11Token11/>
				            </wsp:Policy>
				        </sp:SamlToken>
					</wsp:Policy>
				</sp:SupportingTokens>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	
</wsdl:definitions>
