systests/uncategorized/src/test/resources/wsdl_systest/cxf-993.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
-->
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
		  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
		  xmlns:s="http://www.w3.org/2001/XMLSchema" 
		  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
		  xmlns:tns="urn://testnotification" 
		  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
		  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
		  targetNamespace="urn://testnotification" 
		  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
	<s:schema elementFormDefault="qualified" targetNamespace="urn://testnotification">
	    <s:element name="sendNotification">
		<s:complexType>
		    <s:sequence>
			<s:element minOccurs="0" maxOccurs="1" name="NotificationInfo">
			    <s:complexType>
				<s:sequence>
				    <s:any/>
				</s:sequence>
			    </s:complexType>
			</s:element>
		    </s:sequence>
		</s:complexType>
	    </s:element>
	    <s:element name="AuthCredentials" type="tns:AuthCredentials"/>
	    <s:complexType name="AuthCredentials">
		<s:sequence>
		    <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
		    <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
		</s:sequence>
	    </s:complexType>
	</s:schema>
    </wsdl:types>

    <wsdl:message name="notificationInput">
	<wsdl:part name="parameters" element="tns:sendNotification"/>
    </wsdl:message>
    <wsdl:message name="notificationOutput">
	<wsdl:part name="parameters" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="sendNotificationAuthCredentials">
	<wsdl:part name="AuthCredentials" element="tns:AuthCredentials"/>
    </wsdl:message>

    <wsdl:portType name="NotificationServicePort">
	<wsdl:operation name="sendNotification">
	    <wsdl:input message="tns:notificationInput"/>
	    <wsdl:output message="tns:notificationOutput"/>
	</wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="NotificationServicePort" type="tns:NotificationServicePort">
	<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
	<wsdl:operation name="sendNotification">
	    <soap:operation soapAction="urn://testnotification/sendNotification" style="document"/>
	    <wsdl:input>
		<soap:body use="literal"/>
		<soap:header message="tns:sendNotificationAuthCredentials" part="AuthCredentials" use="literal"/>
	    </wsdl:input>
	    <wsdl:output>
		<soap:body use="literal"/>
	    </wsdl:output>
	</wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NotificationService">
	<wsdl:port name="NotificationServicePort" binding="tns:NotificationServicePort">
	    <soap:address location="http://localhost:9018/notification"/>
	</wsdl:port>
    </wsdl:service>
</wsdl:definitions>