systests/uncategorized/src/test/resources/wsdl_systest/wssec11/WsSecurity11.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:tns="http://WSSec/wssec11" 
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
	xmlns:wssec11test="http://apache.cxf.org/"
	xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" 
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	name="PingService11" 
	targetNamespace="http://WSSec/wssec11">
	<wsdl:import location="WsSecurity11_policy.wsdl" namespace="http://apache.cxf.org/" />
	<wsdl:types>
  		<xsd:schema targetNamespace="http://WSSec/wssec11">
		<xsd:element name="echo">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="request" nillable="true"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="echoResponse">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="echoResult" nillable="true"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="anyType" nillable="true" type="xsd:anyType" />
		<xsd:element name="anyURI" nillable="true" type="xsd:anyURI" />
		<xsd:element name="base64Binary" nillable="true" type="xsd:base64Binary" />
		<xsd:element name="boolean" nillable="true" type="xsd:boolean" />
		<xsd:element name="byte" nillable="true" type="xsd:byte" />
		<xsd:element name="dateTime" nillable="true" type="xsd:dateTime" />
		<xsd:element name="decimal" nillable="true" type="xsd:decimal" />
		<xsd:element name="double" nillable="true" type="xsd:double" />
		<xsd:element name="float" nillable="true" type="xsd:float" />
		<xsd:element name="int" nillable="true" type="xsd:int" />
		<xsd:element name="long" nillable="true" type="xsd:long" />
		<xsd:element name="QName" nillable="true" type="xsd:QName" />
		<xsd:element name="short" nillable="true" type="xsd:short" />
		<xsd:element name="string" nillable="true" type="xsd:string" />
		<xsd:element name="unsignedByte" nillable="true" type="xsd:unsignedByte" />
		<xsd:element name="unsignedInt" nillable="true" type="xsd:unsignedInt" />
		<xsd:element name="unsignedLong" nillable="true" type="xsd:unsignedLong" />
		<xsd:element name="unsignedShort" nillable="true" type="xsd:unsignedShort" />
		<xsd:element name="char" nillable="true" type="tns:char" />
		<xsd:simpleType name="char">
			<xsd:restriction base="xsd:int" />
		</xsd:simpleType>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="IPingService_echo_InputMessage">
		<wsdl:part name="parameters" element="tns:echo" />
	</wsdl:message>
	<wsdl:message name="IPingService_echo_OutputMessage">
		<wsdl:part name="parameters" element="tns:echoResponse" />
	</wsdl:message>

	<wsdl:portType name="IPingService">

		<wsdl:operation name="echo">
			<wsdl:input wsaw:Action="http://WSSec/wssec11/echo"
				message="tns:IPingService_echo_InputMessage" />
			<wsdl:output wsaw:Action="http://WSSec/wssec11/echo"
				message="tns:IPingService_echo_OutputMessage" />
		</wsdl:operation>

	</wsdl:portType>
	<wsdl:service name="PingService11">

		<wsdl:port name="UX_IPingService" binding="wssec11test:UX_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/UX" />
		</wsdl:port>
		<wsdl:port name="UX-NoTimestamp_IPingService" binding="wssec11test:UX-NoTimestamp_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/UX-NoTimestamp" />
		</wsdl:port>
		<wsdl:port name="UXD_IPingService" binding="wssec11test:UXD_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/UserNameForCertificateSignEncrypt" />
		</wsdl:port>
		<wsdl:port name="UXD_IPingService1" binding="wssec11test:UXD_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/UXD" />
		</wsdl:port>
		<wsdl:port name="UX-SEES_IPingService" binding="wssec11test:UX-SEES_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/UX-SEES" />
		</wsdl:port>
		<wsdl:port name="UXD-SEES_IPingService" binding="wssec11test:UXD-SEES_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/UXD-SEES" />
		</wsdl:port>
		<wsdl:port name="A_IPingService" binding="wssec11test:A_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/A" />
		</wsdl:port>
		<wsdl:port name="A-NoTimestamp_IPingService" binding="wssec11test:A-NoTimestamp_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/A-NoTimestamp" />
		</wsdl:port>
		<wsdl:port name="AD_IPingService" binding="wssec11test:AD_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/AD" />
		</wsdl:port>
		<wsdl:port name="A-ES_IPingService" binding="wssec11test:A-ES_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/A-ES" />
		</wsdl:port>
		<wsdl:port name="AD-ES_IPingService" binding="wssec11test:AD-ES_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/AD-ES" />
		</wsdl:port>
		<wsdl:port name="X_IPingService" binding="wssec11test:X_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/X" />
		</wsdl:port>
		<wsdl:port name="X_IPingService1" binding="wssec11test:X_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/MutualCertificate11SignEncrypt" />
		</wsdl:port>
		<wsdl:port name="X-NoTimestamp_IPingService" binding="wssec11test:X-NoTimestamp_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/X-NoTimestamp" />
		</wsdl:port>
		<wsdl:port name="X-AES128_IPingService" binding="wssec11test:X-AES128_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/X-AES128" />
		</wsdl:port>
		<wsdl:port name="X-AES192_IPingService" binding="wssec11test:X-AES192_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/X-AES192" />
		</wsdl:port>
		<wsdl:port name="X-TripleDES_IPingService" binding="wssec11test:X-TripleDES_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/X-TripleDES" />
		</wsdl:port>
		<wsdl:port name="XD_IPingService" binding="wssec11test:XD_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/MutualCertificate11SignEncryptDerivedKeys" />
		</wsdl:port>
		<wsdl:port name="XD_IPingService1" binding="wssec11test:XD_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/XD" />
		</wsdl:port>
		<wsdl:port name="XD-ES_IPingService" binding="wssec11test:XD-ES_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/XD-ES" />
		</wsdl:port>
		<wsdl:port name="XD-SEES_IPingService" binding="wssec11test:XD-SEES_IPingService">
			<soap12:address
				location="http://localhost/Security_WsSecurity_Service_Indigo/WsSecurity11.svc/XD-SEES" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
