tools/corba/src/test/resources/wsdl/anonfixed.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<!-- Generated by <idltowsdl> Tool. Version 4.0.0 -->
<definitions name="l" targetNamespace="http://schemas.apache.org/idl/l.idl" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:corba="http://schemas.apache.org/bindings/corba" 
    xmlns:corbatm="http://schemas.apache.org/typemap/corba/l.idl" 
    xmlns:tns="http://schemas.apache.org/idl/l.idl" 
    xmlns:wsa="http://www.w3.org/2005/08/addressing" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsd1="http://schemas.apache.org/idltypes/l.idl">
    <types>
        <schema targetNamespace="http://schemas.apache.org/idltypes/l.idl" 
            xmlns="http://www.w3.org/2001/XMLSchema" 
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <simpleType name="X._1_S">
                <restriction base="string">
                    <maxLength value="4"/>
                </restriction>
            </simpleType>
            <xsd:simpleType name="X._2_S">
		        <xsd:restriction base="xsd:decimal">
				    <xsd:totalDigits value="5"/>
   		            <xsd:fractionDigits value="3"/>
		        </xsd:restriction>
		    </xsd:simpleType>
            <complexType name="X.S">
                <sequence>
                    <element name="str" type="xsd1:X._1_S"/>
                    <element name="fx" type="xsd1:X._2_S"/>
                </sequence>
            </complexType>
            <element name="X.op_a">
                <complexType>
                    <sequence>
                        <element name="p1" type="xsd1:X.S"/>
                        <element name="p2" type="xsd1:X.S"/>
                    </sequence>
                </complexType>
            </element>
            <element name="X.op_aResult">
                <complexType>
                    <sequence>
                        <element name="return" type="xsd1:X.S"/>
                        <element name="p2" type="xsd1:X.S"/>
                        <element name="p3" type="xsd1:X.S"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="X.op_a">
        <part element="xsd1:X.op_a" name="parameters"/>
    </message>
    <message name="X.op_aResponse">
        <part element="xsd1:X.op_aResult" name="parameters"/>
    </message>
    <portType name="X">
        <operation name="op_a">
            <input message="tns:X.op_a" name="op_a"/>
            <output message="tns:X.op_aResponse" name="op_aResponse"/>
        </operation>
    </portType>
</definitions>
