tools/corba/src/test/resources/wsdl/arrays-mixed.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://schemas.apache.org/idl/anon.idl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://schemas.apache.org/idltypes/anon.idl" xmlns:corba="http://schemas.apache.org/bindings/corba" xmlns:corbatm="http://schemas.apache.org/bindings/corba/typemap" name="anon.idl" targetNamespace="http://schemas.apache.org/idl/anon.idl">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://schemas.apache.org/idltypes/anon.idl">
            <complexType name="UnboundedArray">
                <sequence>
                    <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="FixedArray">
                <sequence>
                    <element name="item" type="xsd:string" minOccurs="3" maxOccurs="3"/>
                </sequence>
            </complexType>
            <complexType name="MixedArrayType">
                <sequence>
                    <!-- This is a single part -->
                    <element name="p0" type="xsd:string"/>
                    <!-- unwrapped sequence -->
                    <element name="p1-unwrapped-sequence" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="p1-unwrapped-sequence-q" type="xsd:string" minOccurs="0" maxOccurs="unbounded" form="qualified"/>
                    <element name="p1-unwrapped-sequence-n" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                    <!-- wrapped sequence -->
                    <element name="p2-wrapped-sequence" type="xsd1:UnboundedArray" minOccurs="1" maxOccurs="1"/>
                    <!--                     <element name="p2-wrapped-sequence-n" type="xsd1:UnboundedArray" minOccurs="1" maxOccurs="1" nillable="true" /> -->
                    <!-- unwrapped array -->
                    <element name="p3-unwrapped-array" type="xsd:string" minOccurs="3" maxOccurs="3"/>
                    <element name="p3-unwrapped-array-q" type="xsd:string" minOccurs="3" maxOccurs="3" form="qualified"/>
                    <element name="p3-unwrapped-array-n" type="xsd:string" minOccurs="3" maxOccurs="3" nillable="true"/>
                    <!-- wrapped array -->
                    <element name="p4-wrapped-array" type="xsd1:FixedArray" minOccurs="1" maxOccurs="1"/>
                    <!--                     <element name="p4-wrapped-array-n" type="xsd1:FixedArray" minOccurs="1" maxOccurs="1" nillable="true" /> -->
                    <!-- anonymous unwrapped sequence - not anonymous, because processed in processLocalElement -->
                    <element name="p5-anonymous-unwrapped-sequence" minOccurs="0" maxOccurs="unbounded">
                        <simpleType>
                            <restriction base="xsd:string"/>
                        </simpleType>
                    </element>
                    <element name="p5-anonymous-unwrapped-sequence-q" minOccurs="0" maxOccurs="unbounded" form="qualified">
                        <simpleType>
                            <restriction base="xsd:string"/>
                        </simpleType>
                    </element>
                    <element name="p5-anonymous-unwrapped-sequence-n" minOccurs="0" maxOccurs="unbounded" nillable="true">
                        <simpleType>
                            <restriction base="xsd:string"/>
                        </simpleType>
                    </element>
                    <!-- anonymous wrapped sequence -->
                    <element name="p6-anonymous-wrapped-sequence" minOccurs="1" maxOccurs="1">
                        <complexType>
                            <sequence>
                                <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="p6-anonymous-wrapped-sequence-q" minOccurs="1" maxOccurs="1" form="qualified">
                        <complexType>
                            <sequence>
                                <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded" form="qualified"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="p6-anonymous-wrapped-sequence-n" minOccurs="1" maxOccurs="1" nillable="true">
                        <complexType>
                            <sequence>
                                <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                            </sequence>
                        </complexType>
                    </element>
                    <!-- anonymous unwrapped array - not anonymous, because processed in processLocalElement -->
                    <element name="p7-anonymous-unwrapped-array" minOccurs="3" maxOccurs="3">
                        <simpleType>
                            <restriction base="xsd:string"/>
                        </simpleType>
                    </element>
                    <element name="p7-anonymous-unwrapped-array-q" minOccurs="3" maxOccurs="3" form="qualified">
                        <simpleType>
                            <restriction base="xsd:string"/>
                        </simpleType>
                    </element>
                    <element name="p7-anonymous-unwrapped-array-n" minOccurs="3" maxOccurs="3" nillable="true">
                        <simpleType>
                            <restriction base="xsd:string"/>
                        </simpleType>
                    </element>
                    <!-- anonymous wrapped array -->
                    <element name="p8-anonymous-wrapped-array" minOccurs="1" maxOccurs="1">
                        <complexType>
                            <sequence>
                                <element name="item" type="xsd:string" minOccurs="3" maxOccurs="3"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="p8-anonymous-wrapped-array-q" minOccurs="1" maxOccurs="1" form="qualified">
                        <complexType>
                            <sequence>
                                <element name="item" type="xsd:string" minOccurs="3" maxOccurs="3" form="qualified"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="p8-anonymous-wrapped-array-n" minOccurs="1" maxOccurs="1" nillable="true">
                        <complexType>
                            <sequence>
                                <element name="item" type="xsd:string" minOccurs="3" maxOccurs="3"/>
                            </sequence>
                        </complexType>
                    </element>
                    <!-- anonymous unwrapped non-primitive sequence - not anonymous, because processed in processLocalElement -->
                    <element name="p9-anonymous-unwrapped-non-primitive-sequence" minOccurs="0" maxOccurs="unbounded">
                        <complexType>
                            <sequence>
                                <element name="item" type="xsd:string"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="p9-anonymous-unwrapped-non-primitive-sequence-q" minOccurs="0" maxOccurs="unbounded" form="qualified">
                        <complexType>
                            <sequence>
                                <element name="item" type="xsd:string" form="qualified"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="p9-anonymous-unwrapped-non-primitive-sequence-n" minOccurs="0" maxOccurs="unbounded" nillable="true">
                        <complexType>
                            <sequence>
                                <element name="item" type="xsd:string"/>
                            </sequence>
                        </complexType>
                    </element>
                    <!-- anonymous wrapped non-primitive sequence -->
                    <element name="p10-anonymous-wrapped-non-primitive-sequence" minOccurs="1" maxOccurs="1">
                        <complexType>
                            <sequence>
                                <element name="item" minOccurs="0" maxOccurs="unbounded">
                                    <complexType>
                                        <sequence>
                                            <element name="item" type="xsd:string"/>
                                        </sequence>
                                    </complexType>
                                </element>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="p10-anonymous-wrapped-non-primitive-sequence-q" minOccurs="1" maxOccurs="1" form="qualified">
                        <complexType>
                            <sequence>
                                <element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified">
                                    <complexType>
                                        <sequence>
                                            <element name="item" type="xsd:string" form="qualified"/>
                                        </sequence>
                                    </complexType>
                                </element>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="p10-anonymous-wrapped-non-primitive-sequence-n" minOccurs="1" maxOccurs="1" nillable="true">
                        <complexType>
                            <sequence>
                                <element name="item" minOccurs="0" maxOccurs="unbounded">
                                    <complexType>
                                        <sequence>
                                            <element name="item" type="xsd:string"/>
                                        </sequence>
                                    </complexType>
                                </element>
                            </sequence>
                        </complexType>
                    </element>
                    <!-- anonymous unwrapped non-primitive array - not anonymous, because processed in processLocalElement -->
                    <element name="p11-anonymous-unwrapped-non-primitive-array" minOccurs="3" maxOccurs="3">
                        <complexType>
                            <sequence>
                                <element name="item" type="xsd:string"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="p11-anonymous-unwrapped-non-primitive-array-q" minOccurs="3" maxOccurs="3" form="qualified">
                        <complexType>
                            <sequence>
                                <element name="item" type="xsd:string" form="qualified"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="p11-anonymous-unwrapped-non-primitive-array-n" minOccurs="3" maxOccurs="3" nillable="true">
                        <complexType>
                            <sequence>
                                <element name="item" type="xsd:string"/>
                            </sequence>
                        </complexType>
                    </element>
                    <!-- anonymous wrapped non-primitive array -->
                    <element name="p12-anonymous-wrapped-non-primitive-array" minOccurs="1" maxOccurs="1">
                        <complexType>
                            <sequence>
                                <element name="item" minOccurs="3" maxOccurs="3">
                                    <complexType>
                                        <sequence>
                                            <element name="item" type="xsd:string"/>
                                        </sequence>
                                    </complexType>
                                </element>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="p12-anonymous-wrapped-non-primitive-array-q" minOccurs="1" maxOccurs="1" form="qualified">
                        <complexType>
                            <sequence>
                                <element name="item" minOccurs="3" maxOccurs="3" form="qualified">
                                    <complexType>
                                        <sequence>
                                            <element name="item" type="xsd:string" form="qualified"/>
                                        </sequence>
                                    </complexType>
                                </element>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="p12-anonymous-wrapped-non-primitive-array-n" minOccurs="1" maxOccurs="1" nillable="true">
                        <complexType>
                            <sequence>
                                <element name="item" minOccurs="3" maxOccurs="3">
                                    <complexType>
                                        <sequence>
                                            <element name="item" type="xsd:string"/>
                                        </sequence>
                                    </complexType>
                                </element>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </complexType>
        </schema>
    </types>
    <message name="X.op_a">
        <part name="part1" type="xsd1:MixedArrayType"/>
    </message>
    <message name="X.op_aResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <portType name="X">
        <operation name="op_a">
            <input message="tns:X.op_a" name="op_a"/>
            <output message="tns:X.op_aResponse" name="op_aResponse"/>
        </operation>
    </portType>
</definitions>
