tools/corba/src/test/resources/wsdl/atype.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<!-- Generated by <idltowsdl> Tool. Version 4.0.0 -->
<definitions name="m" targetNamespace="http://schemas.apache.org/idl/m.idl" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:corba="http://schemas.apache.org/bindings/corba" 
    xmlns:corbatm="http://schemas.apache.org/typemap/corba/m.idl" 
    xmlns:tns="http://schemas.apache.org/idl/m.idl" 
    xmlns:wsa="http://www.w3.org/2005/08/addressing" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsd1="http://schemas.apache.org/idltypes/m.idl">
    <types>
        <schema targetNamespace="http://schemas.apache.org/idltypes/m.idl" 
            xmlns="http://www.w3.org/2001/XMLSchema" 
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified">
            <complexType name="X._3_A">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="int"/>
                </sequence>
            </complexType>
            <complexType name="X._2_A">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="xsd1:X._3_A"/>
                </sequence>
            </complexType>
            <complexType name="X._1_A">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="xsd1:X._2_A"/>
                </sequence>
            </complexType>
            <complexType name="X._4_A">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="item" type="xsd1:X._1_A"/>
                </sequence>
            </complexType>
            <complexType name="X._5_A">
                <sequence>
                    <element maxOccurs="2" minOccurs="2" name="item" type="xsd1:X._4_A"/>
                </sequence>
            </complexType>
            <complexType name="X.A">
                <sequence>
                    <element maxOccurs="3" minOccurs="3" name="item" type="xsd1:X._5_A"/>
                </sequence>
            </complexType>
            <element name="X.op_a">
                <complexType>
                    <sequence>
                        <element name="p1" type="xsd1:X.A"/>
                        <element name="p2" type="xsd1:X.A"/>
                    </sequence>
                </complexType>
            </element>
            <element name="X.op_aResult">
                <complexType>
                    <sequence>
                        <element name="return" type="xsd1:X.A"/>
                        <element name="p2" type="xsd1:X.A"/>
                        <element name="p3" type="xsd1:X.A"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="X.op_a">
        <part element="xsd1:X.op_a" name="parameters"/>
    </message>
    <message name="X.op_aResponse">
        <part element="xsd1:X.op_aResult" name="parameters"/>
    </message>
    <portType name="X">
        <operation name="op_a">
            <input message="tns:X.op_a" name="op_a"/>
            <output message="tns:X.op_aResponse" name="op_aResponse"/>
        </operation>
    </portType>
</definitions>
