tools/corba/src/test/resources/wsdl/complexRestriction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"              
             xmlns:tns="http://schemas.apache.org/tests/type_test" 
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             targetNamespace="http://schemas.apache.org/tests/type_test">
    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" 
                    targetNamespace="http://schemas.apache.org/tests/type_test" 
                    elementFormDefault="unqualified" attributeFormDefault="unqualified">
             
            <complexType name="ComplexRestriction">
                <simpleContent>
                    <restriction base="string">
                        <maxLength value="10"/>
                        <minLength value="5"/>
                    </restriction>
                </simpleContent>
            </complexType>        
            <xsd:element name="ComplexRestriction_x" type="tns:ComplexRestriction"/>
            <xsd:element name="ComplexRestriction_y" type="tns:ComplexRestriction"/>
            <xsd:element name="ComplexRestriction_z" type="tns:ComplexRestriction"/>
            <xsd:element name="ComplexRestriction_return" type="tns:ComplexRestriction"/>
        </xsd:schema>
    </types>
    
    <message name="test_ComplexRestriction">
        <part name="x" element="tns:ComplexRestriction_x"/>
        <part name="y" element="tns:ComplexRestriction_y"/>
    </message>
    <message name="test_ComplexRestriction_response">
        <part name="return" element="tns:ComplexRestriction_return"/>
        <part name="y" element="tns:ComplexRestriction_y"/>
        <part name="z" element="tns:ComplexRestriction_z"/>
    </message>
    
    <portType name="TypeTestPortType">
        <operation name="test_ComplexRestriction">
            <input name="test_ComplexRestriction" message="tns:test_ComplexRestriction"/>
            <output name="test_ComplexRestriction_response" message="tns:test_ComplexRestriction_response"/>
        </operation>
    </portType>
    
</definitions>
    
     