tools/corba/src/test/resources/wsdl/listType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"            
             xmlns:tns="http://schemas.apache.org/tests/type_test"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:ref="http://schemas.apache.org/references" name="type_test"
             targetNamespace="http://schemas.apache.org/tests/type_test">
    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" 
                    targetNamespace="http://schemas.apache.org/tests/type_test">
            <simpleType name="ShortEnum">
                <restriction base="short">
                    <enumeration value="-1"/>
                    <enumeration value="2"/>
                    <enumeration value="-3"/>
                 </restriction>
            </simpleType>
            <simpleType name="ShortEnumList">
                <list itemType="tns:ShortEnum"/>
            </simpleType>   
            <xsd:element name="ShortEnumList_x" type="tns:ShortEnumList"/>
            <xsd:element name="ShortEnumList_y" type="tns:ShortEnumList"/>
            <xsd:element name="ShortEnumList_z" type="tns:ShortEnumList"/>
            <xsd:element name="ShortEnumList_return" type="tns:ShortEnumList"/>      
        </xsd:schema>
    </types>
    <message name="test_ShortEnumList">
        <part name="x" element="tns:ShortEnumList_x"/>
        <part name="y" element="tns:ShortEnumList_y"/>
    </message>
    <message name="test_ShortEnumList_response">
        <part name="return" element="tns:ShortEnumList_return"/>
        <part name="y" element="tns:ShortEnumList_y"/>
        <part name="z" element="tns:ShortEnumList_z"/>
    </message>
    <message name="test_void"/>
    <message name="test_void_response"/>
    
    <portType name="TypeTestPortType">
        <operation name="test_ShortEnumList">
            <input name="test_ShortEnumList" message="tns:test_ShortEnumList"/>
            <output name="test_ShortEnumList_response" message="tns:test_ShortEnumList_response"/>
        </operation>  
        <operation name="test_void">
            <input name="test_void" message="tns:test_void"/>
            <output name="test_void_response" message="tns:test_void_response"/>
        </operation>
    </portType>
    
</definitions>
    
    
    