tools/corba/src/test/resources/wsdl/nillable.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<definitions name="multipart.idl"
 targetNamespace="http://schemas.apache.org/idl/multipart.idl"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:tns="http://schemas.apache.org/idl/multipart.idl"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:xsd1="http://schemas.apache.org/idltypes/multipart.idl"
 xmlns:corba="http://schemas.apache.org/bindings/corba"
 xmlns:corbatm="http://schemas.apache.org/bindings/corba/typemap">
    <types>
        <schema targetNamespace="http://schemas.apache.org/idltypes/multipart.idl"
     xmlns="http://www.w3.org/2001/XMLSchema"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
     
            <xsd:complexType name="Details">
                <xsd:sequence>
                   <xsd:element name="name" type="xsd:string"/>
                   <xsd:element name="address" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DetailsEl" type="xsd1:Details"/>
            <xsd:element name="PEl" type="xsd:int" nillable="true"/>
        </schema>
    </types>
    <message name="test_nillable">
        <part name="x" element="xsd1:PEl"/>
    </message>
    <message name="test_nillableResponse">
        <part name="p" element="xsd1:DetailsEl"/>
    </message>
    <portType name="NillablePortType">
        <operation name="test_nillable">
            <input message="tns:test_nillable" name="test_union"/>
            <output message="tns:test_nillableResponse" name="test_unionResponse"/>
        </operation>
    </portType>
</definitions>
