tools/corba/src/test/resources/wsdl/restrictedStruct.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:itst="http://tests.apache.org/ittests"
             xmlns:tns="http://schemas.apache.org/tests/type_test"
             xmlns:wsse="http://schemas.xmlsoap.org/ws/2003/06/secext"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:ref="http://schemas.apache.org/references" name="type_test"
             targetNamespace="http://schemas.apache.org/tests/type_test">
    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.apache.org/tests/type_test">
    
        <xsd:include schemaLocation="restrictedStruct_test.xsd"/>
        <xsd:element name="RestrictedStruct_BaseStruct_x" type="tns:RestrictedStruct_BaseStruct"/>
        <xsd:element name="RestrictedStruct_BaseStruct_y" type="tns:RestrictedStruct_BaseStruct"/>
        <xsd:element name="RestrictedStruct_BaseStruct_z" type="tns:RestrictedStruct_BaseStruct"/>
        <xsd:element name="RestrictedStruct_BaseStruct_return" type="tns:RestrictedStruct_BaseStruct"/>            
        <xsd:element name="RestrictedAll_BaseAll_x" type="tns:RestrictedAll_BaseAll"/>
        <xsd:element name="RestrictedAll_BaseAll_y" type="tns:RestrictedAll_BaseAll"/>
        <xsd:element name="RestrictedAll_BaseAll_z" type="tns:RestrictedAll_BaseAll"/>
        <xsd:element name="RestrictedAll_BaseAll_return" type="tns:RestrictedAll_BaseAll"/>            
        <xsd:element name="RestrictedChoice_BaseChoice_x" type="tns:RestrictedChoice_BaseChoice"/>
        <xsd:element name="RestrictedChoice_BaseChoice_y" type="tns:RestrictedChoice_BaseChoice"/>
        <xsd:element name="RestrictedChoice_BaseChoice_z" type="tns:RestrictedChoice_BaseChoice"/>
        <xsd:element name="RestrictedChoice_BaseChoice_return" type="tns:RestrictedChoice_BaseChoice"/>
        </xsd:schema>
    </types>
    <message name="test_RestrictedStruct_BaseStruct">
        <part name="x" element="tns:RestrictedStruct_BaseStruct_x"/>
        <part name="y" element="tns:RestrictedStruct_BaseStruct_y"/>
    </message>
    <message name="test_RestrictedStruct_BaseStruct_response">
        <part name="return" element="tns:RestrictedStruct_BaseStruct_return"/>
        <part name="y" element="tns:RestrictedStruct_BaseStruct_y"/>
        <part name="z" element="tns:RestrictedStruct_BaseStruct_z"/>
    </message>    
    <message name="test_RestrictedAll_BaseAll">
        <part name="x" element="tns:RestrictedAll_BaseAll_x"/>
        <part name="y" element="tns:RestrictedAll_BaseAll_y"/>
    </message>
    <message name="test_RestrictedAll_BaseAll_response">
        <part name="return" element="tns:RestrictedAll_BaseAll_return"/>
        <part name="y" element="tns:RestrictedAll_BaseAll_y"/>
        <part name="z" element="tns:RestrictedAll_BaseAll_z"/>
    </message>    
    <message name="test_RestrictedChoice_BaseChoice">
        <part name="x" element="tns:RestrictedChoice_BaseChoice_x"/>
        <part name="y" element="tns:RestrictedChoice_BaseChoice_y"/>
    </message>
    <message name="test_RestrictedChoice_BaseChoice_response">
        <part name="return" element="tns:RestrictedChoice_BaseChoice_return"/>
        <part name="y" element="tns:RestrictedChoice_BaseChoice_y"/>
        <part name="z" element="tns:RestrictedChoice_BaseChoice_z"/>
    </message>
    
    <portType name="TypeTestPortType">
        <operation name="test_RestrictedStruct_BaseStruct">
            <input name="test_RestrictedStruct_BaseStruct" message="tns:test_RestrictedStruct_BaseStruct"/>
            <output name="test_RestrictedStruct_BaseStruct_response" message="tns:test_RestrictedStruct_BaseStruct_response"/>
        </operation>
        
        <operation name="test_RestrictedAll_BaseAll">
            <input name="test_RestrictedAll_BaseAll" message="tns:test_RestrictedAll_BaseAll"/>
            <output name="test_RestrictedAll_BaseAll_response" message="tns:test_RestrictedAll_BaseAll_response"/>
        </operation>
        
        <operation name="test_RestrictedChoice_BaseChoice">
            <input name="test_RestrictedChoice_BaseChoice" message="tns:test_RestrictedChoice_BaseChoice"/>
            <output name="test_RestrictedChoice_BaseChoice_response" message="tns:test_RestrictedChoice_BaseChoice_response"/>
        </operation>
    </portType>
    
</definitions>            