tools/corba/src/test/resources/wsdl/simpleList.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->

<definitions
    name="BaseService"
    targetNamespace="http://schemas.apache.org/tests"
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:tns="http://schemas.apache.org/tests"
    xmlns:xsd1="http://schemas.apache.org/tests"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"     
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
        <schema targetNamespace="http://schemas.apache.org/tests" 
            xmlns="http://www.w3.org/2001/XMLSchema" 
	    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">	   
            <simpleType name="StringEnum1">
                <restriction base="xsd:string">
                    <enumeration value="RED"/>
                    <enumeration value="BLUE" />
                </restriction>
            </simpleType>
            <simpleType name="StringList">
                <list itemType="xsd:string"/>
            </simpleType>
            <simpleType name="AnonList">
                <list>
                    <simpleType>
                        <restriction base="xsd:string"/>
                    </simpleType>
                </list>
            </simpleType>            

        </schema>
    </types>

    <message name="echoString">
        <part name="x" type="xsd1:StringEnum1"/>
        <part name="y" type="xsd1:StringList"/>
        <part name="z" type="xsd1:AnonList"/>        
    </message>
    <message name="echoStringResponse">
        <part name="return" type="xsd:string"/>
    </message>
    
    <portType name="BasePortType">
        <operation name="echoString">
            <input message="tns:echoString" name="echoString"/>
            <output message="tns:echoStringResponse" name="echoStringResponse"/>
        </operation>
    </portType>
       
</definitions>
