testutils/src/main/resources/wsdl/greeter_control.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements. See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership. The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License. You may obtain a copy of the License at
 
  http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://cxf.apache.org/greeter_control"
    xmlns:x1="http://cxf.apache.org/greeter_control/types"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://cxf.apache.org/greeter_control" name="HelloWorld">
    <wsdl:types>
        <schema targetNamespace="http://cxf.apache.org/greeter_control/types" 
            xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <element name="sayHi">
                <complexType/>
            </element>
            <element name="sayHiResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="greetMe">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="greetMeResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="greetMeOneWay">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="pingMe">
                <complexType/>
            </element>
            <element name="pingMeResponse">
                <complexType/>
            </element>
            <element name="faultDetail">
                <complexType>
                    <sequence>
                        <element name="minor" type="xsd:short"/>
                        <element name="major" type="xsd:short"/>
                    </sequence>
                </complexType>
            </element>
            
            <element name="startGreeter">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="startGreeterResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:boolean"/>
                    </sequence>
                </complexType>
            </element>
            <element name="stopGreeter">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="stopGreeterResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:boolean"/>
                    </sequence>
                </complexType>
            </element>
            <element name="faultLocation">
                <complexType>
                    <sequence>
                        <element name="phase" type="xsd:string"/>
                        <element name="before" type="xsd:string"/>
                        <element name="after" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>

        </schema>
    </wsdl:types>

   
   <wsdl:message name="sayHiRequest">
        <wsdl:part element="x1:sayHi" name="in"/>
    </wsdl:message>
    <wsdl:message name="sayHiResponse">
        <wsdl:part element="x1:sayHiResponse" name="out"/>
    </wsdl:message>
    <wsdl:message name="greetMeRequest">
        <wsdl:part element="x1:greetMe" name="in"/>
    </wsdl:message>
    <wsdl:message name="greetMeResponse">
        <wsdl:part element="x1:greetMeResponse" name="out"/>
    </wsdl:message>
    <wsdl:message name="greetMeOneWayRequest">
        <wsdl:part element="x1:greetMeOneWay" name="in"/>
    </wsdl:message>
    <wsdl:message name="pingMeRequest">
    <wsdl:part name="in" element="x1:pingMe"/>
    </wsdl:message>
    <wsdl:message name="pingMeResponse">
        <wsdl:part name="out" element="x1:pingMeResponse"/>
    </wsdl:message>        
    <wsdl:message name="pingMeFault">
        <wsdl:part name="faultDetail" element="x1:faultDetail"/>
    </wsdl:message> 
    
    <wsdl:message name="startGreeterRequest">
        <wsdl:part element="x1:startGreeter" name="in"/>
    </wsdl:message>
    <wsdl:message name="startGreeterResponse">
        <wsdl:part element="x1:startGreeterResponse" name="out"/>
    </wsdl:message>    
    <wsdl:message name="stopGreeterRequest">
        <wsdl:part element="x1:stopGreeter" name="in"/>
    </wsdl:message>
    <wsdl:message name="stopGreeterResponse">
        <wsdl:part element="x1:stopGreeterResponse" name="out"/>
    </wsdl:message>
    <wsdl:message name="setFaultLocationRequest">
        <wsdl:part element="x1:faultLocation" name="in"/>
    </wsdl:message>
    <wsdl:message name="setFaultLocationResponse">
    </wsdl:message>
    
    <wsdl:portType name="Greeter">
        <wsdl:operation name="sayHi">
            <wsdl:input message="tns:sayHiRequest" name="sayHiRequest"/>
            <wsdl:output message="tns:sayHiResponse" name="sayHiResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="greetMe">
            <wsdl:input message="tns:greetMeRequest" name="greetMeRequest"/>
            <wsdl:output message="tns:greetMeResponse" name="greetMeResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="greetMeOneWay">
            <wsdl:input message="tns:greetMeOneWayRequest" name="greetMeOneWayRequest"/>
        </wsdl:operation>

        <wsdl:operation name="pingMe">
            <wsdl:input name="pingMeRequest" message="tns:pingMeRequest"/>
            <wsdl:output name="pingMeResponse" message="tns:pingMeResponse"/>
            <wsdl:fault name="pingMeFault" message="tns:pingMeFault"/>
        </wsdl:operation> 
    </wsdl:portType>
    
    <wsdl:portType name="Control">
        <wsdl:operation name="startGreeter">
            <wsdl:input message="tns:startGreeterRequest" name="startGreeterRequest"/>
            <wsdl:output message="tns:startGreeterResponse" name="startGreeterResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="stopGreeter">
            <wsdl:input message="tns:stopGreeterRequest" name="stopGreeterRequest"/>
            <wsdl:output message="tns:stopGreeterResponse" name="stopGreeterResponse"/>
        </wsdl:operation>

        <wsdl:operation name="setFaultLocation">
            <wsdl:input message="tns:setFaultLocationRequest" name="setFaultLocationRequest"/>
            <wsdl:output message="tns:setFaultLocationResponse" name="setFaultLocationResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="GreeterSOAPBinding" type="tns:Greeter">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="sayHi">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sayHiRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sayHiResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="greetMe">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="greetMeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="greetMeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="greetMeOneWay">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="greetMeOneWayRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>

            <wsdl:operation name="pingMe">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pingMeFault">
                <soap:fault name="pingMeFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
    </wsdl:binding>
  
    <wsdl:binding name="ControlSOAPBinding" type="tns:Control">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="startGreeter">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="startGreeterRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="startGreeterResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="stopGreeter">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="stopGreeterRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="stopGreeterResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setFaultLocation">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="setFaultLocationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setFaultLocationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ControlService">
        <wsdl:port binding="tns:ControlSOAPBinding" name="ControlPort">
            <soap:address location="http://localhost:9001/SoapContext/ControlPort"/>
        </wsdl:port>
    </wsdl:service>
    
    <wsdl:service name="GreeterService">
        <wsdl:port binding="tns:GreeterSOAPBinding" name="GreeterPort">
            <soap:address location="http://localhost:9020/SoapContext/GreeterPort"/>
            <wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2005/02/addressing/wsdl"/>
        </wsdl:port>
    </wsdl:service>
    
    <wsdl:service name="ReliableGreeterService">
        <wsdl:port binding="tns:GreeterSOAPBinding" name="GreeterPort">
            <soap:address location="http://localhost:9020/SoapContext/GreeterPort"/>
            <wsp:Policy xmlns:wsp="http://www.w3.org/2006/07/ws-policy">
                <wsam:Addressing xmlns:wsam="http://www.w3.org/2007/02/addressing/metadata">
                    <wsp:Policy/>
                </wsam:Addressing>
                <wsrmp:RMAssertion xmlns:wsrmp="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
                    <wsrmp:BaseRetransmissionInterval Milliseconds="30000"/>
                </wsrmp:RMAssertion>
            </wsp:Policy>
        </wsdl:port> 
        <wsdl:port binding="tns:GreeterSOAPBinding" name="GreeterPort2">
            <soap:address location="http://localhost:9020/SoapContext/GreeterPort2"/>
            <wsp:Policy xmlns:wsp="http://www.w3.org/2006/07/ws-policy">
                <wsam:Addressing xmlns:wsam="http://www.w3.org/2007/02/addressing/metadata">
                    <wsp:Policy/>
                </wsam:Addressing>
            </wsp:Policy>
        </wsdl:port>
        
    </wsdl:service>
   
    <wsdl:service name="BasicGreeterService">
        <wsdl:port binding="tns:GreeterSOAPBinding" name="GreeterPort">
            <soap:address location="http://localhost:9020/SoapContext/GreeterPort"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="ClusteredGreeterService">
        <wsdl:port binding="tns:GreeterSOAPBinding" name="ReplicatedPortA">
            <soap:address location="http://localhost:9051/SoapContext/ReplicatedPortA"/>
            <wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2005/02/addressing/wsdl"/>
        </wsdl:port>
        <wsdl:port binding="tns:GreeterSOAPBinding" name="ReplicatedPortB">
            <soap:address location="http://localhost:9052/SoapContext/ReplicatedPortB"/>
        </wsdl:port>
        <wsdl:port binding="tns:GreeterSOAPBinding" name="ReplicatedPortC">
            <soap:address location="http://localhost:9053/SoapContext/ReplicatedPortC"/>
        </wsdl:port>
        <wsdl:port binding="tns:ControlSOAPBinding" name="ReplicatedPortD">
            <soap:address location="http://localhost:9054/SoapContext/ReplicatedPortD"/>
        </wsdl:port>
        
    </wsdl:service>

</wsdl:definitions>

