testutils/src/main/resources/wsdl/header_rpc_lit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
-->
<definitions name="soap_header" targetNamespace="http://apache.org/headers/rpc_lit" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:jms="http://cxf.apache.org/transports/jms" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xformat="http://cxf.apache.org/bindings/xformat" xmlns:tns="http://apache.org/headers/rpc_lit" xmlns:x1="http://apache.org/headers/coloc/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <schema targetNamespace="http://apache.org/headers/rpc_lit" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <xsd:import namespace="http://apache.org/headers/coloc/types" schemaLocation="./header.xsd"/>
        </schema>
    </types>
    <message name="inHeaderRequest">
        <part type="x1:inHeaderT" name="in"/>
        <part element="x1:header" name="header"/>
    </message>
    <message name="inHeaderResponse">
        <part type="x1:inHeaderResponseT" name="out"/>
    </message>
    <message name="outHeaderRequest">
        <part type="x1:outHeaderT" name="in"/>
    </message>
    <message name="outHeaderResponse">
        <part type="x1:outHeaderResponseT" name="out"/>
        <part element="x1:header" name="header"/>
    </message>
    <message name="inoutHeaderRequest">
        <part type="x1:inoutHeaderT" name="in"/>
        <part element="x1:header" name="header"/>
    </message>
    <message name="inoutHeaderResponse">
        <part type="x1:inoutHeaderResponseT" name="out"/>
        <part element="x1:header" name="header"/>
    </message>
    <message name="pingMeRequest">
        <part type="x1:pingMeT" name="in"/>
    </message>
    <message name="pingMeResponse">
        <part type="x1:pingMeResponseT" name="out"/>
    </message>
    <message name="pingMeFault">
        <part type="x1:faultDetailT" name="faultDetail"/>
    </message>
    <portType name="headerTester">
        <operation name="inHeader">
            <input message="tns:inHeaderRequest" name="inHeaderRequest"/>
            <output message="tns:inHeaderResponse" name="inHeaderResponse"/>
        </operation>
        <operation name="outHeader">
            <input message="tns:outHeaderRequest" name="outHeaderRequest"/>
            <output message="tns:outHeaderResponse" name="outHeaderResponse"/>
        </operation>
        <operation name="inoutHeader">
            <input message="tns:inoutHeaderRequest" name="inoutHeaderRequest"/>
            <output message="tns:inoutHeaderResponse" name="inoutHeaderResponse"/>
        </operation>
        <operation name="pingMe">
            <input message="tns:pingMeRequest" name="pingMeRequest"/>
            <output message="tns:pingMeResponse" name="pingMeResponse"/>
            <fault message="tns:pingMeFault" name="pingMeFault"/>
        </operation>
    </portType>
    <binding name="headerTesterSOAPBinding" type="tns:headerTester">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="inHeader">
            <soap:operation soapAction="" style="rpc"/>
            <input name="inHeaderRequest">
                <soap:body parts="in" use="literal"/>
                <soap:header message="tns:inHeaderRequest" part="header" use="literal"/>
            </input>
            <output name="inHeaderResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="outHeader">
            <soap:operation soapAction="" style="rpc"/>
            <input name="outHeaderRequest">
                <soap:body use="literal"/>
            </input>
            <output name="outHeaderResponse">
                <soap:body parts="out" use="literal"/>
                <soap:header message="tns:outHeaderResponse" part="header" use="literal"/>
            </output>
        </operation>
        <operation name="inoutHeader">
            <soap:operation soapAction="" style="rpc"/>
            <input name="inoutHeaderRequest">
                <soap:body parts="in" use="literal"/>
                <soap:header message="tns:inoutHeaderRequest" part="header" use="literal"/>
            </input>
            <output name="inoutHeaderResponse">
                <soap:body parts="out" use="literal"/>
                <soap:header message="tns:inoutHeaderResponse" part="header" use="literal"/>
            </output>
        </operation>
        <operation name="pingMe">
            <soap:operation style="rpc"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="pingMeFault">
                <soap:fault name="pingMeFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <wsdl:binding name="headerTesterXMLBinding" type="tns:headerTester">
        <xformat:binding/>
        <wsdl:operation name="inHeader">
            <wsdl:input>
                <xformat:body rootNode="tns:inHeaderReqNode"/>
            </wsdl:input>
            <wsdl:output/>
        </wsdl:operation>
        <wsdl:operation name="outHeader">
            <wsdl:input/>
            <wsdl:output>
                <xformat:body rootNode="tns:outHeaderRespNode"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="inoutHeader">
            <wsdl:input>
                <xformat:body rootNode="tns:inoutHeaderNode"/>
            </wsdl:input>
            <wsdl:output>
                <xformat:body rootNode="tns:inoutHeaderNode"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pingMe">
            <wsdl:input>
                <!-- RootNode needed because the part name "in" is used in multiple message -->
                <xformat:body rootNode="tns:pingMe"/>
            </wsdl:input>
            <wsdl:output/>
            <wsdl:fault name="pingMeFault"/>
        </wsdl:operation>
    </wsdl:binding>
    <service name="XMLHeaderService">
        <port binding="tns:headerTesterXMLBinding" name="XMLPort">
            <http:address location="http://localhost:9222/XMLContext/XMLPort"/>
        </port>
    </service>
    <service name="SOAPHeaderService">
        <port binding="tns:headerTesterSOAPBinding" name="SoapPort">
            <soap:address location="http://localhost:9222/headers"/>
        </port>
    </service>
</definitions>
