testutils/src/main/resources/wsdl/jms_test_mtom.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
                Licensed to the Apache Software Foundation (ASF) under one or more
                contributor license agreements. See the NOTICE file distributed with
                this work for additional information regarding copyright ownership.
                The ASF licenses this file to you under the Apache License, Version
                2.0 (the "License"); you may not use this file except in compliance
                with the License. You may obtain a copy of the License at


                http://www.apache.org/licenses/LICENSE-2.0 Unless required by
                applicable law or agreed to in writing, software distributed under the
                License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
                CONDITIONS OF ANY KIND, either express or implied. See the License for
                the specific language governing permissions and limitations under the
                License.
        -->
<wsdl:definitions 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:jms="http://www.w3.org/2010/soapjms/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://cxf.apache.org/jms_mtom"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
	xmlns:x1="http://cxf.apache.org/jms_mtom/types"
	name="JMSMTOMService" 
	targetNamespace="http://cxf.apache.org/jms_mtom">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cxf.apache.org/jms_mtom/types" elementFormDefault="qualified">
            <complexType name="DataHandlerType">
                <sequence>
                    <element name="name" type="xsd:string"/>
                    <element name="attachinfo" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
                </sequence>
            </complexType>
            <complexType name="DataHandlerOnlyType">
                <sequence>
                    <element name="attachinfo" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
                </sequence>
            </complexType>
            <element name="testDataHandler" type="x1:DataHandlerType"/>
            <element name="testDataHandlerResponse" type="x1:DataHandlerType"/>
            <element name="testOutMtom">
                <complexType/>
            </element>
            <element name="testOutMtomResponse" type="x1:DataHandlerOnlyType"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="testDataHandlerIn">
        <wsdl:part name="data" element="x1:testDataHandler"/>
    </wsdl:message>
    <wsdl:message name="testDataHandlerOut">
        <wsdl:part name="data" element="x1:testDataHandlerResponse"/>
    </wsdl:message>
    <wsdl:message name="testOutMtomRequest">
        <wsdl:part name="in" element="x1:testOutMtom"/>
    </wsdl:message>
    <wsdl:message name="testOutMtomResponse">
        <wsdl:part name="out" element="x1:testOutMtomResponse"/>
    </wsdl:message>
    <wsdl:portType name="JMSMTOMPortType">
        <wsdl:operation name="testDataHandler">
            <wsdl:input message="tns:testDataHandlerIn"/>
            <wsdl:output message="tns:testDataHandlerOut"/>
        </wsdl:operation>
        <wsdl:operation name="testOutMtom">
            <wsdl:input message="tns:testOutMtomRequest"/>
            <wsdl:output message="tns:testOutMtomResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JMSMTOMPortBinding" type="tns:JMSMTOMPortType">
        <soap:binding style="document" transport="http://www.w3.org/2010/soapjms/"/>
        <jms:jndiURL>tcp://localhost:61500</jms:jndiURL>
  		<jms:jndiInitialContextFactory>org.apache.activemq.artemis.jndi.ActiveMQInitialContextFactory</jms:jndiInitialContextFactory>
        
        <wsdl:operation name="testDataHandler">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testOutMtom">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JMSMTOMService">
        <wsdl:port binding="tns:JMSMTOMPortBinding" name="MTOMPort">
	        <soap:address location="jms:jndi:dynamicQueues/test.cxf.jmstransport.queue?messageType=byte&amp;receiveTimeout=10000" />
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="JMSOutMTOMService">
        <wsdl:port binding="tns:JMSMTOMPortBinding" name="MTOMPort">
            <soap:address location="jms:jndi:dynamicQueues/test.cxf.jmstransport.queue&amp;receiveTimeout=10000" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
