testutils/src/main/resources/wsdl/jms_test_mtom.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<!--
		Licensed to the Apache Software Foundation (ASF) under one or more
		contributor license agreements. See the NOTICE file distributed with
		this work for additional information regarding copyright ownership.
		The ASF licenses this file to you under the Apache License, Version
		2.0 (the "License"); you may not use this file except in compliance
		with the License. You may obtain a copy of the License at


		http://www.apache.org/licenses/LICENSE-2.0 Unless required by
		applicable law or agreed to in writing, software distributed under the
		License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
		CONDITIONS OF ANY KIND, either express or implied. See the License for
		the specific language governing permissions and limitations under the
		License.
	-->
<wsdl:definitions name="JMSMTOMService"
	targetNamespace="http://cxf.apache.org/jms_mtom" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:jms="http://cxf.apache.org/transports/jms" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://cxf.apache.org/jms_mtom" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
	xmlns:x1="http://cxf.apache.org/jms_mtom/types">
	<wsdl:types>
		<schema targetNamespace="http://cxf.apache.org/jms_mtom/types"
			xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
			<complexType name="DataHandlerType">
				<sequence>
					<element name="name" type="xsd:string" />
					<element name="attachinfo" type="xsd:base64Binary"
						xmime:expectedContentTypes="application/octet-stream" />
				</sequence>
			</complexType>
			<element name="testDataHandler" type="x1:DataHandlerType" />
			<element name="testDataHandlerResponse" type="x1:DataHandlerType" />
		</schema>
	</wsdl:types>

	<wsdl:message name="testDataHandlerIn">
		<wsdl:part name="data" element="x1:testDataHandler" />
	</wsdl:message>

	<wsdl:message name="testDataHandlerOut">
		<wsdl:part name="data" element="x1:testDataHandlerResponse" />
	</wsdl:message>

	<wsdl:portType name="JMSMTOMPortType">
		<wsdl:operation name="testDataHandler">
			<wsdl:input message="tns:testDataHandlerIn" />
			<wsdl:output message="tns:testDataHandlerOut" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="JMSMTOMPortBinding" type="tns:JMSMTOMPortType">
		<soap:binding style="document"
			transport="http://cxf.apache.org/transports/jms" />
		<wsdl:operation name="testDataHandler">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="JMSMTOMService">
		<wsdl:port binding="tns:JMSMTOMPortBinding" name="MTOMPort">
			<jms:address destinationStyle="queue"
				jndiConnectionFactoryName="ConnectionFactory"
				jndiDestinationName="dynamicQueues/test.cxf.jmstransport.queue">

				<jms:JMSNamingProperty name="java.naming.factory.initial"
					value="org.apache.activemq.jndi.ActiveMQInitialContextFactory" />
				<jms:JMSNamingProperty name="java.naming.provider.url"
					value="tcp://localhost:61500" />
			</jms:address>
			<jms:client messageType="byte"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
