testutils/src/main/resources/wsdl/jms_test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements. See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership. The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License. You may obtain a copy of the License at
 
  http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<definitions name="HelloWorldService" 
	targetNamespace="http://cxf.apache.org/hello_world_jms"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:jms="http://www.w3.org/2010/soapjms/" 
	xmlns:x1="http://cxf.apache.org/hello_world_jms/types" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://cxf.apache.org/hello_world_jms" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.w3.org/2010/soapjms/ http://svn.apache.org/repos/asf/cxf/tags/cxf-2.7.7/rt/transports/jms/src/main/resources/schemas/wsdl/spec/jms-spec-wsdl.xsd ">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:x1="http://cxf.apache.org/hello_world_jms/types" targetNamespace="http://cxf.apache.org/hello_world_jms/types" elementFormDefault="qualified">
            <complexType name="ErrorCode">
                <sequence>
                    <element name="minor" type="short"/>
                    <element name="major" type="short"/>
                </sequence>
            </complexType>
            <complexType name="testRpcLitFault">
                <sequence>
                    <element name="faultType" type="string"/>
                </sequence>
            </complexType>
            <complexType name="testRpcLitFaultResponse">
                <sequence/>
            </complexType>
            <element name="NoSuchCodeLit" type="x1:NoSuchCodeLit"/>
            <complexType name="NoSuchCodeLit">
                <sequence>
                    <element name="code" type="x1:ErrorCode"/>
                </sequence>
            </complexType>
            <element name="BadRecordLit" type="x1:BadRecordLit"/>
            <complexType name="BadRecordLit">
                <sequence>
                    <element name="reason" type="string"/>
                    <element name="code" type="short"/>
                </sequence>
            </complexType>
        </schema>
    </types>
    <message name="greetMe">
        <part name="stringParam0" type="xsd:string"/>
    </message>
    <message name="greetMeResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="sayHi"/>
    <message name="sayHiResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="greetMeOneWay">
        <part name="stringParam0" type="xsd:string"/>
    </message>
    <message name="testRpcLitFaultRequest">
        <part name="in" type="xsd:string"/>
    </message>
    <message name="testRpcLitFaultResponse">
        <part name="out" type="x1:testRpcLitFaultResponse"/>
    </message>
    <message name="NoSuchCodeLitFault">
        <part name="NoSuchCodeLit" element="x1:NoSuchCodeLit"/>
    </message>
    <message name="BadRecordLitFault">
        <part name="BadRecordLit" element="x1:BadRecordLit"/>
    </message>
    <portType name="HelloWorldPortType">
        <operation name="greetMe">
            <input message="tns:greetMe" name="greetMe"/>
            <output message="tns:greetMeResponse" name="greetMeResponse"/>
        </operation>
        <operation name="sayHi">
            <input message="tns:sayHi" name="sayHi"/>
            <output message="tns:sayHiResponse" name="sayHiResponse"/>
        </operation>
        <operation name="greetMeOneWay">
            <input message="tns:greetMeOneWay" name="greetMeOneWay"/>
        </operation>
        <operation name="testRpcLitFault">
            <input name="testRpcLitFaultRequest" message="tns:testRpcLitFaultRequest"/>
            <output name="testRpcLitFaultResponse" message="tns:testRpcLitFaultResponse"/>
            <fault name="NoSuchCodeLitFault" message="tns:NoSuchCodeLitFault"/>
            <fault name="BadRecordLitFault" message="tns:BadRecordLitFault"/>
        </operation>
    </portType>
    <portType name="HelloWorldSoapActionPortType">
        <operation name="sayHi">
            <input message="tns:sayHi" name="sayHi"/>
            <output message="tns:sayHiResponse" name="sayHiResponse"/>
        </operation>
        <operation name="sayHi2">
            <input message="tns:sayHi" name="sayHi"/>
            <output message="tns:sayHiResponse" name="sayHiResponse"/>
        </operation>
    </portType>
    <portType name="HelloWorldOneWayPort">
        <operation name="greetMeOneWay">
            <input message="tns:greetMeOneWay" name="greetMeOneWay"/>
        </operation>
    </portType>
    <portType name="HelloWorldPubSubPort">
        <operation name="greetMeOneWay">
            <input message="tns:greetMeOneWay" name="greetMeOneWay"/>
        </operation>
    </portType>
    <binding name="HelloWorldPortBinding" type="tns:HelloWorldPortType">
        <soap:binding style="rpc" transport="http://www.w3.org/2010/soapjms/"/>
        <jms:jndiURL>tcp://localhost:61500</jms:jndiURL>
        <jms:jndiInitialContextFactory>org.apache.activemq.artemis.jndi.ActiveMQInitialContextFactory</jms:jndiInitialContextFactory>
        
        <operation name="greetMe">
            <soap:operation soapAction="" style="rpc"/>
            <input name="greetMe">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
            <output name="greetMeResponse">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="sayHi">
            <soap:operation soapAction="" style="rpc"/>
            <input name="sayHi">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
            <output name="sayHiResponse">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="greetMeOneWay">
            <soap:operation style="rpc"/>
            <input name="greetMeOneWay">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
        </operation>
        <operation name="testRpcLitFault">
            <soap:operation style="rpc"/>
            <input>
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </output>
            <fault name="NoSuchCodeLitFault">
                <soap:fault name="NoSuchCodeLitFault" use="literal"/>
            </fault>
            <fault name="BadRecordLitFault">
                <soap:fault name="BadRecordLitFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <binding name="HelloWorldPortSoapActionBinding" type="tns:HelloWorldSoapActionPortType">
        <soap:binding style="rpc" transport="http://www.w3.org/2010/soapjms/"/>
        <jms:jndiURL>tcp://localhost:61500</jms:jndiURL>
        <jms:jndiInitialContextFactory>org.apache.activemq.artemis.jndi.ActiveMQInitialContextFactory</jms:jndiInitialContextFactory>

        <operation name="sayHi">
            <soap:operation soapAction="SAY_HI_1" style="rpc"/>
            <input name="sayHi">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
            <output name="sayHiResponse">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="sayHi2">
            <soap:operation soapAction="SAY_HI_2" style="rpc"/>
            <input name="sayHi">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
            <output name="sayHiResponse">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="HelloWorldQueueBinMsgBinding" type="tns:HelloWorldPortType">
        <soap:binding style="rpc" transport="http://www.w3.org/2010/soapjms/"/>
    	<jms:jndiURL>tcp://localhost:61500</jms:jndiURL>
  		<jms:jndiInitialContextFactory>org.apache.activemq.artemis.jndi.ActiveMQInitialContextFactory</jms:jndiInitialContextFactory>
 
        <operation name="greetMe">
            <soap:operation soapAction="" style="rpc"/>
            <input name="greetMe">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
            <output name="greetMeResponse">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="sayHi">
            <soap:operation soapAction="" style="rpc"/>
            <input name="sayHi">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
            <output name="sayHiResponse">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="greetMeOneWay">
            <soap:operation style="rpc"/>
            <input name="greetMeOneWay">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="HWStaticReplyQTextPortBinding" type="tns:HelloWorldPortType">
        <soap:binding style="rpc" transport="http://www.w3.org/2010/soapjms/"/>
        <jms:jndiURL>tcp://localhost:61500</jms:jndiURL>
  		<jms:jndiInitialContextFactory>org.apache.activemq.artemis.jndi.ActiveMQInitialContextFactory</jms:jndiInitialContextFactory>

        <operation name="greetMe">
            <soap:operation soapAction="" style="rpc"/>
            <input name="greetMe">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
            <output name="greetMeResponse">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="sayHi">
            <soap:operation soapAction="" style="rpc"/>
            <input name="sayHi">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
            <output name="sayHiResponse">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="greetMeOneWay">
            <soap:operation style="rpc"/>
            <input name="greetMeOneWay">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="HWStaticReplyQBinMsgBinding" type="tns:HelloWorldPortType">
        <soap:binding style="rpc" transport="http://www.w3.org/2010/soapjms/"/>
        <jms:jndiURL>tcp://localhost:61500</jms:jndiURL>
  		<jms:jndiInitialContextFactory>org.apache.activemq.artemis.jndi.ActiveMQInitialContextFactory</jms:jndiInitialContextFactory>
        
        <operation name="greetMe">
            <soap:operation soapAction="" style="rpc"/>
            <input name="greetMe">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
            <output name="greetMeResponse">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="sayHi">
            <soap:operation soapAction="" style="rpc"/>
            <input name="sayHi">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
            <output name="sayHiResponse">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="greetMeOneWay">
            <soap:operation style="rpc"/>
            <input name="greetMeOneWay">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="HWJMSAddressingBinding" type="tns:HelloWorldPortType">
        <soap:binding style="rpc" transport="http://www.w3.org/2010/soapjms/"/>
        <jms:jndiURL>tcp://localhost:61500</jms:jndiURL>
  		<jms:jndiInitialContextFactory>org.apache.activemq.artemis.jndi.ActiveMQInitialContextFactory</jms:jndiInitialContextFactory>
        <operation name="greetMe">
            <soap:operation soapAction="" style="rpc"/>
            <input name="greetMe">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
            <output name="greetMeResponse">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="sayHi">
            <soap:operation soapAction="" style="rpc"/>
            <input name="sayHi">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
            <output name="sayHiResponse">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="greetMeOneWay">
            <soap:operation style="rpc"/>
            <input name="greetMeOneWay">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="HelloWorldOneWayBinding" type="tns:HelloWorldOneWayPort">
        <soap:binding style="rpc" transport="http://www.w3.org/2010/soapjms/"/>
        <jms:jndiURL>tcp://localhost:61500</jms:jndiURL>
  		<jms:jndiInitialContextFactory>org.apache.activemq.artemis.jndi.ActiveMQInitialContextFactory</jms:jndiInitialContextFactory>
        <operation name="greetMeOneWay">
            <soap:operation style="rpc"/>
            <input name="greetMeOneWay">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="HelloWorldPubSubBinding" type="tns:HelloWorldPubSubPort">
        <soap:binding style="rpc" transport="http://www.w3.org/2010/soapjms/"/>
        <jms:jndiURL>tcp://localhost:61500</jms:jndiURL>
  		<jms:jndiInitialContextFactory>org.apache.activemq.artemis.jndi.ActiveMQInitialContextFactory</jms:jndiInitialContextFactory>
        <operation name="greetMeOneWay">
            <soap:operation style="rpc"/>
            <input name="greetMeOneWay">
                <soap:body namespace="http://cxf.apache.org/hello_world_jms" use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="HelloWorldQueueBinMsgService">
        <port binding="tns:HelloWorldQueueBinMsgBinding" name="HelloWorldQueueBinMsgPort">
        	<soap:address location="jms:jndi:dynamicQueues/test.jmstransport.binary?replyToQueueName=dynamicQueues/test.jms.addr.reply.queue&amp;messageType=binary&amp;receiveTimeout=500&amp;timeTolive=600" />
            <wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2005/02/addressing/wsdl"/>
        </port>
    </service>
    <service name="HelloWorldService">
        <port binding="tns:HelloWorldPortBinding" name="HelloWorldPort">
            <soap:address location="jms:jndi:dynamicQueues/test.jmstransport.text?username=testUser&amp;password=testPassword&amp;useConduitIdSelector=false" />
        </port>
    </service>
    <service name="HelloWorldServiceSoapAction">
        <port binding="tns:HelloWorldPortSoapActionBinding" name="HelloWorldPort">
            <soap:address location="jms:jndi:dynamicQueues/test.jmstransport.text?username=testUser&amp;password=testPassword&amp;useConduitIdSelector=false" />
        </port>
    </service>
    <service name="HelloWorldServiceAppCorrelationID">
        <port binding="tns:HelloWorldPortBinding" name="HelloWorldPortAppCorrelationIDEng">
	        <soap:address location="jms:queue:test.jmstransport.text.app.correlation.id?replyToQueueName=test.jmstransport.text.app.correlation.id.reply" />
        </port>
        <port binding="tns:HelloWorldPortBinding" name="HelloWorldPortAppCorrelationIDSales">
	        <soap:address location="jms:queue:test.jmstransport.text.app.correlation.id?replyToQueueName=test.jmstransport.text.app.correlation.id.reply" />
        </port>
    </service>
    <service name="HelloWorldServiceAppCorrelationIDStaticPrefix">
        <port binding="tns:HelloWorldPortBinding" name="HelloWorldPortAppCorrelationIDStaticPrefixEng">
            <jms:clientConfig  useConduitIdSelector="false"/>
            <soap:address location="jms:queue:test.jmstransport.text.app.correlation.id.static.prefix?replyToQueueName=test.jmstransport.text.app.correlation.id.static.prefix.reply&amp;conduitSelectorPrefix=com.mycompany.eng:" />
        </port>
        <port binding="tns:HelloWorldPortBinding" name="HelloWorldPortAppCorrelationIDStaticPrefixSales">
	        <soap:address location="jms:queue:test.jmstransport.text.app.correlation.id.static.prefix?replyToQueueName=test.jmstransport.text.app.correlation.id.static.prefix.reply&amp;conduitSelectorPrefix=com.mycompany.sales:&amp;useConduitIdSelector=false" />
        </port>
    </service>
    <service name="HelloWorldServiceAppCorrelationIDNoPrefix">
        <port binding="tns:HelloWorldPortBinding" name="HelloWorldPortAppCorrelationIDNoPrefix">
	        <soap:address location="jms:queue:test.jmstransport.text.app.correlation.id.no.prefix?replyToQueueName=test.jmstransport.text.app.correlation.id.no.prefix.reply&amp;receiveTimeout=5000" />
        </port>
    </service>
    <service name="HelloWorldServiceRuntimeCorrelationIDStaticPrefix">
        <port binding="tns:HelloWorldPortBinding" name="HelloWorldPortRuntimeCorrelationIDStaticPrefixEng">
	        <soap:address location="jms:queue:test.jmstransport.text.runtime.correlation.id.static.prefix?replyToQueueName=test.jmstransport.text.runtime.correlation.id.static.prefix.reply&amp;conduitSelectorPrefix=com.mycompany.eng:&amp;useConduitIdSelector=true" />
            <jms:server messageSelector="JMSCorrelationID LIKE 'com.mycompany.eng:%'"/>
        </port>
        <port binding="tns:HelloWorldPortBinding" name="HelloWorldPortRuntimeCorrelationIDStaticPrefixSales">
            <jms:server messageSelector="JMSCorrelationID LIKE 'com.mycompany.sales:%'"/>
            <soap:address location="jms:queue:test.jmstransport.text.runtime.correlation.id.static.prefix?replyToQueueName=test.jmstransport.text.runtime.correlation.id.static.prefix.reply&amp;conduitSelectorPrefix=com.mycompany.sales:&amp;useConduitIdSelector=true" />
        </port>
    </service>
    <service name="HelloWorldServiceRuntimeCorrelationIDDynamicPrefix">
        <port binding="tns:HelloWorldPortBinding" name="HelloWorldPortRuntimeCorrelationIDDynamicPrefix">
        	<soap:address location="jms:queue:test.jmstransport.text.runtime.correlation.id.dynamic.prefix?replyToQueueName=test.jmstransport.text.runtime.correlation.id.dynamic.prefix.reply" />
        </port>
    </service>
    <service name="HelloWorldServiceLoop">
        <port binding="tns:HWStaticReplyQBinMsgBinding" name="HelloWorldPortLoop">
	        <soap:address location="jms:jndi:dynamicQueues/test.jmstransport.binary?replyToQueueName=dynamicQueues/test.jmstransport.binary.reply&amp;messageType=binary" />
        </port>
    </service>
    <service name="HWStaticReplyQBinMsgService">
        <port binding="tns:HWStaticReplyQBinMsgBinding" name="HWStaticReplyQBinMsgPort">
	        <soap:address location="jms:jndi:dynamicQueues/test.jmstransport.binary?replyToQueueName=dynamicQueues/test.jmstransport.binary.reply&amp;messageType=binary" />
        </port>
    </service>
    <service name="HWByteMsgService">
        <port binding="tns:HelloWorldPortBinding" name="HWSByteMsgPort">
	        <soap:address location="jms:jndi:dynamicQueues/test.jmstransport.binary?replyToQueueName=dynamicQueues/test.jmstransport.binary.reply&amp;messageType=byte" />
        </port>
    </service>
    <service name="HWStaticReplyQTextMsgService">
        <port binding="tns:HWStaticReplyQTextPortBinding" name="HWStaticReplyQTextPort">
	        <soap:address location="jms:jndi:dynamicQueues/test.jmstransport.text?replyToQueueName=dynamicQueues/test.jmstransport.text.reply" />
        </port>
    </service>
    <service name="HelloWorldOneWayQueueService">
        <port binding="tns:HelloWorldOneWayBinding" name="HelloWorldOneWayQueuePort">
            <soap:address location="jms:jndi:dynamicQueues/test.jmstransport.oneway" />
        </port>
    </service>
    <service name="HelloWorldQueueDecoupledOneWaysService">
        <port binding="tns:HelloWorldOneWayBinding" name="HelloWorldQueueDecoupledOneWaysPort">
            <soap:address location="jms:jndi:dynamicQueues/test.jmstransport.oneway.with.set.replyto" />
            <jms:clientConfig enforceSpec="false"/>
        </port>
        <port binding="tns:HelloWorldOneWayBinding" name="HelloWorldQueueDecoupledOneWaysReplyPort">
			<soap:address location="jms:jndi:dynamicQueues/test.jmstransport.oneway.with.set.replyto.reply" />
        </port>
    </service>
    <service name="HelloWorldPubSubService">
        <port binding="tns:HelloWorldPubSubBinding" name="HelloWorldPubSubPort">
	        <soap:address location="jms:jndi-topic:dynamicTopics/test.jmstransport.oneway.topic" />
        </port>
    </service>
    <service name="JmsDestinationPubSubService">
        <port binding="tns:HelloWorldPubSubBinding" name="JmsDestinationPubSubPort">
	        <soap:address location="jms:jndi-topic:dynamicTopics/test.jmstransport.oneway.topic.jmsdest" />
        </port>
    </service>
    <service name="JMSSOAPServiceAddressing">
        <port binding="tns:HWJMSAddressingBinding" name="HWJMSAddressingPort">
        	<soap:address location="jms:jndi:dynamicQueues/test.jms.addr.queue&amp;replyToQueueName=dynamicQueues/test.jms.addr.reply.queue" />
            <wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2005/02/addressing/wsdl"/>
        </port>
    </service>
</definitions>
