testutils/src/main/resources/wsdl/no_body_parts.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
             xmlns:tns="urn:cxf:no_body_parts/wsdl"
             xmlns:types="urn:cxf:no_body_parts/types"
             targetNamespace="urn:cxf:no_body_parts/wsdl"
             name="no_body_parts">
<types>
<xsd:schema xmlns:tns="http://ws-i.org/profiles/basic/1.1/xsd" 
            elementFormDefault="qualified" 
            targetNamespace="http://ws-i.org/profiles/basic/1.1/xsd"> 
	<xsd:simpleType name="swaRef"> 
		<xsd:restriction base="xsd:anyURI"/> 
	</xsd:simpleType> 
</xsd:schema>

<xsd:schema xmlns:tns="urn:cxf:no_body_parts/types" 
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
            xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" 
            elementFormDefault="qualified" 
            targetNamespace="urn:cxf:no_body_parts/types">

    <xsd:element name="convertMime">        
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="targetType" type="xsd:string" nillable="true"/>
                <xsd:element name="optionString" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>            
    </xsd:element>
    <xsd:element name="convertMimeResponse"> 
        <xsd:complexType>
            <xsd:sequence>    
                <xsd:element name="status" type="xsd:string" nillable="true"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


</xsd:schema>
</types>

<message name="convertMimeRequest">
    <part name="parameters" element="types:convertMime"/>
    <part name="mimeAttachment" type="xsd:base64Binary"/>
</message>
<message name="convertMimeResponse">
    <part name="result" element="types:convertMimeResponse"/>
    <part name="mimeAttachment" type="xsd:base64Binary"/>
</message>

<portType name="NoBodyPartsSEI">
    <operation name="convertMime">
        <input message="tns:convertMimeRequest"/>
        <output message="tns:convertMimeResponse"/>
    </operation>    
</portType>

<binding name="NoBodyPartsSEIBinding" type="tns:NoBodyPartsSEI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" 
                  style="document"/>
    <operation name="convertMime">
        <soap:operation soapAction=""/>
        <input>
            <mime:multipartRelated>
                <mime:part>
                    <soap:body use="literal"/>
                </mime:part>
                <mime:part>
                    <mime:content part="mimeAttachment" type="application/octet-stream"/>
                </mime:part>
            </mime:multipartRelated>
        </input>
        <output>
            <mime:multipartRelated> 
                <mime:part>
                    <soap:body use="literal"/>
                </mime:part>
                <mime:part>
                    <mime:content part="mimeAttachment" type="application/octet-stream"/>
                </mime:part>
            </mime:multipartRelated>        
        </output>        
    </operation>
</binding>

<service name="NoBodyParts">
    <port name="NoBodyPartsPort" binding="tns:NoBodyPartsSEIBinding">
      <soap:address location="http://localhost/NoBodyParts" />
    </port>
</service>

</definitions>

