testutils/src/main/resources/wsdl/schema_validation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements. See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership. The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License. You may obtain a copy of the License at
 
  http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://apache.org/schema_validation" xmlns:x1="http://apache.org/schema_validation/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloWorld" targetNamespace="http://apache.org/schema_validation">
    <wsdl:types>
        <schema xmlns:x1="http://apache.org/schema_validation/types" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://apache.org/schema_validation/types" elementFormDefault="qualified">
            <simpleType name="RequestIdType">
                <restriction base="xsd:string">
                    <pattern value="[0-9]{10}"/>
                </restriction>
            </simpleType>
            <simpleType name="ResponseTransactionType">
                <restriction base="xsd:string">
                    <pattern value="[a-zA-Z]{10}"/>
                </restriction>
            </simpleType>
            <element name="SomeRequest">
                <complexType>
                    <sequence>
                        <element name="id" type="x1:RequestIdType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="SomeResponse">
                <complexType>
                    <sequence>
                        <element name="transactionId" type="x1:ResponseTransactionType"/>
                    </sequence>
                </complexType>
            </element>
            
            <element name="SomeFault">
                <complexType>
                    <sequence>
                        <element name="errorCode" minOccurs="1" maxOccurs="1" nillable="false">
                        	<simpleType>
                				<restriction base="string">
                	     			<pattern value="[\d]{4}" />
                				</restriction>
            				</simpleType>
                        </element>
                    </sequence>
                </complexType>
            </element>

            
            <element name="SomeRequestWithHeader">
                <complexType>
                    <sequence>
                        <element name="id" type="x1:RequestIdType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="SomeResponseWithHeader">
                <complexType>
                    <sequence>
                        <element name="transactionId" type="x1:ResponseTransactionType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="SomeHeader">
                <complexType>
                    <sequence>
                        <element name="id" type="x1:RequestIdType"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="ComplexStruct">
                <sequence>
                    <element name="elem1" type="string"/>
                    <element name="elem2" type="string"/>
                    <element name="elem3" type="int"/>
                </sequence>
            </complexType>
            <complexType name="OccuringStruct">
                <sequence minOccurs="1" maxOccurs="5">
                    <element name="varFloat" type="float"/>
                    <element name="varInt" type="int" minOccurs="0"/>
                    <element name="varString" type="string"/>
                </sequence>
            </complexType>
            <element name="setComplexStruct">
                <complexType>
                    <sequence>
                        <element name="in" type="x1:ComplexStruct"/>
                    </sequence>
                </complexType>
            </element>
            <element name="setComplexStructResponse">
                <complexType>
                    <sequence>
                        <element name="out" type="boolean"/>
                    </sequence>
                </complexType>
            </element>
            <element name="setOccuringStruct">
                <complexType>
                    <sequence>
                        <element name="in" type="x1:OccuringStruct"/>
                    </sequence>
                </complexType>
            </element>
            <element name="setOccuringStructResponse">
                <complexType>
                    <sequence>
                        <element name="out" type="boolean"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getComplexStruct">
                <complexType>
                    <sequence>
                        <element name="in" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getComplexStructResponse">
                <complexType>
                    <sequence>
                        <element name="out" type="x1:ComplexStruct"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getOccuringStruct">
                <complexType>
                    <sequence>
                        <element name="in" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getOccuringStructResponse">
                <complexType>
                    <sequence>
                        <element name="out" type="x1:OccuringStruct"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="doSomethingRequest">
        <wsdl:part element="x1:SomeRequest" name="in"/>
    </wsdl:message>
    <wsdl:message name="doSomethingResponse">
        <wsdl:part element="x1:SomeResponse" name="in"/>
    </wsdl:message>
    <wsdl:message name="doSomethingFault">
        <wsdl:part element="x1:SomeFault" name="fault"/>
    </wsdl:message>
    <wsdl:message name="doSomethingRequestWithHeader">
        <wsdl:part element="x1:SomeRequestWithHeader" name="in"/>
        <wsdl:part element="x1:SomeHeader" name="inHeader"/>
    </wsdl:message>
    <wsdl:message name="doSomethingResponseWithHeader">
        <wsdl:part element="x1:SomeResponseWithHeader" name="in"/>
    </wsdl:message>
    <wsdl:message name="setComplexStructRequest">
        <wsdl:part element="x1:setComplexStruct" name="in"/>
    </wsdl:message>
    <wsdl:message name="setComplexStructResponse">
        <wsdl:part element="x1:setComplexStructResponse" name="out"/>
    </wsdl:message>
    <wsdl:message name="setOccuringStructRequest">
        <wsdl:part element="x1:setOccuringStruct" name="in"/>
    </wsdl:message>
    <wsdl:message name="setOccuringStructResponse">
        <wsdl:part element="x1:setOccuringStructResponse" name="out"/>
    </wsdl:message>
    <wsdl:message name="getComplexStructRequest">
        <wsdl:part element="x1:getComplexStruct" name="in"/>
    </wsdl:message>
    <wsdl:message name="getComplexStructResponse">
        <wsdl:part element="x1:getComplexStructResponse" name="out"/>
    </wsdl:message>
    <wsdl:message name="getOccuringStructRequest">
        <wsdl:part element="x1:getOccuringStruct" name="in"/>
    </wsdl:message>
    <wsdl:message name="getOccuringStructResponse">
        <wsdl:part element="x1:getOccuringStructResponse" name="out"/>
    </wsdl:message>
    <wsdl:portType name="SchemaValidation">
        <wsdl:operation name="doSomething">
            <wsdl:input message="tns:doSomethingRequest" name="doSomethingRequest"/>
            <wsdl:output message="tns:doSomethingResponse" name="doSomethingResponse"/>
            <wsdl:fault message="tns:doSomethingFault" name="doSomethingFault"/>
        </wsdl:operation>
        <wsdl:operation name="setComplexStruct">
            <wsdl:input message="tns:setComplexStructRequest" name="setComplexStructRequest"/>
            <wsdl:output message="tns:setComplexStructResponse" name="setComplexStructResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setOccuringStruct">
            <wsdl:input message="tns:setOccuringStructRequest" name="setOccuringStructRequest"/>
            <wsdl:output message="tns:setOccuringStructResponse" name="setOccuringStructResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getComplexStruct">
            <wsdl:input message="tns:getComplexStructRequest" name="getComplexStructRequest"/>
            <wsdl:output message="tns:getComplexStructResponse" name="getComplexStructResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getOccuringStruct">
            <wsdl:input message="tns:getOccuringStructRequest" name="getOccuringStructRequest"/>
            <wsdl:output message="tns:getOccuringStructResponse" name="getOccuringStructResponse"/>
        </wsdl:operation>
        <wsdl:operation name="doSomethingWithHeader">
            <wsdl:input message="tns:doSomethingRequestWithHeader" name="doSomethingRequestWithHeader"/>
            <wsdl:output message="tns:doSomethingResponseWithHeader" name="doSomethingResponseWithHeader"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SchemaValidationBinding" type="tns:SchemaValidation">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="doSomething">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="doSomethingFault">
                <soap:fault name="doSomethingFault"  use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="doSomethingWithHeader">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:header message="tns:doSomethingRequestWithHeader" part="inHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setComplexStruct">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setOccuringStruct">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getComplexStruct">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOccuringStruct">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SchemaValidationService">
        <wsdl:port binding="tns:SchemaValidationBinding" name="SoapPort">
            <soap:address location="http://localhost:9900/SoapContext/SoapPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
