systests/jaxws/src/test/resources/wsdl_systest_jaxws/cxf8979.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <!--
                * Licensed to the Apache Software Foundation (ASF) under one * or more
                contributor license agreements. See the NOTICE file * distributed with
                this work for additional information * regarding copyright ownership.
                The ASF licenses this file * to you under the Apache License, Version
                2.0 (the * "License"); you may not use this file except in compliance
                * with the License. You may obtain a copy of the License at * *
                http://www.apache.org/licenses/LICENSE-2.0 * * Unless required by
                applicable law or agreed to in writing, * software distributed under
                the License is distributed on an * "AS IS" BASIS, WITHOUT WARRANTIES
                OR CONDITIONS OF ANY * KIND, either express or implied. See the
                License for the * specific language governing permissions and
                limitations * under the License.
        -->

<xsd:schema
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:test="http://test.namespace/"
		targetNamespace="http://test.namespace/"
		elementFormDefault="qualified"
		attributeFormDefault="qualified">

	<xsd:element name="Root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AbstractElement" type="test:STE_Reproducer" minOccurs="0"/>
				<xsd:element name="ConcreteElement" type="test:STE_ReproducerBasis" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="STE_Reproducer" abstract="true">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="STE_ReproducerBasis" final="#all">
		<xsd:simpleContent>
			<xsd:restriction base="test:STE_Reproducer">
				<xsd:enumeration value="Valid1"/>
				<xsd:enumeration value="Valid2"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>


</xsd:schema>
