rt/bindings/corba/src/test/resources/wsdl_corbabinding/exceptions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<!-- Generated by <idltowsdl> Tool. Version 4.0.0 -->
<definitions name="except" targetNamespace="http://schemas.apache.org/idl/except"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:corba="http://cxf.apache.org/bindings/corba"
    xmlns:corbatm="http://schemas.apache.org/typemap/corba/except"
    xmlns:tns="http://schemas.apache.org/idl/except"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd1="http://schemas.apache.org/idltypes/except">
    <corba:typeMapping targetNamespace="http://schemas.apache.org/typemap/corba/except">
        <corba:struct repositoryID="IDL:ExceptionTest/review_dataResult:1.0" type="xsd1:ExceptionTest.review_dataResult" name="ExceptionTest.review_dataResult" />
        <corba:struct repositoryID="IDL:ExceptionTest/review_data:1.0" type="xsd1:ExceptionTest.review_data" name="ExceptionTest.review_data">
            <corba:member name="data" idltype="corba:string" />
        </corba:struct>
        <corba:exception repositoryID="IDL:BadRecord:1.0" type="xsd1:BadRecord" name="BadRecord">
            <corba:member name="reason" idltype="corba:string" />
            <corba:member name="code" idltype="corba:short" />
        </corba:exception>
    </corba:typeMapping>
    <types>
        <schema targetNamespace="http://schemas.apache.org/idltypes/except"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexType name="BadRecord">
                <sequence>
                    <element name="reason" type="string"/>
                    <element name="code" type="short"/>
                </sequence>
            </complexType>
            <element name="ExceptionTest.review_data">
                <complexType>
                    <sequence>
                        <element name="data" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="ExceptionTest.review_dataResult">
                <complexType>
                    <sequence>
          </sequence>
                </complexType>
            </element>
            <element name="BadRecord" type="xsd1:BadRecord"/>
        </schema>
    </types>
    <message name="ExceptionTest.review_data">
        <part element="xsd1:ExceptionTest.review_data" name="parameters"/>
    </message>
    <message name="ExceptionTest.review_dataResponse">
        <part element="xsd1:ExceptionTest.review_dataResult" name="parameters"/>
    </message>
    <message name="BadRecord">
        <part element="xsd1:BadRecord" name="exception"/>
    </message>
    <portType name="ExceptionTest">
        <operation name="review_data">
            <input message="tns:ExceptionTest.review_data" name="review_data"/>
            <output message="tns:ExceptionTest.review_dataResponse"
                name="review_dataResponse"/>
            <fault message="tns:BadRecord" name="BadRecord"/>
        </operation>
    </portType>
    <binding name="ExceptionTestCORBABinding" type="tns:ExceptionTest">
        <corba:binding repositoryID="IDL:ExceptionTest:1.0" />
        <operation name="review_data">
          <corba:operation name="review_data">
              <corba:param mode="in" name="parameters" idltype="corbatm:ExceptionTest.review_data" />
              <corba:return name="parameters" idltype="corbatm:ExceptionTest.review_dataResult" />
              <corba:raises exception="corbatm:BadRecord" />
          </corba:operation>
          <input name="review_data">
          </input>
          <output name="review_dataResponse">
          </output>
          <fault name="BadRecord">
          </fault>
        </operation>
    </binding>
    <service name="ExceptionTestCORBAService">
        <port name="ExceptionTestCORBAPort" binding="tns:ExceptionTestCORBABinding">
          <corba:address location="corbaloc::localhost:40000/except"/>
        </port>
    </service>
    
</definitions>