rt/bindings/corba/src/test/resources/wsdl_corbabinding/simpleIdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->

<!-- Generated by <idltowsdl> Tool. Version 3.0.2 -->
<definitions
 targetNamespace="http://cxf.apache.org/bindings/corba/simple"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:tns="http://cxf.apache.org/bindings/corba/simple"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:xsd1="http://cxf.apache.org/bindings/corba/simple/types"
 xmlns:corba="http://cxf.apache.org/bindings/corba"
 xmlns:corbatm="http://cxf.apache.org/bindings/corba/simple/idl_types"
 xmlns:references="http://schemas.iona.com/references">
  <types>
    <schema targetNamespace="http://cxf.apache.org/bindings/corba/simple/types"
     xmlns="http://www.w3.org/2001/XMLSchema"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element name="testSimpleMethod">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="param1" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="testSimpleMethodResult">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </schema>
  </types>
  <message name="testSimpleMethod">
    <part name="parameters" element="xsd1:testSimpleMethod"/>
  </message>
  <message name="testSimpleMethodResponse">
    <part name="parameters" element="xsd1:testSimpleMethodResult"/>
  </message>
  <portType name="Simple">
    <operation name="testSimpleMethod">
      <input message="tns:testSimpleMethod" name="testSimpleMethod"/>
      <output message="tns:testSimpleMethodResponse" name="testSimpleMethodResponse"/>
    </operation>
  </portType>
  <binding name="SimpleCORBABinding" type="tns:Simple">
    <corba:binding repositoryID="IDL:Simple:1.0"/>
    <operation name="testSimpleMethod">
      <corba:operation name="testSimpleMethod">
        <corba:param name="param1" mode="in" idltype="corba:string"/>
        <corba:return name="return" idltype="corba:boolean"/>
      </corba:operation>
      <input/>
      <output/>
    </operation>
  </binding>
  <service name="SimpleCORBAService">
    <port name="SimpleCORBAPort" binding="tns:SimpleCORBABinding">
      <corba:address location="corbaloc::localhost:40000/Simple"/>
    </port>
  </service>
</definitions>
