tools/javato/ws/src/test/resources/org/apache/cxf/tools/java2wsdl/processor/expected/add_numbers_expected.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AddNumbersImplService" targetNamespace="http://fortest.tools.cxf.apache.org/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://fortest.tools.cxf.apache.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://fortest.tools.cxf.apache.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://fortest.tools.cxf.apache.org/">
  <xs:element name="addNumbers" type="tns:addNumbers"/>
  <xs:element name="addNumbers2" type="tns:addNumbers2"/>
  <xs:element name="addNumbers2Response" type="tns:addNumbers2Response"/>
  <xs:element name="addNumbers3" type="tns:addNumbers3"/>
  <xs:element name="addNumbers3Response" type="tns:addNumbers3Response"/>
  <xs:element name="addNumbersResponse" type="tns:addNumbersResponse"/>
  <xs:complexType name="addNumbers">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addNumbersResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addNumbers3">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addNumbers3Response">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addNumbers2">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addNumbers2Response">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddNumbersException" type="tns:AddNumbersException"/>
  <xs:complexType name="AddNumbersException">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addNumbersResponse">
    <wsdl:part name="parameters" element="tns:addNumbersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addNumbers2Response">
    <wsdl:part name="parameters" element="tns:addNumbers2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addNumbers2">
    <wsdl:part name="parameters" element="tns:addNumbers2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddNumbersException">
    <wsdl:part name="AddNumbersException" element="tns:AddNumbersException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addNumbers">
    <wsdl:part name="parameters" element="tns:addNumbers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addNumbers3">
    <wsdl:part name="parameters" element="tns:addNumbers3">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addNumbers3Response">
    <wsdl:part name="parameters" element="tns:addNumbers3Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AddNumbersImpl">
    <wsdl:operation name="addNumbers">
      <wsdl:input name="addNumbers" message="tns:addNumbers" wsaw:Action="http://cxf.apache.org/input">
    </wsdl:input>
      <wsdl:output name="addNumbersResponse" message="tns:addNumbersResponse" wsaw:Action="http://cxf.apache.org/output">
    </wsdl:output>
      <wsdl:fault name="AddNumbersException" message="tns:AddNumbersException" wsam:Action="http://fortest.tools.cxf.apache.org/AddNumbersImpl/addNumbers/Fault/AddNumbersException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addNumbers3">
      <wsdl:input name="addNumbers3" message="tns:addNumbers3" wsaw:Action="http://cxf.apache.org/input3">
    </wsdl:input>
      <wsdl:output name="addNumbers3Response" message="tns:addNumbers3Response" wsaw:Action="http://cxf.apache.org/output3">
    </wsdl:output>
      <wsdl:fault name="AddNumbersException" message="tns:AddNumbersException" wsam:Action="http://cxf.apache.org/fault3" wsaw:Action="http://cxf.apache.org/fault3">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addNumbers2">
      <wsdl:input name="addNumbers2" message="tns:addNumbers2" wsam:Action="http://fortest.tools.cxf.apache.org/AddNumbersImpl/addNumbers2Request">
    </wsdl:input>
      <wsdl:output name="addNumbers2Response" message="tns:addNumbers2Response" wsam:Action="http://fortest.tools.cxf.apache.org/AddNumbersImpl/addNumbers2Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddNumbersImplServiceSoapBinding" type="tns:AddNumbersImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing wsdl:required="false"/>
    <wsp:PolicyReference URI="#AddNumbersImplServiceSoapBinding_WSAM_Addressing_Policy"/>
    <wsdl:operation name="addNumbers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addNumbers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addNumbersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddNumbersException">
        <soap:fault name="AddNumbersException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addNumbers3">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addNumbers3">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addNumbers3Response">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddNumbersException">
        <soap:fault name="AddNumbersException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addNumbers2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addNumbers2">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addNumbers2Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddNumbersImplService">
    <wsdl:port name="AddNumbersImplPort" binding="tns:AddNumbersImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/AddNumbersImplPort"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:Policy wsu:Id="AddNumbersImplServiceSoapBinding_WSAM_Addressing_Policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsam:Addressing wsp:Optional="true"><wsp:Policy/></wsam:Addressing></wsp:Policy>
</wsdl:definitions>