systests/src/test/resources/wsdl/add_numbers-fromjava.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
-->

<wsdl:definitions name="AddNumberImplService" targetNamespace="http://server.addr_fromjava.ws.systest.cxf.apache.org/" 
		  xmlns:tns="http://server.addr_fromjava.ws.systest.cxf.apache.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
		  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.addr_fromjava.ws.systest.cxf.apache.org/" 
		    attributeFormDefault="unqualified" elementFormDefault="unqualified" 
		    targetNamespace="http://server.addr_fromjava.ws.systest.cxf.apache.org/">
	    <xsd:element name="AddNumbersException" type="tns:AddNumbersException"/>
	    <xsd:complexType name="AddNumbersException">
		<xsd:sequence/>
	    </xsd:complexType>
	    <xsd:element name="addNumbers3" type="tns:addNumbers3"/>
	    <xsd:complexType name="addNumbers3">
		<xsd:sequence>
		    <xsd:element name="arg0" type="xsd:int"/>
		    <xsd:element name="arg1" type="xsd:int"/>
		</xsd:sequence>
	    </xsd:complexType>
	    <xsd:element name="addNumbers3Response" type="tns:addNumbers3Response"/>
	    <xsd:complexType name="addNumbers3Response">
		<xsd:sequence>
		    <xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	    </xsd:complexType>
	    <xsd:element name="addNumbers2" type="tns:addNumbers2"/>
	    <xsd:complexType name="addNumbers2">
		<xsd:sequence>
		    <xsd:element name="arg0" type="xsd:int"/>
		    <xsd:element name="arg1" type="xsd:int"/>
		</xsd:sequence>
	    </xsd:complexType>
	    <xsd:element name="addNumbers2Response" type="tns:addNumbers2Response"/>
	    <xsd:complexType name="addNumbers2Response">
		<xsd:sequence>
		    <xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	    </xsd:complexType>
	    <xsd:element name="addNumbers" type="tns:addNumbers"/>
	    <xsd:complexType name="addNumbers">
		<xsd:sequence>
		    <xsd:element name="arg0" type="xsd:int"/>
		    <xsd:element name="arg1" type="xsd:int"/>
		</xsd:sequence>
	    </xsd:complexType>
	    <xsd:element name="addNumbersResponse" type="tns:addNumbersResponse"/>
	    <xsd:complexType name="addNumbersResponse">
		<xsd:sequence>
		    <xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	    </xsd:complexType>
	</xsd:schema>
    </wsdl:types>
    <wsdl:message name="addNumbers2Response">
	<wsdl:part name="parameters" element="tns:addNumbers2Response">
	</wsdl:part>
    </wsdl:message>
    <wsdl:message name="addNumbers2">
	<wsdl:part name="parameters" element="tns:addNumbers2">
	</wsdl:part>
    </wsdl:message>
    <wsdl:message name="addNumbers3Response">
	<wsdl:part name="parameters" element="tns:addNumbers3Response">
	</wsdl:part>
    </wsdl:message>
    <wsdl:message name="addNumbers">
	<wsdl:part name="parameters" element="tns:addNumbers">
	</wsdl:part>
    </wsdl:message>
    <wsdl:message name="addNumbers3">
	<wsdl:part name="parameters" element="tns:addNumbers3">
	</wsdl:part>
    </wsdl:message>
    <wsdl:message name="AddNumbersException">
	<wsdl:part name="AddNumbersException" element="tns:AddNumbersException">
	</wsdl:part>
    </wsdl:message>
    <wsdl:message name="addNumbersResponse">
	<wsdl:part name="parameters" element="tns:addNumbersResponse">
	</wsdl:part>
    </wsdl:message>

    <wsdl:portType name="AddNumberImpl">
	<wsdl:operation name="addNumbers">
	    <wsdl:input name="addNumbers" message="tns:addNumbers" wsaw:Action="http://cxf.apache.org/input"/>
	    <wsdl:output name="addNumbersResponse" message="tns:addNumbersResponse" wsaw:Action="http://cxf.apache.org/output"/>
	    <wsdl:fault name="AddNumbersException" message="tns:AddNumbersException"/>
	</wsdl:operation>
	<wsdl:operation name="addNumbers2">
	    <wsdl:input name="addNumbers2" message="tns:addNumbers2"/>
	    <wsdl:output name="addNumbers2Response" message="tns:addNumbers2Response"/>
	</wsdl:operation>
	<wsdl:operation name="addNumbers3">
	    <wsdl:input name="addNumbers3" message="tns:addNumbers3" wsaw:Action="http://cxf.apache.org/input3"/>
	    <wsdl:output name="addNumbers3Response" message="tns:addNumbers3Response" wsaw:Action="http://cxf.apache.org/output3"/>
	    <wsdl:fault name="AddNumbersException" message="tns:AddNumbersException" wsaw:Action="http://cxf.apache.org/fault3"/>
	</wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AddNumberImplServiceSoapBinding" type="tns:AddNumberImpl">
	<wsaw:UsingAddressing/>
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	<wsdl:operation name="addNumbers3">
	    <soap:operation soapAction="" style="document"/>
	    <wsdl:input name="addNumbers3">
		<soap:body use="literal"/>
	    </wsdl:input>
	    <wsdl:output name="addNumbers3Response">
		<soap:body use="literal"/>
	    </wsdl:output>
	    <wsdl:fault name="AddNumbersException">
		<soap:fault name="AddNumbersException" use="literal"/>
	    </wsdl:fault>
	</wsdl:operation>
	<wsdl:operation name="addNumbers2">
	    <soap:operation soapAction="" style="document"/>
	    <wsdl:input name="addNumbers2">
		<soap:body use="literal"/>
	    </wsdl:input>
	    <wsdl:output name="addNumbers2Response">
		<soap:body use="literal"/>
	    </wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="addNumbers">
	    <soap:operation soapAction="" style="document"/>
	    <wsdl:input name="addNumbers">
		<soap:body use="literal"/>
	    </wsdl:input>
	    <wsdl:output name="addNumbersResponse">
		<soap:body use="literal"/>
	    </wsdl:output>
	    <wsdl:fault name="AddNumbersException">
		<soap:fault name="AddNumbersException" use="literal"/>
	    </wsdl:fault>
	</wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AddNumberImplService">
	<wsdl:port name="AddNumberImplPort" binding="tns:AddNumberImplServiceSoapBinding">
	    <soap:address location="http://localhost:9093/AddNumberImplPort"/>
	</wsdl:port>
    </wsdl:service>
</wsdl:definitions>